<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="http://front.laji-test.luomus.fi/favicon.ico">

  <title>{{ title }}</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pyha/styles.css' %}" />
</head>
<body>
<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://beta.laji.fi/">LAJI.FI</a>
      </div>
      {% if email %}
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/pyha/">Pyynnöt</a></li>  
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{email}} <span class="glyphicon glyphicon-user"></span></a></li>
        <li><a href="/pyha/logout/">Kirjaudu ulos <span class="glyphicon glyphicon-log-out"></span></a></li>
        <li><a href="#">Fi <span class="glyphicon glyphicon-globe"></span></a></li>
    </ul>
      </div>
      {% endif %}
    </div>
  </nav>
{% block content %}
{% endblock %}
<footer class="footer">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h3>Suomen Lajitietokeskus</h3>
          <p>Suomen Lajitietokeskus -hanke kokoaa Suomen eliölajistostatietoa yhteen paikkaan –avoimeen käyttöön. Lue
            lisää hankkeesta ja sen tavoitteista ja aikatauluista.</p>
        </div>
        <div class="col-sm-3">
          <h3>Tiedonhallinta</h3>
          <ul>
            <li>Aineistopolitiikka</li>
            <li>Tietovarasto</li>
            <li>Pitkäaikaissäilytys</li>
            <li>Taksonominen tietokanta</li>
            <li>Laadunvarmistus</li>
            <li>Annotointi -keskustelu</li>
            <li>Sensitiivinen aineisto</li>
            <li>Käyttölisenssit</li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h3>Tietotekniset palvelut</h3>
          <ul>
            <li>Kokoelmahallinta</li>
            <li>Havaintopalvelu</li>
            <li>Analyysipalvelut</li>
            <li>Aineistojen metatiedot</li>
            <li>Viranomaispalvelut</li>
            <li>Digitointi</li>
            <li>Rajapinnat / API</li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h3>Muut palvelut</h3>
          <ul>
            <li>Vieraslaji.fi</li>
            <li>BirdLife -Tiira</li>
            <li>Hyönteistietokanta</li>
            <li>Perhos…</li>
            <li>Jne…</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
$(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>

</body>
</html>