{% extends "pyha/base.html" %}
{% block content %}
{% load i18n %}
<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">{% trans "Toggle_navigation" %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://beta.laji.fi/">LAJI.FI</a>
      </div>
      {% if email %}
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'pyha:index' %}">{% trans "all_requests" %}</a></li>  
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a class="nohover" >{{email}} <span class="glyphicon glyphicon-user"></span></a></li>
        <li><a href="{% url 'pyha:logout' %}">{% trans "logout" %} <span class="glyphicon glyphicon-log-out"></span></a></li>
		
		{% if role %}
		<div class="dropdown">
		<form id='role_form' action="{% url 'pyha:change_role' %}" method="post"
            data-currenturl='{{ request.path }}'
            data-currentfullurl='{{ request.get_full_path }}'>

		<button type="button" onclick="roleFunction()" class="dropbtn">{% if request.session.current_user_role == 'handler' %}{% trans "admin" %}{% else %}{% trans "user" %}{% endif %} {% csrf_token %}<span class="glyphicon glyphicon-eye-open"></span></button>

			<div id="roleDropdown" class="dropdown-content">			
              <a onclick='roleSubmit("user")' name="role" id="role">{% trans "user" %}</a>
              <a onclick='roleSubmit("handler")' name="role" id="role">{% trans "admin" %}</a>
			  
			</div>
		</div>
		<input type="hidden" id="next" name="next" value={{request.path}}>
		<input id='role_form_select' name="role" type="hidden" value="">
		</form>
		{% endif %}
		
        {% get_current_language as LANGUAGE %}
		<div class="dropdown">
		<form id='language_form' action="{% url 'set_language' %}" method="post"
            data-currenturl='{{ request.path }}'
            data-currentfullurl='{{ request.get_full_path }}'>
		<button type="button" onclick="myFunction()" class="dropbtn">{{LANGUAGE}}{% csrf_token %} <span class="glyphicon glyphicon-globe"></span></button>
			<div id="myDropdown" class="dropdown-content">
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              
              {% for language in languages %}
              <a onclick='submit("{{ language.code }}")' name="code" id="code">{{ language.code }}</a>
              {% endfor %}
			  
			</div>
		<input id='language_form_select' name="language" type="hidden" value="">
		</form>
          
      


    </ul>
      </div>
      {% endif %}
    </div>
  </nav>
{% endblock %}