{% extends "pyha/base.html" %}
{% block content %}

    <div class="container-fluid">
    <div class="col-sm-9 col-lg-10">
      <div class="page-header">
        <h2>{{maintext}}</h2>
      </div>
      {% if requests %}
      <h2>Lista tekemistäsi pyynnöistä:</h2>
  <p>description</p>            
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Kuvaus</th>
        <th>Päiväs</th>	
        <th>Osumia</th>
        <th>Pyynnön tila</th>
      </tr>
    </thead>
    <tbody>
        
    {% for request in requests %}
        
        
        {% if request.status == 1 %}
            <tr class="info clickable-row"
        {% elif request.status == 3 %}
            <tr class="danger clickable-row"
        {% elif request.status == 2 %}
            <tr class="warning clickable-row"
        {% elif request.status == 0 %}
            <tr class="active clickable-row"
        {% elif request.status == 4 %}
            <tr class="success clickable-row"
        {% else %}  
            <tr	
        {% endif %}
            data-href="request/{{request.order}}"
               >
            <td>{{request.description}}</td>
            <td>{{request.date}}</td>
            <td>{{request.approximateMatches}}</td>
            
            {% if request.status == 1 %}
                <td>Käsittelyssä</td>
                
            {% elif request.status == 3 %}
                <td>Hylätty</td>
                
            {% elif request.status == 2 %}
                <td>Osittain Hyväksytty</td>
                
            {% elif request.status == 0 %}
                <td>Lähettämättä</td>
                
            {% elif request.status == 4 %}
                <td>Hyväksytty</td>  
            {% else %}  
                <td>Tuntematon</td>	
            {% endif %}
        
            
        </tr>
        
	{% endfor %}
    
	{% else %}
		<strong> Kannassa ei ole pyyntöjä.</strong>
	{% endif %}
    </tbody>
  </table>
    </div>
  <!--
    <div class="col-sm-3 col-lg-2 side-bar">
  
    </div>
  -->
  </div>
{% endblock %}