<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type">

  <title>MockJson</title>


<body>

<form action="../../api/request/" method="post" accept-charset="UTF-8">
  <textarea name = "JSON" rows="60" cols="100">
	
{
 "id": "HBF.6F58A973-73F0-4403-A26B-B79FD7C1031A",
 "source": "KE.398",
 "personId": "MA.309",
 "approximateMatches": 17,
 "requested": "2016-11-30",
 "downloadFormat": "CSV_FLAT",
 "downloadIncludes": [
   
 ],
 "filters": [
   {
     "target": [
       "aves"
     ]
   },
   {
     "secured": "true"
   }
 ],
 "collections": [
   {
     "id": "HR.447",
     "conservationReasonCount": 17,
     "customReasonCount": 122
   },
   {
     "id": "HR.39",
     "conservationReasonCount": 82,
     "customReasonCount": 11
   },
   {
     "id": "HR.48",
     "customReasonCount": 25
   }
 ]
}
  </textarea>
  <input type="submit">
</form>

</body>
</html>

