<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type">

  <title>MockJson</title>


<body>

<form action="../../api/request/" method="post" accept-charset="UTF-8">
  <textarea name = "JSON" rows="60" cols="100">
	{
	"id": "http://tun.fi/HBF.C60AB314-43E9-41F8-BB7D-0775773B16BD",
	"source": "KE.398",
	"email": "pyhatestaaja@gmail.com",
	"approximateMatches": 1742,
	"downloadFormat": "CSV_FLAT",
	"downloadIncludes": [
	  "DOCUMENT_FACTS",
	  "GATHERING_FACTS",
	  "UNIT_FACTS"
	],
	"filters": [
		{
			"target": [
				"linnut",
				"nisäkkäät"
			]
		},
		{
			"time": [
				"2000/"
			]
		}
	],
	"collections": [
		{
			"id": "http://tun.fi/HR.39",
			"count": 1031
		},
		{
			"id": "http://tun.fi/HR.447",
			"count": 904
		},
		{
			"id": "http://tun.fi/HR.60",
			"count": 14
		}
	]
	}
  </textarea>
  <input type="submit">
</form>

</body>
</html>

