{% extends "pyha/base.html" %}
{% block content %}
{% load i18n %}

	<div class="container-fluid">
		<div class="col-xs-12">
		  <div class="page-header"> 

			<h1>{% trans "request_for_user" %}: {{userRequest.date|date:"d.m.Y    H:i"}}
				{% if userRequest.description and userRequest.description.strip %}
					{{userRequest.description}}
					<button class= "btn btn-default btn-xs" data-toggle="collapse" data-target="#descriptionEdit" id="descriptionButton"><span class="glyphicon glyphicon-pencil"></span></button>
				{% else %}
					{% trans "no_description" %}
				{% endif %}
			</h1>
			<!-- lomake kuvauksen muuttamiseen -->
				<div id="descriptionEdit" class="collapse" style="margin:20px 0 25px 0">
					<form class="form-inline" action="{% url 'pyha:description' %}" method="post" id ="description-form">
						<div class="form-group">
							
							<div class="col-12" style="clear: left;">
								<label for="description">Kuvaus:</label>
							</div>
							
							<div class="col-12" style="clear: left;">
								<textarea class="form-control" name = "description" id="description" rows="2" maxlength="200" style="width:50%;min-width:300px" >{{userRequest.description}}</textarea>
								<!--<input type="text" class="form-control" id="description" name="description" 
										value={{userRequest.description}} style="width: 300px;height: 50px"> -->
								<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
								<input type="hidden" id="next" name="next" value={{request.path}}>
							</div>
						
							<div class="col-12" style="clear: left;">
								<button type="submit" class="btn btn-default">{% trans "change" %}</button>
							</div>
							
							<p id="description" class="form-text text-muted">
							{% trans "A description is a voluntary way to name your request. Without it the requests title will be the requests date" %}.
							<!-- Kuvaus on vapaaehtoinen tapa nimetä pyyntö. Ilman sitä pyynnön otsikkona käytetään päiväystä, jolloin pyyntö on tehty. -->
							</p>
						</div>
						{% csrf_token %}
					</form>
				</div>
					
				<h2>{{userRequest.date|date:"d.m.Y    H:i"}}</h2>
			<h2><span style="white-space: nowrap;">(
					<span
					{% if userRequest.status == 1 %}
						 style="color:#AABBDD;"
					{% elif userRequest.status == 3 %}
						 style="color:#DDBBAA;"
					{% elif userRequest.status == 4 %}
						 style="color:#99DD99;"
					{% elif userRequest.status == 2 %}
						 style="color:#BBBB77;"
					{% else %}
						
					{% endif %}
					> 
					{% if userRequest.status == 1 %}
					{% trans "waiting_for_data_provider" %}
					
					{% elif userRequest.status == 2 %}
					{% trans "partially_accepted" %}
					
					{% elif userRequest.status == 3 %}
					{% trans "denied" %}
					
					{% elif userRequest.status == 4 %}
					{% trans "accepted" %}
					
					{% else %}  
					{% trans "unknown" %}
					
					{% endif %}
					
					</span>
					)
				</span></h2>
		  </div>

			<div class="outer">
				<div class="floatcontainer">
					<div class="inner" id="requestLog_list" style="overflow-y: scroll;">
						{% if requestLog_list %}
						<h4>{% trans "Muutoshistoria" %}</h4>
							<table class="inner, table-bordered">
								<tr>
									<th>{% trans "Päiväys" %}</th>	
									<th>{% trans "Tekijä" %}</th>
									<th>{% trans "Kuvaus" %}</th>
								</tr>
							{% for requestLog in requestLog_list %}
							<tr>
								<td>{{requestLog.date|date:"d.m.Y    H:i"}}</td>
								{% if requestLog.role == 'handler' %}
								<td>{% trans "Pyynnön käsittelijä" %}</td>
								{% elif requestLog.role == 'MA.sensitiveInformationApprovalRequestHandler' %}
								<td>{% trans "Sensitiivisen tiedon käsittelijä" %}</td>
								{% elif requestLog.role == 'MA.downloadRequestHandler' %}
								<td>{% trans "Aineiston toimittaja" %}</td>
								{% elif requestLog.role == 'MA.sensitiveInformationApprovalRequestHandler and MA.downloadRequestHandler' %}
								<td>{% trans "Sensitiivisen ja aineistokohtaisen tiedon käsittelijä" %}</td>
								{% elif requestLog.role == 'user' and userRequest.user == request.session.user_id %}
								<td>{{requestLog.name}}</td>
								{% else %}
								<td>{% trans "Käyttäjä" %}</td>
								{% endif %}
								{% if requestLog.action == 'VIEW' %}
								<td>{% trans "Katsottu" %}</td>
								{% elif requestLog.action == 'ACC' %}
								<td>{% trans "Ehdot hyväksytty" %}</td>
								{% elif requestLog.action == 'POS' %}
									{% if requestLog.collection == None %}
									<td>{% trans "Sensitiiviset hyväksytty" %}</td>
									{% else %}
									<td>{% trans "Aineisto hyväksytty" %} ({{ requestLog.collection}})</td>
									{% endif %}
								{% elif requestLog.action == 'NEG' %}
									{% if requestLog.collection == None %}
									<td>{% trans "Sensitiiviset hylätty" %}</td>
									{% else %}
									<td>{% trans "Aineisto hylätty" %} ({{ requestLog.collection}})</td>
									{% endif %}
								{% endif %}
								</tr>
							{% endfor %}
							</table>
						{% else %}
							<strong>{% trans "Muutoshistoria on tyhjä" %}.</strong>
						{% endif %}
					</div>
				</div>
			</div>

				<h2>{% trans "request_filters" %}</h2>

				<button class= "btn btn-default" data-toggle="collapse" data-target="#filterlist" id="filterbutton">{% trans "show" %}</button>
				<div id="filterlist" class="collapse">	

					{% if filters %}
						<table class = "table" style="width:100%">
							<tr style=color:black>
								<th>{% trans "filter" %}</th>
								<th>{% trans "values" %}</th>	
							</tr>	
							{% for filter in filters %}
							<tr>	
								<td rowspan={{filter.1|length}}>{{ filter.2 }}</td>
								{% for f in filter.1 %}
								<td>{{ f }}</td>
							</tr>
								<tr>
								{% endfor %}
								</tr>
							{% endfor %}
						</table>
					{% else %}
						<strong>{% trans "no_filters" %}.</strong>
					{% endif %}
				</div>
					
				<!-- aineistolista -->
				
				{% if collections %}
					{% if taxon %}
						<h2>{% trans "request_included_sensitive_data" %}:</h2>
						<p>{% trans "Collections including sensitive sightings are marked with symbol"%}. <span class="glyphicon glyphicon-eye-open" style="color:red;"></span></p> 
						<button type="button" class="btn btn-default btn-sm" required data-toggle="modal" data-target="#myModalsens">{% trans "terms" %}</button>

								<div class="modal fade" id="myModalsens" tabindex="-1" role="dialog" aria-labelledby="sensiModalLabel">
								  <div class="modal-lg modal-dialog" role="document">
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">{% trans "sensitive_terms" %}</h4>
									  </div>
									  <div class="modal-body">
										{% load static %}
										<object data= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
											<alt>{% trans "If_you_cannot_see_terms_you_can_load_them" %} <a href="{{ static }}pyha/ehdot.pdf">{% trans "here" %}</a></alt>
											<embed src= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
										</object>
									  </div>
									  <div class="modal-footer">
										<input type="checkbox" id ="checkbsens" name="checkb" value="sens" onchange="checksens(); checkForApproval();">
										{% trans "I have read and understood the terms" %}<br>
										<p></p>
										<script>checksens();</script>
										<button type="button" class="btn btn-default" data-dismiss="modal" id=>{% trans "exit" %}</button>
									  </div>
									</div>
								  </div>
								</div>
							{% if userRequest.sensstatus == 0 %}
							<h2>{% trans "You don't want sensitive data"%}</h2>
							{% else %}
							<h2>{% trans "Decision for admitting sensitive data"%}</h2>
							<table class="table" style="width:100%">
								<tr style=color:black>
								<th>{% trans "state_of_processing" %}</th>
								<th>{% trans "decision_arguments" %}</th>
								</tr>
								{% if userRequest.sensstatus == 1 %}
								<tr class="info clickable-row"
								{% elif userRequest.sensstatus == 3 %}
								<tr class="danger clickable-row"
								{% elif userRequest.sensstatus == 4 %}
								<tr class="success clickable-row"
								{% else %}  
								<tr	
								{% endif %}
								>
								{% if userRequest.sensstatus == 1 %}
								<td>{% trans "waiting_for_data_provider" %}</td>
								{% elif userRequest.sensstatus == 3 %}
								<td>{% trans "denied" %}</td>
								{% elif userRequest.sensstatus == 2 %}
								<td>{% trans "partially_accepted" %}</td>
								{% elif userRequest.sensstatus == 4 %}
								<td>{% trans "accepted" %}</td>
								{% else %}  
								<td>{% trans "unknown" %}</td>	
								{% endif %}
								<td>
								{% if userRequest.sensDecisionExplanation == None %}
								<p>-</p>
								{% else %}
								<p>{{userRequest.sensDecisionExplanation}}</p>
								{% endif %}
								</td>
								</tr>
							</table>
							{% endif %}
					{% endif %}
				<br></br>
				{% if collections %}
				<h2>{% trans "collections_in_request" %}:</h2>
						<table class="table" style="width:100%">
							<tr style=color:black>
								<th>{% trans "collection_for_user" %}</th>
								<th>{% trans "request_description" %}</th>
								<th>{% trans "secured_by_data_provider" %}</th>
								<th>{% trans "generally_secured" %}</th>
								<th>{% trans "state_of_processing" %}</th>
								<th>{% trans "terms" %}</th>
								{% if userRequest.status != 1 %}
								<th>{% trans "cause" %}</th>
								{% endif %}
							</tr>	
							{% for collection in collections %}
								{% if collection.status == 1 %}
								<tr class="info clickable-row"
								{% elif collection.status == 3 %}
								<tr class="danger clickable-row"
								{% elif collection.status == 4 %}
								<tr class="success clickable-row"
								{% elif collection.taxonSecured > 0 %}
									{% if userRequest.sensstatus == 1 %}
									<tr class="info clickable-row"
									{% elif userRequest.sensstatus == 3 %}
									<tr class="danger clickable-row"
									{% elif userRequest.sensstatus == 4 %}
									<tr class="success clickable-row"
									{% endif %}  
								{% else %}  
								<tr	
								{% endif %}
								>
								<td>{{collection.result.collectionName}}{% if collection.taxonSecured > 0 %} <span class="glyphicon glyphicon-eye-open" style="color:red;"></span> {% endif %}</td>
								<td>{{collection.result.description}}</td>
								<td>{{collection.customSecured}}</td>
								<td>{{collection.taxonSecured}}</td>

								
								{% if collection.status == 1 %}
								<td>{% trans "waiting_for_data_provider" %}</td>
								{% elif collection.status == 3 %}
								<td>{% trans "denied" %}</td>
								{% elif collection.status == 2 %}
								<td>{% trans "partially_accepted" %}</td>
								{% elif collection.status == 4 %}
								<td>{% trans "accepted" %}</td>
								{% elif collection.taxonSecured > 0 %}
								<td>{% trans "Admission_for_sensitive_data" %}</td>
								{% else %}  
								<td>{% trans "unknown" %}</td>	
								{% endif %}
								<td><button type="button" class="btn btn-default btn-sm" required data-toggle="modal" data-target="#myModal{{ forloop.counter0 }}">{% trans "terms" %}</button></td>
								<!-- Modal -->
								<div class="modal fade" id="myModal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  <div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">{% trans "Terms of use of the collections" %}</h4>
									  </div>
									  <div class="modal-body">
										{% load static %}
										<object data= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
											<alt>{% trans "If_you_cannot_see_terms_you_can_load_them" %} <a href="{{ static }}pyha/ehdot.pdf">{% trans "here" %}</a></alt>
											<embed src= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
										</object>
									  </div>
									  <div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal" id=>{% trans "exit" %}</button>
									  </div>
									</div>
								  </div>
								</div>
							
							<td>{% if collection.decisionExplanation %}{{collection.decisionExplanation}}{% endif %}</td>
							{% endfor %}
						</table>
					{% endif %}
						</div>
					</form>
					{% else %}
						<strong> {% trans "no_collections_for_requests" %}.</strong>
					{% endif %}
		</div>

	  </div>
{% endblock %}

{% block script %}
	<script>
	$(document).ready(function(){
	  $("#filterlist").on("hide.bs.collapse", function(){
		$("#filterbutton").html('Näytä');
	  });
	  $("#filterlist").on("show.bs.collapse", function(){
		$("#filterbutton").html('Piilota');
	  });
	});
	</script>
	
	<!-- näytä kuvauksen muokkaus elementti jos kuvauksen pituus on 0 -->
	<script>
	$(document).ready(function(){
		var descExists = {{ userRequest.description.strip|length }};
		if (descExists == 0) {
			$("#descriptionEdit").show();
		}
	});
	</script>
	
	<!-- oma scripti kuvauksen muokkausnapille show/hide -->
	<script>
	$(document).ready(function(){
	  $("#descriptionEdit").on("hide.bs.collapse", function(){
		$("#descriptionButton").html('<span class="glyphicon glyphicon-pencil"></span>');
	  });
	  $("#descriptionEdit").on("show.bs.collapse", function(){
		$("#descriptionButton").html('Piilota');
	  });
	});
	
	</script>
{% endblock %}

{% block modal %}
{% endblock %}
