{% extends "pyha/base.html" %}
{% block content %}
{% load i18n %}

	<div class="container-fluid">
		<div class="col-xs-12">
			<div class="page-header" id="request_header">
				<!--  requestheader.html snippet appears here -->
			</div>
			
			<!-- suodatinlista -->
			<h3>{% trans "request_filters" %}:</h3>

			<button class= "btn btn-default" data-toggle="collapse" data-target="#filterlist" id="filterbutton">{% trans "show" %}</button>
			<div id="filterlist" class="collapse">

				{% if filters %}
					<table class = "table" style="width:100%">
						<tr style=color:black>
							<th>{% trans "filter" %}</th>
							<th>{% trans "values" %}</th>
						</tr>	
						{% for filter in filters %}
						<tr>	
							<td rowspan={{filter.1|length}}>{{ filter.2 }}</td>
							{% for f in filter.1 %}
							<td>{{ f }}</td>
						</tr>
							<tr>
							{% endfor %}
							</tr>
						{% endfor %}
					</table>
				{% else %}
					<strong>{% trans "no_filters" %}.</strong>
				{% endif %}
			</div>
			
			<!-- aineistolista -->
			{% if collections %}
			<form action="{% url 'pyha:approve' %}" id="requestform" method="post">

				<div class="col-xs-12">
					<div class="row">
						<h2>{% trans 'approval_of_terms' %} </h2>
						<section>
							<div class="wizard">
								<div class="wizard-inner">
									<div class="connecting-line"></div>
									<ul class="nav nav-tabs" role="tablist">

										<li role="presentation" class="active">
											<a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="{% trans 'sensitivity_tab' %}">
												<span class="round-tab">
													<i>1</i>
												</span>
											</a>
										</li>

										<li role="presentation" class="disabled">
											<a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="{% trans 'collections_tab'%}">
												<span class="round-tab">
													<i>2</i>
												</span>
											</a>
										</li>

										<li role="presentation" class="disabled">
											<a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="{% trans 'arguments_tab'%}">
												<span class="round-tab">
													<i>3</i>
												</span>
											</a>
										</li>

										<li role="presentation" class="disabled">
											<a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="{% trans 'summary_tab'%}">
												<span class="round-tab">
													<i class="glyphicon glyphicon-ok"></i>
												</span>
											</a>
										</li>                
									</ul>
								</div>

								<form role="form">
									<div class="tab-content">
										<div class="tab-pane active" role="tabpanel" id="step1">
											<div id="senstable" class="form-group">
											<!--  requestformtaxon.html snippet appears here -->
											</div>
											<div class="modal fade" id="myModalsens" tabindex="-1" role="dialog" aria-labelledby="sensiModalLabel">
													<div class="modal-lg modal-dialog" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="modal-title" id="myModalLabel">{% trans "sensitive_terms" %}</h4>
															</div>
															<div class="modal-body">
																{% load static %}
																	<object data= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
																		<alt>{% trans "If_you_cannot_see_terms_you_can_load_them" %} <a href="{{ static }}pyha/ehdot.pdf">{% trans "here" %}</a></alt>
																		<embed src= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
																	</object>
															</div>
															<div class="modal-footer">
																<input type="checkbox" id ="checkbsens" name="checkb" value="sens" onchange="checksens(); checkForApproval();">
																{% trans "i_accept_terms" %}<br>
																<p></p>
																<button type="button" class="btn btn-default" data-dismiss="modal" id=>{% trans "exit" %}</button>
															</div>
														</div>
													</div>
												</div>  
											</div>  
										<div class="tab-pane" role="tabpanel" id="step2">
											<div id="customtable" class="form-group">
											<!--  requestformcustom.html snippet appears here -->
											</div>
											{% for collection in customlist %}
											<!-- Modal -->
												<div class="modal fade" id="myModal{{ collection.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
													<div class="modal-lg modal-dialog" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="modal-title" id="myModalLabel">{% trans "sensitive_terms" %}</h4>
															</div>
														<div class="modal-body">
														{% load static %}
															<object data= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
																<alt>{% trans "If_you_cannot_see_terms_you_can_load_them" %} <a href="{{ static }}pyha/ehdot.pdf">{% trans "here" %}</a></alt>
																<embed src= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
															</object>
														</div>
															<div class="modal-footer">
																<input type="checkbox" id ="checkb{{ collection.id }}" name="checkb" value="{{collection.result.id}}"
																onchange="check({{ collection.id }}); checkForApproval();">
																{% trans "I have read and understood the terms" %}<br>
																<p></p>
																<button type="button" class="btn btn-default" data-dismiss="modal" id=>{% trans "exit" %}</button>
															</div>
														</div>
													</div>
												</div>
											{% endfor %}
										</div>
											<div class="tab-pane" role="tabpanel" id="step3">
												<h3>{% trans "request_arguments_for_user" %}:</h3>
												<textarea class="form-control" rows="2" id="reason" name="reason" required placeholder="{% trans 'required_arguments' %}"></textarea>
												<ul class="list-inline pull-right">
													<li><button type="button" class="btn btn-default prev-step">{% trans 'previous'%}</button></li>
													<li><button id="continue-to-summary" type="button" class="btn btn-primary btn-info-full next-step" disabled=true>{% trans 'continue'%}</button></li>
												</ul>
											</div>
											<div class="tab-pane" role="tabpanel" id="complete">
											<div id="summarytable">
											<!--  requestformsummary.html snippet appears here -->
											</div>
												<ul class="list-inline pull-right">
													<li><button type="submit" id="submit" class="btn btn-success">{% trans "send_to_be_accepted" %}</button></li>
													<li>
												<span id ="submitstatustext">{% trans "you_have_to_accept_or_delete_all_terms" %}</span></li>
												</ul>
										<div class="clearfix"></div>
									</div>
										{% csrf_token %}
								</form>
							</div>
						</section>
					</div>
				</div>
			</form>
        </div>
		{% else %}
			<strong> {% trans "no_collections_for_requests" %}.</strong>
		{% endif %}
	</div>
						<!--- hidden confirm modal --->
					<div id="confirm-modal" class="modal fade modal-sm modal-confirm" >
						<div class="modal-content" >
							<div class="modal-header">
							</div>
							<div class="modal-body">
								{% trans "are_you_sure_you_want_to_remove_collection" %}
							</div>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">{% trans "delete" %}</button>
								<button type="button" data-dismiss="modal" class="btn btn-outline-secondary">{% trans "back" %}</button>
							</div>
						</div>
					</div>
					{% if collections %} 
					<!-- hidden delete collection forms -->
						{% for collection in collections %}
					<form class="form-hidden" action="/pyha/removeCollection" id="deleteform{{ forloop.counter0 }}" method="post">
						<div class="form-group">
							<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
							<input type="hidden" id="collectionid" name="collectionid" value={{collection.address}}>
							<input type="hidden" id="next" name="next" value={{request.path}}>
							<input type="submit" class="btn" value="submit!" name="psubmit" Style="display: none;"></button>
						{% csrf_token %}
						</div>
					</form>
					<!-- delete sensitive data -->
					<form class="form-hidden" action="javascript:removeAjax({{ collection.id }})" id="deletesensform{{ collection.id }}" method="post">
						<div class="form-group">
							<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
							<input type="hidden" id="taxoncollectionId{{ collection.id }}" name="collectionId" value={{collection.id}}>
							<input type="hidden" id="next" name="next" value={{request.path}}>
							<input type="submit" class="btn" value="submit!" name="psubmit" Style="display: none;"></button>
						</div>
						{% csrf_token %}
					</form>
					<!--  delete custom data -->
					<form class="form-hidden" action="javascript:removeAjax({{ collection.id }})" id="deletecustomform{{ collection.id }}" method="post">
						<div class="form-group">
							<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
							<input type="hidden" id="collectionId" name="collectionId" value={{collection.id}}>
							<input type="hidden" id="next" name="next" value={{request.path}}>
							<input type="submit" class="btn" value="submit!" name="psubmit" Style="display: none;"></button>
						</div>
					{% csrf_token %}

					</form>
						{% endfor %}
					{% endif %}
{% endblock %}

{% block start_script %}

	<script>
	  var accepted = {};
	  var acceptedsens = 0;
	  function checksens() { 
		  approvetext = "{% trans 'you_accepted_terms' %}";
		  nonapprovetext = "{% trans 'you_have_not_accepted_terms' %}";
		  if(document.getElementById('checkbsens').checked){
			  document.getElementById('statustextsens').textContent=approvetext;
			  document.getElementById('to_step_2').disabled = false;
			  acceptedsens = 1;
		  }else{
			  document.getElementById('statustextsens').textContent=nonapprovetext;
			  document.getElementById('to_step_2').disabled = true;
			  acceptedsens = 0;
		}
	  }
	  function check(counter) { 
		  approvetext = "{% trans 'you_accepted_terms' %}";
		  nonapprovetext = "{% trans 'you_have_not_accepted_terms' %}";
		  if(document.getElementById('checkb'+ counter).checked){
			  document.getElementById('statustext'+ counter).textContent=approvetext;
			  document.getElementById('acc' + counter).hidden = true
			  accepted[counter] = 1;
		  }else{
			  document.getElementById('statustext'+ counter).textContent=nonapprovetext;
			  document.getElementById('acc' + counter).hidden = false
			  accepted[counter] = 0;
		}
	  }
	  function refreshCheck() {
		accepted = {};
		var elements = document.getElementsByClassName("customlistcb");
		for(var i=0; i<elements.length; i++) {
	      check(elements[i].name);
	    }
	  }
	  function checkv(counter, value) { 
		  accepted[counter] = value;
	  }
	  function checkForApproval(){
		var approved = 0;
		var size = 0;
		for (i in accepted){
		approved += accepted[i];
		size += 1;
		}
		approved += acceptedsens;
		if(approved == size+1){
			document.getElementById('submit').disabled = false;
			document.getElementById('submitstatustext').hidden = true;
			document.getElementById('collections_not_approved').hidden = true;
		}else{
			document.getElementById('submit').disabled = true;
			document.getElementById('submitstatustext').hidden = false;
			document.getElementById('collections_not_approved').hidden = false;
		}
	}
	</script>
	
	
	
	<script>
	
	
	
	</script>
{% endblock %}
{% block end_script %}
	<script>
	$(document).ready(function(){
	  $("#filterlist").on("hide.bs.collapse", function(){
		$("#filterbutton").html('{% trans "show" %}');
	  });
	  $("#filterlist").on("show.bs.collapse", function(){
		$("#filterbutton").html('{% trans "hide" %}');
	  });
	});
	</script>

	<script>
		$(document).on('click','.deleteContainer',function(e){
			var name ="#delete" + $(this).find('.removeCollectionButton').attr('id');
			e.preventDefault();
			$('#confirm-modal').off()
			$('#confirm-modal').modal({backdrop: 'static', keyboard: false})
				.one('click', '#delete', function(){
					$(name).submit();
			});
			
		});
		$(document).on('click','.sensDeleteContainer',function(e){
			var name = "#deletesens" + $(this).find('.removeSensitiveButton').attr('id');
			e.preventDefault();
			$('#confirm-modal').off()
			$('#confirm-modal').modal({backdrop: 'static', keyboard: false})
				.one('click', '#delete', function(){
					$(name).submit();
			});

		});
		$(document).on('click','.customDeleteContainer',function(e){
			var name = "#deletecustom" + $(this).find('.removeCustomButton').attr('id');
			e.preventDefault();
			$('#confirm-modal').off()
			$('#confirm-modal').modal({backdrop: 'static', keyboard: false})
				.one('click', '#delete', function(){
					$(name).submit();
			});
		});
	</script>

	<script>
	<!-- näytä kuvauksen muokkaus elementti jos kuvauksen pituus on 0 -->
	var done = false;
	function checkHasDescription(){
		var descExists = {{ userRequest.description.strip|length }};
		if (descExists == 0 && !done) {
			$("#descriptionEdit").collapse('show');
			done = true;
		}
	}
	</script>
	
	<!-- create html snippets in tabs -->
	<script>
	
	$(document).ready(function(){
	  get_taxon_tab();
	  get_custom_tab();
	  get_request_header();
	  get_summary_tab();
	  setTimeout(refreshCheck,2000);
	  });
	</script>
{% endblock %}
{% block modal %}
{% endblock %}
