{% extends "pyha/base.html" %}
{% block content %}
	<div class="container-fluid">
		<div class="col-sm-9 col-lg-10">
		  <div class="page-header"> 
			<h1>Pyyntö:
				{% if request.description and request.description.strip %} {{request.description}}
				{% else %} {{request.date}}
				{% endif %}
				(
					{% if request.status == 1 %}
						<span style="color:#AABBDD;"
					{% elif request.status == 3 %}
						<span style="color:#DDBBAA;"
					{% elif request.status == 4 %}
						<span style="color:#99DD99;"
					{% elif request.status == 2 %}
						<span style="color:#BBBB77;"
					{% else %}
						<span
					{% endif %}
					> 
					{% if request.status == 1 %}
					Käsittelyssä
					
					{% elif request.status == 2 %}
					Osittain Hyväksytty 
					
					{% elif request.status == 3 %}
					Hylätty
					
					{% elif request.status == 4 %}
					Hyväksytty
					
					{% else %}  
					Tuntematon
					
					{% endif %}
					
					</span>
					)
			</h1>
		  </div>
		  <!-- lomake kuvauksen muuttamiseen -->
				
				<form class="form-inline" action="/pyha/description" method="post">
				  <div class="form-group">
					<label for="description">Kuvaus:</label>
					<input type="text" class="form-control" id="description" name="description" 
							value={{request.description}} >
					<input type="hidden" id="requestid" name="requestid" value={{request.id}}>
					<input type="hidden" id="next" name="next" value={{request.path}}>
					</div>
					<button type="submit" class="btn btn-default">Muuta</button>
					<p id="description" class="form-text text-muted">
					  Kuvaus on vapaaehtoinen tapa nimetä pyyntö. Ilman sitä pyynnön otsikkona käytetään päiväystä, jolloin pyyntö on tehty.
					</p>
				</form>
				
				<h2>Pyynnön rajaukset:</h2>

				<button class= "btn btn-default" data-toggle="collapse" data-target="#filterlist" id="filterbutton">Näytä</button>
				<div id="filterlist" class="collapse">	

					{% if filters %}
						<table class = "table" style="width:100%">
							<tr style=color:black>
								<th>Rajaus</th>
								<th>Arvot</th>	
							</tr>	
							{% for filter in filters %}
							<tr>	
								<td rowspan={{filter.1|length}}>{{ filter.0 }}</td>
								{% for f in filter.1 %}
								<td>{{ f }}</td>
							</tr>
								<tr>
								{% endfor %}
								</tr>
							{% endfor %}
						</table>
					{% else %}
						<strong> Kannassa ei ole suodattimia tälle pyynnölle.</strong>
					{% endif %}
				</div>
					
				<!-- aineistolista -->

				<h2>Pyyntöön sisältyvät aineistot:</h2>
				
					{% if collections %}	
						<table class="table" style="width:100%">
							<tr style=color:black>
								<th>Nimi</th>
								<th>Kuvaus</th>
								<th>Status</th>
								<th>Ehdot</th>
							</tr>	
							{% for collection in collections %}
								{% if collection.status == 1 %}
								<tr class="info clickable-row"
								{% elif collection.status == 3 %}
								<tr class="danger clickable-row"
								{% elif collection.status == 2 %}
								<tr class="success clickable-row"
								{% else %}  
								<tr	
								{% endif %}
								>
								<td>{{collection.result.collectionName}}</td>
								<td>{{collection.result.description}}</td>
								
								{% if collection.status == 1 %}
								<td>Käsittelyssä</td>
								{% elif collection.status == 3 %}
								<td>Hylätty</td>
								{% elif collection.status == 2 %}
								<td>Hyväksytty</td>
								{% else %}  
								<td>Tuntematon</td>	
								{% endif %}
							<td><button type="button" class="btn btn-default btn-sm" required data-toggle="modal" data-target="#myModal{{ forloop.counter0 }}">Ehdot</button></td>
								<!-- Modal -->
								<div class="modal fade" id="myModal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  <div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">Aineistojen käyttöehdot</h4>
									  </div>
									  <div class="modal-body">
										{% load static %}
									  <embed src= "{{ static }}pyha/ehdot.pdf" width="800" height="700" type='application/pdf'>
									  </div>
									  <div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal" id=>Poistu</button>
									  </div>
									</div>
								  </div>
								</div>
							</tr>
							{% endfor %}
						</table>
						</div>
					</form>		

					{% else %}
						<strong> Kannassa ei ole aineistoja tälle pyynnölle.</strong>
					{% endif %}
		</div>

	  </div>
{% endblock %}

{% block script %}
	<script>
	$(document).ready(function(){
	  $("#filterlist").on("hide.bs.collapse", function(){
		$("#filterbutton").html('Näytä');
	  });
	  $("#filterlist").on("show.bs.collapse", function(){
		$("#filterbutton").html('Piilota');
	  });
	});
	</script>
{% endblock %}

{% block modal %}
{% endblock %}
