								{% load i18n %}
									<div id="contact_{{contact_id}}">
										<li><p>{% trans 'additional_contact_name' %} </p><span id="contact_name_{{contact_id}}"></span></li>
										<li><p>{% trans 'contact_street_address' %} </p><span id="contact_street_address_{{contact_id}}"></span></li>
										<li><p>{% trans 'contact_post_office' %} </p><span id="contact_post_office_{{contact_id}}"></span></li>
										<li><p>{% trans 'contact_postal' %} </p><span id="contact_postal_{{contact_id}}"></span></li>
										<li><p>{% trans 'contact_country' %} </p><span id="contact_country_{{contact_id}}"></span></li>
										<li><p>{% trans 'contact_email' %} </p><span id="contact_email_{{contact_id}}"></span></li>
										<li><p>{% trans 'contact_phone_number' %} </p><span id="contact_phone_number_{{contact_id}}"></span></li>
										<li><p>{% trans 'contact_corporation' %} </p><span id="contact_corporation/organization_{{contact_id}}"></span></li>
										<li><p>{% trans 'contact_corporation_id' %} </p><span id="contact_corporation_id_{{contact_id}}"></span></li>
									</div>
