{% load i18n %}
				<br></br>
				<h2>{% trans "request_summary" %}</h2>
				<p>{% trans "Collections including sensitive sightings are marked with symbol"%} <span class="glyphicon glyphicon-eye-open" style="color:red;"></span></p>
				<p>{% trans 'given_values_are_not_absolute' %}</p>
						<table class="table" style="width:100%">
							<tr style=color:black>
								<th>{% trans "collection_for_user" %}</th>
								<th>{% trans "request_description" %}</th>
								<th>{% trans "secured_by_data_provider" %}</th>
								<th>{% trans "generally_secured" %}</th>
							</tr>	
							{% for collection in collections %}
								<td>{{collection.result.collectionName}}{% if collection.taxonSecured > 0 %} <span class="glyphicon glyphicon-eye-open" style="color:red;"></span> {% endif %}</td>
								<td>{{collection.result.description}}</td>
								<td>{{collection.customSecured}}</td>
								<td>{{collection.taxonSecured}}</td>
								</tr>
							{% endfor %}
						</table>
