{% extends "pyha/base.html" %}
{% block content %}
{% load i18n %}

<div class="container-fluid">
	<div class="col-xs-12">
			<div class="page-header" id="request_header">
				<!--  requestheader.html snippet appears here -->
			</div>
			
			<!-- suodatinlista -->
			<h3>{% trans "request_filters" %}</h3>

			<button class= "btn btn-default" data-toggle="collapse" data-target="#filterlist" id="filterbutton">{% trans "show" %}</button>
			<div id="filterlist" class="collapse">

				{% if filters %}
					<table class = "table" style="width:100%">
						<tr style=color:black>
							<th>{% trans "filter" %}</th>
							<th>{% trans "values" %}</th>
						</tr>	
						{% for filter in filters %}
						<tr>	
							<td rowspan={{filter.1|length}}>{{ filter.2 }}</td>
							{% for f in filter.1 %}
							<td>{{ f }}</td>
						</tr>
							<tr>
							{% endfor %}
							</tr>
						{% endfor %}
					</table>
				{% else %}
					<strong>{% trans "no_filters" %}.</strong>
				{% endif %}
			</div>
			
			<!-- aineistolista -->
			{% if collections %}
		<form action="{% url 'pyha:approve' %}" id="requestform" method="post">
			<div class="col-xs-12">
				<div class="row">
						<h2>{% trans 'approval_of_terms' %} </h2>
						<div class="wizard">
								<div class="wizard-inner">
									<div class="connecting-line"></div>
									<ul class="nav nav-tabs" role="tablist">

										<li role="presentation" class="active">
											<a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="{% trans 'contact_info_tab' %}">
												<span class="round-tab">
													<i>1</i>
												</span>
											</a>
										</li>

										<li role="presentation" class="disabled">
											<a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="{% trans 'arguments_tab'%}">
												<span class="round-tab">
													<i>2</i>
												</span>
											</a>
										</li>

										<li role="presentation" class="disabled">
											<a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="{% trans 'sensitivity_tab' %}">
												<span class="round-tab">
													<i>3</i>
												</span>
											</a>
										</li>
										
										<li role="presentation" class="disabled">
											<a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="{% trans 'collections_tab'%}">
												<span class="round-tab">
													<i>4</i>
												</span>
											</a>
										</li>
										

										<li role="presentation" class="disabled">
											<a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="{% trans 'summary_tab'%}">
												<span class="round-tab">
													<i class="glyphicon glyphicon-ok"></i>
												</span>
											</a>
										</li>                
									</ul>
								</div>
							<div class="tab-content">
									<div class="tab-pane active" role="tabpanel" id="step1">
										<h3 style="color:#2980B9">{% trans 'contact_list'%}</h3>
										<ul id="contact_list" class="vertical">
											<p style="color:#2980B9;align:center;">{% trans 'main_contact'%}</p>
											<li id="contact_tab1" class="active">
												<a href="#contact1" class="vertical-tab" data-toggle="tab" aria-controls="contact1" role="tab">
													<span id="contact_tab_text_1">{{old_request.requestPersonName}}</span>
												</a>
											</li>
											<p style="color:#2980B9;align:center;">{% trans 'additional_contacts'%}</p>
											<li id="add_contact_tab">
												<a id="add_contact_link" href="javascript:addContact(2)" class="vertical-tab">
													<span>
														{% trans 'add_new_contact' %}<i class="glyphicon glyphicon-plus"></i>
													</span>
												</a>
											</li>
											<li id="remove_contact_tab" hidden>
												<a id="remove_contact_link" href="javascript:removeContact(2)" class="vertical-tab">
													<span>
														{% trans 'remove_last_contact' %}<i class="glyphicon glyphicon-minus"></i>
													</span>
												</a>
											</li>
										</ul>
										<div id="contacts_content" class="tab-content">
											<div id="contact1" class="tab-pane active contact-form" role="tabpanel">
												<div class="form-style-10">
													<div class="section"><span>1</span>{% trans 'enter_name_and_address' %}</div>
													{% if old_request %}
													<div class="inner-wrap">
														<label>{% trans 'enter_full_name' %} <input type="text" id="request_person_name_1" name="request_person_name_1" value="{{old_request.requestPersonName}}"/></label>
														<label>{% trans "enter_street_address" %} <input onkeyup="contactsFilled();" type="text" id="request_person_street_address_1" name="request_person_street_address_1" value="{{old_request.requestPersonStreetAddress}}"/></label>
														<label>{% trans "enter_post_office_name" %}<input onkeyup="contactsFilled();" type="text" id="request_person_post_office_name_1" name="request_person_post_office_name_1" value="{{old_request.requestPersonPostOfficeName}}"/></label>
														<label>{% trans "enter_postal_code" %}<input onkeyup="contactsFilled();" type="text" id="request_person_postal_code_1" name="request_person_postal_code_1" value="{{old_request.requestPersonPostalCode}}"/></label>
														<label>{% trans "enter_country" %}<input onkeyup="contactsFilled();" type="text" id="request_person_country_1" name="request_person_country_1" value="{{old_request.requestPersonCountry}}"/></label>
													</div>

													<div class="section"><span>2</span>{% trans 'enter_email_and_phone' %}</div>
													<div class="inner-wrap">
														<label>{% trans 'enter_email' %} <input onkeyup="contactsFilled();" type="email" id="request_person_email_1" name="request_person_email_1" value="{{old_request.requestPersonEmail}}"/></label>
														<label>{% trans "enter_phone_number" %}<input onkeyup="contactsFilled();" type="text" id="request_person_phone_number_1" name="request_person_phone_number_1" value="{{old_request.requestPersonPhoneNumber}}"/></label>
													</div>

													<div class="section"><span>3</span>{% trans 'enter_corporation/organization' %}</div>
														<div class="inner-wrap">
														<label>{% trans "enter_corporation/organization_name" %}<input type="text" id="request_person_organization_name_1" name="request_person_organization_name_1" value="{{old_request.requestPersonOrganizationName}}"/></label>
														<label>{% trans "enter_corporation_id" %}<input type="text" id="request_person_corporation_id_1" name="request_person_corporation_id_1" value="{{old_request.requestPersonCorporationId}}"/></label>
													</div>
													{% else %}
													<div class="inner-wrap">
														<label>{% trans 'enter_full_name' %} <input type="text" id="request_person_name_1" name="request_person_name_1" value="{{request_owner}}"></input></label>
														<label>{% trans "enter_street_address" %} <input onkeyup="contactsFilled();" type="text" id="request_person_street_address_1" name="request_person_street_address_1"/></label>
														<label>{% trans "enter_post_office_name" %}<input onkeyup="contactsFilled();" type="text" id="request_person_post_office_name_1" name="request_person_post_office_name_1"/></label>
														<label>{% trans "enter_postal_code" %}<input onkeyup="contactsFilled();" type="text" name="request_person_postal_code_1" id="request_person_postal_code_1"/></label>
														<label>{% trans "enter_country" %}<input onkeyup="contactsFilled();" type="text" id="request_person_country_1" name="request_person_country_1" value="Suomi"/></label>
													</div>

													<div class="section"><span>2</span>{% trans 'enter_email_and_phone' %}</div>
													<div class="inner-wrap">
														<label>{% trans 'enter_email' %} <input onkeyup="contactsFilled();" type="email" id="request_person_email_1" name="request_person_email_1" value="{{request_owners_email}}"/></label>
														<label>{% trans "enter_phone_number" %}<input onkeyup="contactsFilled();" type="text" id="request_person_phone_number_1" name="request_person_phone_number_1"/></label>
													</div>

													<div class="section"><span>3</span>{% trans 'enter_corporation/organization' %}</div>
														<div class="inner-wrap">
														<label>{% trans "enter_corporation/organization_name" %}<input type="text" id="request_person_organization_name_1" name="request_person_organization_name_1" /></label>
														<label>{% trans "enter_corporation_id" %}<input type="text" id="request_person_corporation_id_1" name="request_person_corporation_id_1" /></label>
													</div>
													{% endif %}
												</div>
											</div>
											<span id="contacts_content_end" hidden></span>
										</div>
										<ul class="list-inline pull-right">
											<li><button id="to_step_2" type="button" class="btn btn-primary btn-info-full next-step">{% trans 'continue_to_step_2' %}</button></li>
										</ul>
									</div>
									<div class="tab-pane" role="tabpanel" id="step2">
										<div class="form-style-10">
												<div class="section"><span>1</span>{% trans "request_arguments_for_user" %}</div>
												<div class="inner-wrap">
													<select multiple="multiple" id="reason_selector" name="argument_choices" onchange="updateReason();" style="width:400px;">
														<option value="reason_zoning">{% trans "reason_zoning" %}</option>
														<option value="reason_permission">{% trans "reason_permission" %}</option>
														<option value="reason_enviromental">{% trans "reason_enviromental" %}</option>
														<option value="reason_natura">{% trans "reason_natura" %}</option>
														<option value="reason_scientific">{% trans "reason_scientific" %}</option>
														<option value="reason_forest">{% trans "reason_forest" %}</option>
														<option value="reason_other">{% trans "reason_other" %}</option>
													</select>
												</div>
												<div id="additional_information" hidden=true>
													<div class="section"><span>2</span>{% trans 'additional_information' %}</div>
													<div class="inner-wrap">
														<div hidden=true id="argument_project">
														<label id="argument_details_label">{% trans 'required_project_name' %} <textarea id="project" name="argument_project" disabled hidden placeholder=""></textarea></label>
														</div>
														<div hidden=true id="argument_research">
														<label id="argument_details_label">{% trans 'required_research_name' %} <textarea id="research" name="argument_research" disabled hidden placeholder=""></textarea></label>
														</div>
														<div hidden=true id="argument_goals">
														<label id="argument_details_label">{% trans 'required_goals' %} <textarea id="goals" name="argument_goals" disabled hidden placeholder=""></textarea></label>
														</div>
														<div hidden=true id="argument_planning">
														<label id="argument_details_label">{% trans 'required_planning_description' %} <textarea id="planning" name="argument_planning" disabled hidden placeholder=""></textarea></label>
														</div>
														<div hidden=true id="argument_municipality">
														<label id="argument_details_label">{% trans 'required_municipality' %} <textarea id="municipality" name="argument_municipality" disabled hidden placeholder=""></textarea></label>
														</div>
														<div hidden=true id="argument_natura_areas">
														<label id="argument_details_label">{% trans 'required_natura_areas' %} <textarea id="natura_areas" name="argument_natura_areas" disabled hidden placeholder=""></textarea></label>
														</div>
														<div hidden=true id="argument_reason">
														<label id="argument_details_label">{% trans 'required_arguments' %} <textarea id="reason" name="argument_reason" hidden placeholder=""></textarea></label>
														</div>
													</div>
												</div>
										</div>
										<ul class="list-inline pull-right">
											<li><button type="button" class="btn btn-default prev-step">{% trans 'previous'%}</button></li>
											<li><button id="to_step_3" type="button" class="btn btn-primary btn-info-full next-step" disabled=true>{% trans 'continue_to_step_3' %}</button></li>
										</ul>
									</div>
									<div class="tab-pane" role="tabpanel" id="step3">
										<div id="senstable" class="form-group">
										<!--  requestformtaxon.html snippet appears here -->
										</div>
										<div class="modal fade" id="myModalsens" tabindex="-1" role="dialog" aria-labelledby="sensiModalLabel">
												<div class="modal-lg modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															<h4 class="modal-title" id="myModalLabel">{% trans "sensitive_terms" %}</h4>
														</div>
														<div class="modal-body">
															{% load static %}
																<object data= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
																	<alt>{% trans "If_you_cannot_see_terms_you_can_load_them" %} <a href="{{ static }}pyha/ehdot.pdf">{% trans "here" %}</a></alt>
																	<embed src= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
																</object>
														</div>
														<div class="modal-footer">
															<input type="checkbox" id ="checkbsens" name="checkbsens" value="sens" onchange="checksens(); checkForApproval();">
															{% trans "i_accept_terms" %}<br>
															<p></p>
															<button type="button" class="btn btn-default" data-dismiss="modal" id=>{% trans "exit" %}</button>
														</div>
													</div>
												</div>
										</div>  
									</div>  
									<div class="tab-pane" role="tabpanel" id="step4">
										<div id="customtable" class="form-group">
										<!--  requestformcustom.html snippet appears here -->
										</div>
										{% for collection in customlist %}
										<!-- Modal -->
											<div class="modal fade" id="myModal{{ collection.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
												<div class="modal-lg modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															<h4 class="modal-title" id="myModalLabel">{% trans "sensitive_terms" %}</h4>
														</div>
													<div class="modal-body">
													{% load static %}
														<object data= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
															<alt>{% trans "If_you_cannot_see_terms_you_can_load_them" %} <a href="{{ static }}pyha/ehdot.pdf">{% trans "here" %}</a></alt>
															<embed src= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
														</object>
													</div>
														<div class="modal-footer">
															<input type="checkbox" id ="{{ collection.id }}" name="checkb" value="{{collection.address}}"
															onchange="check({{ collection.id }}); checkForApproval();">
															{% trans "I have read and understood the terms" %}<br>
															<p></p>
															<button type="button" class="btn btn-default" data-dismiss="modal" id=>{% trans "exit" %}</button>
														</div>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
									<div class="tab-pane" role="tabpanel" id="complete">
										<div id="summarytable">
										<!--  requestformsummary.html snippet appears here -->
										</div>
											<ul class="list-inline pull-right">
												<li><button type="button" class="btn btn-default prev-step">{% trans 'previous'%}</button></li>
												<li><button type="submit" id="submit" class="btn btn-success">{% trans "send_to_be_accepted" %}</button></li>
											</ul>
										<div class="clearfix"></div>
									</div>
								{% csrf_token %}
								<input type="hidden" id="refreshed" value="no">
							</div>
						</div>
				</div>
			</div>
		</form>
		{% else %}
			<strong> {% trans "no_collections_for_requests" %}.</strong>
		{% endif %}
	</div>
						<!--- hidden confirm modal --->
					<div id="confirm-modal" class="modal fade modal-sm modal-confirm" >
						<div class="modal-content" >
							<div class="modal-header">
							</div>
							<div class="modal-body">
								{% trans "are_you_sure_you_want_to_remove_collection" %}
							</div>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">{% trans "delete" %}</button>
								<button type="button" data-dismiss="modal" class="btn btn-outline-secondary">{% trans "back" %}</button>
							</div>
						</div>
					</div>
					{% if collections %} 
					<!-- hidden delete collection forms -->
						{% for collection in collections %}
					<form class="form-hidden" action="/pyha/removeCollection" id="deleteform{{ forloop.counter0 }}" method="post">
						<div class="form-group">
							<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
							<input type="hidden" id="collectionid" name="collectionid" value={{collection.address}}>
							<input type="hidden" id="next" name="next" value={{request.path}}>
							<input type="submit" class="btn" value="submit!" name="psubmit" Style="display: none;"></button>
						{% csrf_token %}
						</div>
					</form>
					<!-- delete sensitive data -->
					<form class="form-hidden" action="javascript:remove({{ collection.id }})" id="deletesensform{{ collection.id }}" method="post">
						<div class="form-group">
							<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
							<input type="hidden" id="taxoncollectionId{{ collection.id }}" name="collectionId" value={{collection.id}}>
							<input type="hidden" id="next" name="next" value={{request.path}}>
							<input type="submit" class="btn" value="submit!" name="psubmit" Style="display: none;"></button>
						</div>
						{% csrf_token %}
					</form>
					<!--  delete custom data -->
					<form class="form-hidden" action="javascript:remove({{ collection.id }})" id="deletecustomform{{ collection.id }}" method="post">
						<div class="form-group">
							<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
							<input type="hidden" id="collectionId" name="collectionId" value={{collection.id}}>
							<input type="hidden" id="next" name="next" value={{request.path}}>
							<input type="submit" class="btn" value="submit!" name="psubmit" Style="display: none;"></button>
						</div>
					{% csrf_token %}

					</form>
						{% endfor %}
					{% endif %}
</div>
{% endblock %}

{% block start_script %}
<script>
	var accepted = {};
	var acceptedsens = 0;
	function checksens() { 
		approvetext = "{% trans 'you_accepted_terms' %}";
		nonapprovetext = "{% trans 'you_have_not_accepted_terms' %}";
		if(document.getElementById('checkbsens').checked){
			document.getElementById('statustextsens').textContent=approvetext;
			document.getElementById('checkbsens').disabled = true;
			document.getElementById('to_step_4').disabled = false;
			acceptedsens = 1;
		}else{
			document.getElementById('statustextsens').textContent=nonapprovetext;
			document.getElementById('to_step_4').disabled = true;
			acceptedsens = 0;
		}
	}
	function check(counter) { 
		approvetext = "{% trans 'you_accepted_terms' %}";
		nonapprovetext = "{% trans 'you_have_not_accepted_terms' %}";
		if(document.getElementById(counter).checked){
			document.getElementById('statustext'+ counter).textContent=approvetext;
			document.getElementById(counter).disabled = true;
			accepted[counter] = 1;
		}else{
			document.getElementById('statustext'+ counter).textContent=nonapprovetext;
			accepted[counter] = 0;
		}
	}
	function remove(counter) { 
		delete accepted[counter];
		removeAjax(counter);
	}
	function refreshCheck() {
		var elements = document.getElementsByName("checkb");
		for(var i=0; i<elements.length; i++) {
		check(elements[i].id);
		}
	}
	function checkv(counter, value) { 
		accepted[counter] = value;
	}
	function checkForApproval(){
		var approved = 0;
		var size = 0;
		for (i in accepted){
		approved += accepted[i];
		size += 1;
		}
		approved += acceptedsens;
		if(approved == size+1){
			document.getElementById('to_step_summary').disabled = false;
			document.getElementById('submit').disabled = false;
		}else{
			document.getElementById('to_step_summary').disabled = true;
			document.getElementById('submit').disabled = true;
		}
	}
	function updateContact(current){
	document.getElementById('to_step_summary')
	}
	
	function addContact(current) {
	var newli = document.createElement("li");
	var newa = document.createElement("a");
	var newspan = document.createElement("span");
	var addli = document.getElementById("add_contact_tab");
	var adda = document.getElementById("add_contact_link");
	var remli = document.getElementById("remove_contact_tab");
	var rema = document.getElementById("remove_contact_link");
	var ul = document.getElementById("contact_list");
	newa.className = "vertical-tab";
	newa.setAttribute("href", "#contact"+current);
	newa.setAttribute("data-toggle", "tab");
	newa.setAttribute("role", "tab");
	newspan.textContent = "{% trans 'new_contact' %}";
	newspan.id = "contact_tab_text_" + current;
	newli.id = "contact_tab" + current;
	newa.appendChild(newspan);
	newli.appendChild(newa);
	ul.insertBefore(newli, addli);
	create_contact(current);
	rema.setAttribute("href", "javascript:removeContact("+current+")");
	current += 1;
	adda.setAttribute("href", "javascript:addContact("+current+")");
	remli.hidden = false;
	}
	
	function removeContact(current) {
	if (current > 1){
	var li = document.getElementById("contact_tab" + current);
	var remli = document.getElementById("remove_contact_tab");
	var rema = document.getElementById("remove_contact_link");
	var adda = document.getElementById("add_contact_link");
	var div = document.getElementById("contact" + current);
	adda.setAttribute("href", "javascript:addContact("+current+")");
	current -= 1;
	rema.setAttribute("href", "javascript:removeContact("+current+")");
	div.parentNode.removeChild(div);
	li.parentNode.removeChild(li);
		if(current == 1){
				remli.hidden = true;
			}
	}
	}
	
	function updateReason() { 
	var select = document.getElementById('reason_selector');
	var result = getSelectValues(select);
	document.getElementById('argument_reason').hidden = true;
	document.getElementById('argument_municipality').hidden = true;
	document.getElementById('argument_natura_areas').hidden = true;
	document.getElementById('argument_project').hidden = true;
	document.getElementById('argument_research').hidden = true;
	document.getElementById('argument_goals').hidden = true;
	document.getElementById('argument_planning').hidden = true;
	document.getElementById('reason').disabled = true;
	document.getElementById('municipality').disabled = true;
	document.getElementById('natura_areas').disabled = true;
	document.getElementById('project').disabled = true;
	document.getElementById('research').disabled = true;
	document.getElementById('goals').disabled = true;
	document.getElementById('planning').disabled = true;
	document.getElementById('additional_information').hidden = result.length == 0;
	for (var i=0; i<result.length; i++) {
		switch (result[i]) {
			case "reason_zoning":
				document.getElementById('argument_project').hidden = false;
				document.getElementById('argument_municipality').hidden = false;
				document.getElementById('argument_reason').hidden = false;
				document.getElementById('reason').disabled = false;
				document.getElementById('project').disabled = false;
				document.getElementById('municipality').disabled = false;
				break;
			case "reason_permission":
				document.getElementById('argument_project').hidden = false;
				document.getElementById('argument_municipality').hidden = false;
				document.getElementById('argument_reason').hidden = false;
				document.getElementById('reason').disabled = false;
				document.getElementById('project').disabled = false;
				document.getElementById('municipality').disabled = false;
				break;
			case "reason_enviromental":
				document.getElementById('argument_project').hidden = false;
				document.getElementById('argument_municipality').hidden = false;
				document.getElementById('argument_reason').hidden = false;
				document.getElementById('reason').disabled = false;
				document.getElementById('project').disabled = false;
				document.getElementById('municipality').disabled = false;
				break;
			case "reason_natura":
				document.getElementById('argument_project').hidden = false;
				document.getElementById('argument_municipality').hidden = false;
				document.getElementById('argument_reason').hidden = false;
				document.getElementById('reason').disabled = false;
				document.getElementById('argument_natura_areas').hidden = false;
				document.getElementById('project').disabled = false;
				document.getElementById('municipality').disabled = false;
				document.getElementById('natura_areas').disabled = false;
				break;
			case "reason_scientific":
				document.getElementById('argument_research').hidden = false;
				document.getElementById('argument_goals').hidden = false;
				document.getElementById('argument_reason').hidden = false;
				document.getElementById('research').disabled = false;
				document.getElementById('reason').disabled = false;
				document.getElementById('goals').disabled = false;
				break;
			case "reason_forest":
				document.getElementById('argument_planning').hidden = false;
				document.getElementById('argument_municipality').hidden = false;
				document.getElementById('argument_reason').hidden = false;
				document.getElementById('planning').disabled = false;
				document.getElementById('reason').disabled = false;
				document.getElementById('municipality').disabled = false;
				break;
			case "reason_other":
				document.getElementById('argument_reason').hidden = false;
				document.getElementById('argument_municipality').hidden = false;
				document.getElementById('reason').disabled = false;
				document.getElementById('municipality').disabled = false;
		} 
	}
	if (result.length > 0) {
		document.getElementById("to_step_3").disabled = false;      
		 
	} else {
		document.getElementById("to_step_3").disabled = true;         
		var $tabs = $('.wizard .nav-tabs li')
		var $summary_tab = $tabs[$tabs.length - 1]
		$summary_tab.className = 'disabled'
		}
	}
	
	function contactsFilled() {
	var count = 0;
	var fills = ["request_person_name_","request_person_street_address_","request_person_post_office_name_","request_person_postal_code_","request_person_country_","request_person_email_","request_person_phone_number_"]; 
	while(true){
	count ++;
		if (document.getElementById("request_person_name_"+count) != null){
		}else{
			count --;
			break;
		}
	}
	var state = false;
	for (var i=1; i<=count; i++) {
		for (var j=0; j<fills.length; j++){
			if (document.getElementById(fills[j]+""+i).value == ''){
				state = true;
				break;
			}
		}
		if(state){
		break;
		}
	}
	document.getElementById('to_step_2').disabled = state;
	}
	
	function getSelectValues(select) {
	var result = [];
	var options = select && select.options;
	var opt;
	for (var i=0; i<options.length; i++) {
	opt = options[i];
		if (opt.selected) {
			result.push(opt.value || opt.text);
			}
		}
	return result;
	}
</script>
{% endblock %}
{% block end_script %}
	<script>
	$(document).ready(function(){
	  $("#filterlist").on("hide.bs.collapse", function(){
		$("#filterbutton").html('{% trans "show" %}');
	  });
	  $("#filterlist").on("show.bs.collapse", function(){
		$("#filterbutton").html('{% trans "hide" %}');
	  });
	});
	</script>
	
	<script>
	//$(document).ready(function() {
	//	var end = document.getElementById("contacts_content_end");
	//	var contacthtml = sessionStorage.getItem("contacts"+{{userRequest.id}})
	//	end.insertAdjacentHTML('beforebegin', contacthtml);
	//});
	</script>

	<script>
	$(document).ready(function() {
		var namefield = document.getElementById("request_person_name_1")
			var func = function() { 
				document.getElementById("contact_tab_text_1").textContent = namefield.value; 
				contactsFilled();
			}
		namefield.onkeyup = func;
		namefield.onchange = func;
		func();
	});
	</script>

	<script>
		$(document).on('click','.deleteContainer',function(e){
			var name ="#delete" + $(this).find('.removeCollectionButton').attr('id');
			e.preventDefault();
			$('#confirm-modal').off()
			$('#confirm-modal').modal({backdrop: 'static', keyboard: false})
				.one('click', '#delete', function(){
					$(name).submit();
			});
			
		});
		$(document).on('click','.sensDeleteContainer',function(e){
			var name = "#deletesens" + $(this).find('.removeSensitiveButton').attr('id');
			e.preventDefault();
			$('#confirm-modal').off()
			$('#confirm-modal').modal({backdrop: 'static', keyboard: false})
				.one('click', '#delete', function(){
					$(name).submit();
			});

		});
		$(document).on('click','.customDeleteContainer',function(e){
			var name = "#deletecustom" + $(this).find('.removeCustomButton').attr('id');
			e.preventDefault();
			$('#confirm-modal').off()
			$('#confirm-modal').modal({backdrop: 'static', keyboard: false})
				.one('click', '#delete', function(){
					$(name).submit();
			});
		});
		$("form").submit(function() {
			$("input").removeAttr("disabled");
		});
	</script>

	<script>
	<!-- näytä kuvauksen muokkaus elementti jos kuvauksen pituus on 0 -->
	var done = false;
	function checkHasDescription(){
		var descExists = {{ userRequest.description.strip|length }};
		if (descExists == 0 && !done) {
			$("#descriptionEdit").collapse('show');
			done = true;
		}
	}
	</script>
	<script>
	$(document).ready(function() {
		$('#reason_selector').multiselect({
		nonSelectedText: '{% trans "request_choose_reason" %}',
		nSelectedText: '{% trans "request_chosen_multiple_reasons" %}',
		allSelectedText: '{% trans "request_chosen_all_reasons" %}'
		});
	});
	</script>
	<script type="text/javascript" src="{{ static }}pyha/js/accordion.js"></script>
	<!-- create html snippets in tabs -->
	<script>
	$(document).ready(function(){
	refresh();
	get_request_header();
	updateReason();
	contactsFilled();
	});
	</script>
{% endblock %}
{% block modal %}
{% endblock %}
