html {
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
  }
  body {
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
    /* Margin bottom by footer height */
  }
  th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
 }
 .clickable-row{
	padding: 1px;
	border-bottom: 2px solid #456789
  }
  .footer {
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color: #3498DB;
  }


  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

  body > .container-fluid {
    padding: 50px 0 0;
  }
  .container .text-muted {
    color: #ffffff;
    margin: 20px 0;
  }

  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-brand {
    letter-spacing: 2px;
  }

  .footer, .navbar-custom .navbar-nav > li > a, .navbar-custom .navbar-brand, .navbar-link {
    color: #ffffff !important;
  }

  .navbar-custom .navbar-nav > li > a {
    font-weight: 500;
  }

  .navbar-custom .navbar-brand {
    font-weight: 700;
  }

  .navbar-custom {
    background-color: #3498DB;
    border-color: #2980B9;
  }

  .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
    background-color: #2980B9;
    border-color: #2980B9;
  }

  .navbar-custom .navbar-nav>.active>a, .navbar-custom .navbar-nav>.active>a:focus,
  .navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav > li > a:hover,
  .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-nav>.open>a,
  .navbar-custom .navbar-nav>.open>a:focus, .navbar-custom .navbar-nav>.open>a:hover {
    background-color: #2980B9;
  }

  .navbar-custom .navbar-toggle, .navbar-custom .navbar-collapse, .navbar-custom .navbar-form {
    border-color: #2980B9;
  }

  .dropdown-menu {
    background-color: #ffffff;
  }

  code {
    font-size: 80%;
  }

  .side-bar {
    background-color: #ECF0F1;
    height: 200px;
  }

  @media only screen and (min-width : 768px) {
    body > .container-fluid {
      height: calc(100vh - 60px);
    }
    .side-bar {
      height: 100%;
    }
  }
  #layout-footer[_ngcontent-wtm-4] {
    position: absolute;
    bottom: 0;
    height: 226px;
    color: #fff;
    background-color: #3498db;
    margin-top: 10px;
    width: 100%;
}
