html {
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
  }
  body {
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
    /* Margin bottom by footer height */
  }
  th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
 }
 .clickable-row{
	padding: 1px;
	border-bottom: 2px solid #456789
  }
  .footer {
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color: #3498DB;
  }
  
  .container-fluid {
    overflow-y: scroll;
}

  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    overflow: auto;
    font-size: 150%;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 0px 0px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

  body > .container-fluid {
    padding: 50px 0 0;
  }
  .container .text-muted {
    color: #ffffff;
    margin: 20px 0;
  }

  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-brand {
    letter-spacing: 2px;
  }

  .footer, .navbar-custom .navbar-nav > li > a, .navbar-custom .navbar-brand, .navbar-link {
    color: #ffffff !important;
  }

  .navbar-custom .navbar-nav > li > a {
    font-weight: 500;
  }

  .navbar-custom .navbar-brand {
    font-weight: 700;
  }

  .navbar-custom {
    background-color: #3498DB;
    border-color: #2980B9;
  }

  .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
    background-color: #2980B9;
    border-color: #2980B9;
  }

  .navbar-custom .navbar-nav>.active>a:not(.nohover), .navbar-custom .navbar-nav>.active>a:focus:not(.nohover),
  .navbar-custom .navbar-nav>.active>a:hover:not(.nohover), .navbar-custom .navbar-nav > li > a:hover:not(.nohover),
  .navbar-custom .navbar-brand:hover:not(.nohover), .navbar-custom .navbar-nav>.open>a:not(.nohover),
  .navbar-custom .navbar-nav>.open>a:focus:not(.nohover), .navbar-custom .navbar-nav>.open>a:hover:not(.nohover) {
    background-color: #2980B9;
  }
  .nohover{
	background-color: #3498DB !important;
  }

  .navbar-custom .navbar-toggle, .navbar-custom .navbar-collapse, .navbar-custom .navbar-form {
    border-color: #2980B9;
  }

  .dropdown-menu {
    background-color: #ffffff;
  }

  code {
    font-size: 80%;
  }

  .side-bar {
    background-color: #ECF0F1;
    height: 200px;
  }

  @media only screen and (min-width : 768px) {
    body > .container-fluid {
      height: calc(100vh - 60px);
    }
    .side-bar {
      height: 100%;
    }
  }
  .modal-body {
  position: relative;
  padding: 15px;
  height: 700;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 768px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 992px;
  }
}
