{% extends "pyha/base/base.html" %}
{% block content %}
{% load i18n %}


    <div class="container-fluid">
    <div class="col-xs-12">
      <div class="page-header">
        <h2>{% trans "handler_welcome" %}</h2>
      </div>
      {% if requests %}
      <h2>{% trans "handler_all_requests" %}</h2>
  <p class ="text-muted">{% trans "click_for_info" %}.</p>            
  <table id="requests-table" class="table table-hover table-bordered">
    <thead>
      <tr bgcolor="#349934" style="color:white;">
        <th title="{% trans 'handler_new_events' %}" style="width:0px;">!</th>
        <th>{% trans "handler_request_date" %}</th>
        <th>{% trans "handler_requester" %}</th>	
        <th>{% trans "handler_request_hits" %}</th>
        <th>{% trans "handler_request_status_for_admin" %}</th>
      </tr>
    </thead>
    <tbody>
    {% load humanize %}
    <!-- {% load pyha_tags %} -->
    {% for request in requests %}
        
        
        {% if request.status == 1 %}
            <tr class="info clickable-row indextr"
        {% elif request.status == 3 %}
            <tr class="danger clickable-row indextr"
        {% elif request.status == 2 %}
            <tr class="warning clickable-row indextr"
        {% elif request.status == 0 or request.status == 6 %}
            <tr class="active clickable-row indextr"
        {% elif request.status == 4 or request.status == 7 or request.status == 8 %}
            <tr class="success clickable-row indextr"
        {% else %}  
            <tr	
        {% endif %}
            data-href="request/{{request.id}}"
            >
            <td {% if not request.viewed or request.answerstatus == 1%}data-order="1"><span class="glyphicon glyphicon-bell"></span>{% else %}data-order="0"><span></span>{% endif %}</td>
            <td>{{request.date|date:"d.m.Y    H:i"}}</td>
            <td>{{request.email}}</td>
            <td>{{ request.allSecured }}</td>
            {% if request.status == 0 %}
                <td>{% trans "handler_you_have_not_accepted_terms" %}</td>
            
            {% elif request.status == 1 %}
				<td>
					{% if request.answerstatus == 1 %}
					{% trans "handler_waiting_for_response_on_answer" %}
					{% elif request.waitingstatus == 0 %}
					{% trans "handler_waiting_for_others" %}
					{% elif request.waitingstatus == 1 %}
					{% trans "handler_waiting_for_you" %}
					{% endif %}
				</td>
            {% elif request.status == 2 %}
                <td>{% trans "handler_partially_accepted" %}</td>
                
            {% elif request.status == 3 %}
                <td>{% trans "handler_denied" %}</td>

            {% elif request.status == 4 %}
                <td>{% trans "handler_accepted" %}</td>  

            {% elif request.status == 6 %}
                <td>{% trans "handler_waiting_for_additional_information" %}</td>  

            {% elif request.status == 7 %}
                <td>{% trans "handler_waiting_for_download" %}</td>  
            
            {% elif request.status == 8 %}
                <td>{% trans "handler_ready_for_download" %}</td>  
				
            {% else %}  
                <td>{% trans "handler_unknown" %}</td>
            {% endif %}
        
            
        </tr>
        
	{% endfor %}
    </tbody>
  </table>
  <p>{% trans 'given_values_are_not_absolute' %}</p>
  {% else %}
	<strong>{% trans "handler_no_requests_for_admin" %}.</strong>
	{% endif %}
   </div>
  <!--
    <div class="col-sm-3 col-lg-2 side-bar">
  
    </div>
  -->
  </div>
{% endblock %}

{% block end_script %}
<script>
$(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
<script>
$(document).ready(function() {
    $.fn.dataTable.moment('DD.MM.YYYY    HH:mm');
    $('#requests-table').dataTable( {
            "order": [[ 1, "desc" ]],
	    "pageLength": 100,
            "language": {
            {% if LANGUAGE == "fi" %}
            "url":"//cdn.datatables.net/plug-ins/1.10.12/i18n/Finnish.json"
            {% elif LANGUAGE == "sv" %}
            "url":"//cdn.datatables.net/plug-ins/1.10.12/i18n/Swedish.json"
            {% endif %}
            }
        } );
    } );
</script>
{% endblock %}
