{% extends "pyha/base/base.html" %}
{% block content %}
{% load i18n %}
{% load pyha_tags %}


<div class="container-fluid">
  <div class="row">
 	  <div class="col-xs-12">
      <div class="page-header">
        <h2>{% trans "welcome" %}</h2>
      </div>

      {% if has_requests %}
      <h2>{% trans "all_requests" %}</h2>
      <p class ="text-muted">{% trans "click_for_info" %}.</p>

      {% if role == "handler" or role == "admin" %}
      <div style="margin-bottom: 10px">
          <div style="display: inline-block; margin-right: 4px; margin-bottom: 4px">
            <button id="showOnlyUncompletedRequestsTrueBtn" class="btn btn-default" onclick="showOnlyUncompletedRequestsChange(true)">{% trans "show_uncompleted_requests" %}</button>
            <button id="showOnlyUncompletedRequestsFalseBtn" class="btn btn-default" onclick="showOnlyUncompletedRequestsChange(false)">{% trans "show_all_requests" %}</button>
          </div>
          <label id="yearSelectLabel" style="font-weight: normal">
              {% trans "year" %}:
              <select class="form-control input-sm" id="yearSelect" name="year" style="width: 75px; display: inline-block" onchange="yearChange()">
                  {% for year in request_years %}
                    <option value="{{year}}">{{year}}</option>
                  {% endfor %}
              </select>
          </label>
      </div>
      {% endif %}
      <form action="{% url 'pyha:group_delete_request' %}" id="delete_requests" method="post" style="margin-bottom: 30px">
        <table id="requests-table" class="table table-hover table-bordered" width="100%">
          <thead>
            <tr bgcolor="{% if role == 'handler' %}#349934{% elif role == 'admin' %}#8080c0{% else %}#3498DB{% endif %}" style="color:white;">
              <th>{% trans "request_date" %}</th>
              {% if role == "user" %}
              <th title="{% trans 'given_values_are_not_absolute' %}">{% trans "request_hits" %}</th>
              <th>{% trans "request_status_for_user" %}</th>
              <th>{% trans "request_description" %}</th>
              <th>{% trans "select_canceled" %}</th>
              {% endif %}
              {% if role == "handler" or role == "admin" %}
              <th>{% trans "requester" %}</th>
              <th>{% trans "request_municipality" %}</th>
              <th>{% trans "request_hits" %}</th>
              <th>{% trans "request_information_status" %}</th>
              <th>{% trans "request_download_status" %}</th>
              <th>{% trans "request_status_for_user" %}</th>
              {% endif %}
              {% if role == "admin" %}
              <th>{% trans "select_deleted" %}</th>
              {% endif %}
            </tr>
          </thead>
        </table>
        {% if role == "user" %}
        <p>{% trans 'given_values_are_not_absolute' %}</p>
        <button type="submit" id="submit_delete_requests" class="btn btn-danger btn-sm" disabled>{% trans "delete_or_withdraw_selected_requests" %}</button>
        {% endif %}
        {% if role == "admin" %}
        <button type="submit" id="submit_delete_requests" class="btn btn-danger btn-sm" disabled>{% trans "delete_selected_requests" %}</button>
        {% endif %}
      {% csrf_token %}
      </form>

      {% else %}
      	<strong>{% trans "no_requests_for_user" %}.</strong>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block end_script %}
{% if role == "user" or role == "admin" %}
<script>
function checkSelected() {
  var disabled = true;

  var checkboxes = document.getElementsByClassName('select_request_checkbox');
  for (var i = 0; i < checkboxes.length; i++) {
    var checkbox = checkboxes[i];
    if (checkbox.checked && !checkbox.disabled) {
      disabled = false;
    }
  }

  document.getElementById('submit_delete_requests').disabled = disabled;
}
</script>
{% endif %}
<script>
const allColumns = [
    {
        "data": "date",
        "render": function(data, type, row) {
            let value = $.fn.dataTable.render.moment("YYYY-MM-DDTHH:mm:ss.SSS", "DD.MM.YYYY    HH:mm")(data, type, row);
            if (type === "display") {
                value = "<a href=\"{% url 'pyha:root' %}request/" + row.id + "\">" + value + "</a>";
            }
            return value;
        }
    },
    {
        "data": "approximateMatches",
        "render": $.fn.dataTable.render.number(" ", ","),
        "createdCell": function(td, cellData, rowData, row, col) {
            $(td).attr("title", "{% trans 'given_values_are_not_absolute' %}");
        }
    },
    { "data": "statusText", "render": $.fn.dataTable.render.text() },
    {
        "data": "description",
        "render": $.fn.dataTable.render.text(),
        "createdCell": function(td, cellData, rowData, row, col) {
            $(td).css({"white-space": "pre-wrap"});
        }
    },
    { "data": "email", "render": $.fn.dataTable.render.text() },
    { "data": "observationCount", "render": $.fn.dataTable.render.number(" ", ",") },
    { "data": "informationStatusText", "render": $.fn.dataTable.render.text() },
    { "data": "downloadStatusText", "render": $.fn.dataTable.render.text() },
    { "data": "decisionStatusText", "render": $.fn.dataTable.render.text() },
    {
        "data": null,
        "defaultContent": "",
        "render": function(data, type, row) {
            var content = "<input class=\"select_request_checkbox\" name=\"request_id_";
            content += data.id;
            content += "\" type=\"checkbox\" onChange=\"checkSelected()\" style=\"margin: 0;\">";
            return content;
        },
        "createdCell": function(td, cellData, rowData, row, col) {
            $(td).addClass("checkbox-column text-center");
        },
        "sortable": false
    },
    { "data" : "municipality", "render": $.fn.dataTable.render.ellipsis(40, false, true) }
];

let table;

$(document).ready(function() {
    table = $('#requests-table').DataTable( {
            "processing": true,
            "serverSide": false,
            "ajax": {
              "url": "{% url 'pyha:get_request_list_ajax' %}",
              {% if role == "handler" or role == "admin" %}
              "data": function (d) {
                d.onlyUncompleted = $("#showOnlyUncompletedRequestsTrueBtn").prop("disabled");
                if (!d.onlyUncompleted) {
                  d.year = parseInt($("#yearSelect").val(), 10);
                }
              },
              {% endif %}
              "type": "GET",
              "headers": {"X-CSRFToken": "{{ csrf_token }}"},
              "error": function(e) {
                if (e.readyState === XMLHttpRequest.UNSENT && e.status === 0) {
                  return;
                }
                alert("{% trans "generic_error" %}");
                $("#requests-table_processing").hide();
              }
            },
            "columns": [
                {% if role == "admin" %}
                allColumns[0], allColumns[4], allColumns[10], allColumns[5], allColumns[6], allColumns[7], allColumns[8], allColumns[9]
                {% elif role == "handler" %}
                allColumns[0], allColumns[4], allColumns[10], allColumns[5], allColumns[6], allColumns[7], allColumns[8]
                {% else %}
                allColumns[0], allColumns[1], allColumns[2], allColumns[3], allColumns[9]
                {% endif %}
            ],
			"order": [[ 0, "desc" ]],
            {% if role == "user" %}
            "columnDefs": [{ "width": "15%", "targets": 4 }],
            {% endif %}
            {% if role == "handler" or role == "admin" %}
            "lengthMenu": [[1, 10, 25, 50, 100, 500, 1000, 5000], [1, 10, 25, 50, 100, 500, 1000, 5000]],
            "pageLength": 100,
            {% endif %}
            "language": {
            {% if LANGUAGE == "fi" %}
            "url":"//cdn.datatables.net/plug-ins/1.10.12/i18n/Finnish.json"
            {% elif LANGUAGE == "sv" %}
            "url":"//cdn.datatables.net/plug-ins/1.10.12/i18n/Swedish.json"
            {% endif %}
            },
            "createdRow": function(row, data, dataIndex) {
                let className = "clickable-row indextr";
                let statusClass = "";
                if (data.status == 1) {
                    statusClass = "info";
                    {% if role == "handler" %}
                    if (!data.waitingForUser) {
                       statusClass = "success";
                    }
                    {% endif %}
                } else if (data.status == 3 || data.status == -2) {
                    statusClass = "danger";
                } else if (data.status == 2) {
                    statusClass = "warning";
                } else if (data.status == 0 || data.status == 6) {
                    statusClass = "active";
                } else if (data.status == 4 || data.status == 7 || data.status == 8) {
                    statusClass = "success";
                }
                {% if role == "handler" or role == "admin" %}
                if (data.frozen) {
                    statusClass = "info";
                }
                {% endif %}
                className += " " + statusClass;
                $(row).addClass(className);

                $(row).click(function(e) {
                    if (e.target && (e.target.type === "checkbox" || event.target.tagName.toLowerCase() === "a")) {
                        return;
                    }
                    if (e.target && e.target.classList.contains("checkbox-column")) {
                        e.target.children[0].click();
                        return;
                    }
                    window.document.location = "{% url 'pyha:root' %}request/" + data.id;
                });
            }
        } );
    } );

    function yearChange() {
        if (table) {
            table.ajax.reload();
        }
    }

    function showOnlyUncompletedRequestsChange(value) {
        const trueBtn = $("#showOnlyUncompletedRequestsTrueBtn");
        const falseBtn = $("#showOnlyUncompletedRequestsFalseBtn");
        const yearSelectLabel = $("#yearSelectLabel");
        if (value) {
            trueBtn.prop("disabled", true);
            falseBtn.prop("disabled", false);
            yearSelectLabel.hide();
        } else {
            trueBtn.prop("disabled", false);
            falseBtn.prop("disabled", true);
            yearSelectLabel.show();
        }
        if (table) {
            table.ajax.reload();
        }
    }
    
    showOnlyUncompletedRequestsChange(true);
</script>
{% endblock %}
