{% extends "pyha/base/base.html" %}
{% block content %}
{% load i18n %}
{% load pyha_tags %}


<div class="container-fluid">
  <div class="row">
 	  <div class="col-xs-12">
      <div class="page-header">
        <h2>{% trans "welcome" %}</h2>
      </div>

      {% if requests %}
      <h2>{% trans "all_requests" %}</h2>
      <p class ="text-muted">{% trans "click_for_info" %}.</p>

      <form action="{% url 'pyha:group_delete_request' %}" id="delete_requests" method="post">
        <table id="requests-table" class="table table-hover table-bordered">
          <thead>
            <tr bgcolor="{% if role == 'handler' %}#349934{% elif role == 'admin' %}#8080c0{% else %}#3498DB{% endif %}" style="color:white;">
              {% if role == "handler" %}
              <th title="{% trans 'handler_new_events' %}" style="width:0px;">{% trans 'handler_new_events_abbreviation' %}</th>
              {% endif %}
              <th>{% trans "request_date" %}</th>
              {% if role == "handler" or role == "admin" %}
              <th>{% trans "requester" %}</th>
              {% endif %}
              <th {% if role == "user" %}title="{% trans 'given_values_are_not_absolute' %}{% endif %}">{% trans "request_hits" %}</th>
              <th>{% trans "request_status_for_user" %}</th>
              {% if role == "user" %}
              <th>{% trans "request_description" %}</th>
              <th>{% trans "select" %}</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% load humanize %}
            {% load pyha_tags %}
            {% for request in requests %}
              {% if request.status == 1 %}
                <tr class="info clickable-row indextr"
              {% elif request.status == 3 %}
                <tr class="danger clickable-row indextr"
              {% elif request.status == 2 %}
                <tr class="warning clickable-row indextr"
              {% elif request.status == 0 or request.status == 6 %}
                <tr class="active clickable-row indextr"
              {% elif request.status == 4 or request.status == 7 or request.status == 8 %}
                <tr class="success clickable-row indextr"
              {% else %}
                <tr
              {% endif %}
                data-href="{% url 'pyha:root' %}request/{{request.id}}">

                  {% if role == "handler" %}
                  <td {% if not request.viewed or request.answerstatus == 1%}data-order="1"><span class="glyphicon glyphicon-bell"></span>{% else %}data-order="0"><span></span>{% endif %}</td>
                  {% endif %}

                  <td>{{request.date|date:"d.m.Y    H:i"}}</td>

                  {% if role == "handler" or role == "admin" %}
                  <td>{{request.email}}</td>
                  {% endif %}

                  {% if role == "handler" or role == "admin" %}
                  <td>{{ request.allSecured }}</td>
                  {% else %}
                  <td title="{% trans 'given_values_are_not_absolute' %}">{{ request.approximateMatches|intcomma|replaceCommaWithSpace }}</td>
                  {% endif %}

                  <td>{% translateRequestStatus request.status role request.answerstatus request.waitingstatus request.downloadable %}</td>

                  {% if role == "user" %}
        		      <td>{{request.description|linebreaks}}</td>
                  <td>
                    <p style="text-align: center;"><input name="request_id_{{ request.id }}" type="checkbox" style="vertical-align: middle;"></p>
                  </td>
                  {% endif %}
                </tr>
        	  {% endfor %}

          </tbody>
        </table>
        {% if role == "user" %}
        <p>{% trans 'given_values_are_not_absolute' %}</p>
        <button type="submit" id="submit_delete_requests" name="answer" value=0 class="btn btn-danger btn-sm">{% trans "delete_selected_requests" %}</button>
        {% csrf_token %}
      </form>
      {% endif %}

      {% else %}
      	<strong>{% trans "no_requests_for_user" %}.</strong>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block end_script %}
<script>
$(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
<script>
$(document).ready(function() {
    $.fn.dataTable.moment('DD.MM.YYYY    HH:mm');
    $('#requests-table').dataTable( {
			"order": [[ {% if role == "handler" %} 1 {% else %} 0 {% endif %}, "desc" ]],
            {% if role == "handler" or role == "admin" %}
            "lengthMenu": [[1, 10, 25, 50, 100, 500, 1000, 5000], [1, 10, 25, 50, 100, 500, 1000, 5000]],
            "pageLength": 100,
            {% endif %}
            "language": {
            {% if LANGUAGE == "fi" %}
            "url":"//cdn.datatables.net/plug-ins/1.10.12/i18n/Finnish.json"
            {% elif LANGUAGE == "sv" %}
            "url":"//cdn.datatables.net/plug-ins/1.10.12/i18n/Swedish.json"
            {% endif %}
            }
        } );
    } );
</script>
{% endblock %}
