{% extends "pyha/base/base.html" %}
{% block content %}
{% load i18n %}


<div class="container-fluid">
 	<div class="col-xs-12">
      <div class="page-header">
        <h2>{% trans "welcome" %}</h2>
      </div>
      {% if requests %}
      <h2>{% trans "requests_for_user" %}</h2>
  <p class ="text-muted">{% trans "click_for_info" %}.</p>
  
  <table id="requests-table" class="table table-hover table-bordered">
    <thead>
      <tr bgcolor="#3498DB" style="color:white;">
        <th>{% trans "request_date" %}</th>	
        <th title="{% trans 'given_values_are_not_absolute' %}">{% trans "request_hits" %}</th>
        <th>{% trans "request_status_for_user" %}</th>
	    <th>{% trans "request_description" %}</th>
      </tr>
    </thead>
    <tbody>
    {% load humanize %}
    <!-- {% load pyha_tags %} -->
    {% for request in requests %}
        
        
        {% if request.status == 1 %}
            <tr class="info clickable-row indextr"
        {% elif request.status == 3 %}
            <tr class="danger clickable-row indextr"
        {% elif request.status == 2 %}
            <tr class="warning clickable-row indextr"
        {% elif request.status == 0 or request.status == 6 %}
            <tr class="active clickable-row indextr"
        {% elif request.status == 4 or request.status == 7 or request.status == 8 %}
            <tr class="success clickable-row indextr"
        {% else %}  
            <tr
        {% endif %}
            data-href="{% url 'pyha:root' %}request/{{request.id}}"
            >
            
            <td>{{request.date|date:"d.m.Y    H:i"}}</td>

            <td title="{% trans 'given_values_are_not_absolute' %}">{{ request.approximateMatches|intcomma|replaceCommaWithSpace }}</td>
            {% if request.status == 0 %}
                <td>{% trans "you_have_not_accepted_terms" %}</td>
            
            {% elif request.status == 1 %}
                <td>{% trans "waiting_for_data_provider" %}</td>
                
            {% elif request.status == 2 %}
                <td>{% trans "partially_accepted" %}</td>
                
            {% elif request.status == 3 %}
                <td>{% trans "denied" %}</td>

            {% elif request.status == 4 %}
                <td>{% trans "accepted" %}</td>
            
            {% elif request.status == 6 %}
                <td>{% trans "waiting_for_additional_information" %}</td>

            {% elif request.status == 7 %}
                <td>{% trans "waiting_for_download" %}</td>
            
            {% elif request.status == 8 %}
            	{% if request.downloadable %}
                <td>{% trans "ready_for_download" %}</td>
                {% else %} 
                <td>{% trans "download_has_expired" %}</td>
                {% endif %}
                
            {% else %}  
                <td>{% trans "unknown" %}</td>
            {% endif %}
        
		<td>{{request.description|linebreaks}}</td>            
        </tr>
        
	{% endfor %}
	</tbody>
  </table>
   <p>{% trans 'given_values_are_not_absolute' %}</p>
{% else %}
	<strong>{% trans "no_requests_for_user" %}.</strong>
{% endif %}
   </div>
 <!--
  <div class="col-sm-3 col-lg-2 side-bar">

  </div>
-->
</div>
{% endblock %}

{% block end_script %}
<script>
$(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
<script>
$(document).ready(function() {
    $.fn.dataTable.moment('DD.MM.YYYY    HH:mm');
    $('#requests-table').dataTable( {
			"order": [[ 0, "desc" ]],
            "language": {
            {% if LANGUAGE == "fi" %}
            "url":"//cdn.datatables.net/plug-ins/1.10.12/i18n/Finnish.json"
            {% elif LANGUAGE == "sv" %}
            "url":"//cdn.datatables.net/plug-ins/1.10.12/i18n/Swedish.json"
            {% endif %}
            }
        } );
    } );
</script>
{% endblock %}
