										{% load i18n %}
												{% if customlist %}
												<h3>{% trans "secured_collections_in_request" %}</h3>
												<p>{% trans 'given_values_are_not_absolute' %}</p>
												<table class="table" style="width:100%">
													<tr style=color:black>
														<th>{% trans "collection_for_user" %}</th>
														<th>{% trans "request_description" %}</th>
														<th>{% trans "sightings_secured_by_data_provider" %}</th>
														<th></th>
														<th>{% trans "terms_of_collection_use" %}</th>
														<th>{% trans "request_status_for_user" %}</th>
													</tr>
													{% for collection in customlist %}
													<tr>
														<td><a href="{{tun_link}}{{collection.address}}" target="_blank">{{collection.result.collectionName}}</a></td>
														<td>{{collection.result.description}}</td>
														<td>{{collection.customSecured}}</td>
														<td>

															<div class="customDeleteContainer">
																<button class="removeCustomButton" id="form{{ collection.id }}" type="button" ><span class="glyphicon glyphicon-trash"></span></button>
																{% trans "Delete_these_sightings" %}
															</div>
														</td>
														<td><button type="button" class="btn btn-default btn-sm" required data-toggle="modal" data-target="#myModal{{ collection.id }}">{% trans "terms" %}</button></td>
														<td><span id ="statustext{{ collection.id }}">{% trans "you_have_not_accepted_terms" %}</span></td> 
														
														
													</tr>
													{% endfor %}
												</table>
												{% else %}
												<h3>{% trans "no_custom_sightings_go_to_step_3" %}.</h3>   
												{% endif %}
												<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
												<ul class="list-inline pull-right">
													<li><button type="button" class="btn btn-default prev-step">{% trans 'previous'%}</button></li>
													<li><button type="button" id ="to_step_summary" class="btn btn-primary next-step">{%trans 'continue'%}</button></li>
												</ul>