[Unit]
Description=pyha
Requires=pyha.socket
After=network.target

[Service]
PIDFile=/run/pyha/pid
User=pyha
Group=pyha
WorkingDirectory=/home/pyha/
Environment='DJANGO_SECRET_KEY=XXXX' # Django application Hash salt.

Environment='EMAIL_LINK_URL=XXXX' # Url address given in emails. Example: https://fmnh-ws-test.it.helsinki.fi/pyha/request/
Environment='LAJI_AUTH_URL=XXXX' # Url address to Laji-Auth service.
Environment='LAJI_ETL_FILE_DOWNLOAD_URL=XXXX' # Url address to Laji-Etl secured download.
Environment='TRIPLESTORE_URL=XXXX' # Url address to Triplestore.
Environment='TRIPLESTORE_USER=XXXX' # Triplestore username.
Environment='TRIPLESTORE_PASSWORD=XXXX' # Triplestore password.
Environment='PDF_API_URL=XXXX' # Url address to Pdf-api.
Environment='PDF_API_USER=XXXX' # Url address to username.
Environment='PDF_API_PASSWORD=XXXX' # Url address to password.
Environment='APILAJIFI_URL=XXXX' # Url address to Api-Laji.
Environment='LAJI_AUTH_TARGET=XXXX' # Laji-Auth Target ID for pyha.
Environment='PYHA_API_USER=XXXX' # Username to use api in Pyha.
Environment='PYHA_API_PASSWORD=XXXX' # Password to use api in Pyha.
Environment='OBSERVATION_LINK_PREFIX=XXXX' # Url to Laji.fi observation site.
Environment='OFFICIALS_OBSERVATION_LINK_PREFIX=XXXX' # Url to Laji.fi observation site used by officials.

Environment='DB_ENGINE=django-db-backends.oracle'
Environment='DB_NAME=XXX:xxxx/XXX' # Url address to database. Enter it in "url:port/url" format.
Environment='DB_USER=XXXX' # Oracle username
Environment='DB_PASSWORD=XXXX' # Oracle password

ExecStart=env/bin/gunicorn --pid /run/pyha/pid pyha.luomuspyha.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=true
ProtectSystem=true
ProtectHome=true

[Install]
WantedBy=multi-user.target
