  .footer { background-color: #349934 !important; }
  .navbar-custom {
    background-color: #349934 !important;
    border-color: #298829 !important;
  }

  .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
    background-color: #298829 !important;
    border-color: #298829!important;
  }

  .navbar-custom .navbar-nav>.active>a:not(.nohover), .navbar-custom .navbar-nav>.active>a:focus:not(.nohover),
  .navbar-custom .navbar-nav>.active>a:hover:not(.nohover), .navbar-custom .navbar-nav > li > a:hover:not(.nohover),
  .navbar-custom .navbar-brand:hover:not(.nohover), .navbar-custom .navbar-nav>.open>a:not(.nohover),
  .navbar-custom .navbar-nav>.open>a:focus:not(.nohover), .navbar-custom .navbar-nav>.open>a:hover:not(.nohover) {
    background-color: #298829 !important;
  }
  .nohover{
	background-color: #349934 !important;
  }

  .navbar-custom .navbar-toggle, .navbar-custom .navbar-collapse, .navbar-custom .navbar-form {
    border-color: #298829 !important;
  }
   .dropbtn {
    background-color: #349934 ;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #298829;
  }