html {
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
	height: 100%;
  }

body {
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
	height: 100%;
    /* Margin bottom by footer height */

}
th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

p {
    white-space: pre-line;
    word-break: normal;
}

.popover{
    max-width: 100%;
}

.normaltooltip {
	position: relative;
	display: inline-block;
}

.normaltooltip .normaltooltiptext {
	visibility: hidden;
	background-color: #ebefd1;
	color: #000000;
	text-align: center;
	padding: 4px;

  /* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.normaltooltip:hover .normaltooltiptext {
	visibility: visible;
}

.slider_group{
	position: relative;
	display: inline-block;
	vertical-align: bottom;
}
.slider-group > .slider:first-child:not(:last-child){
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.slider-group > .slider:not(:first-child):not(:last-child){
	border-radius: 0;
}
.slider-group > .slider:last-child:not(:first-child){
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.slider{
	display: inline-block;
	padding: 6px 20px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-image: none;
	border-radius: 4px;
	margin-right: -4px;
	color:white;
	width:33%;
}

.slider-lg{
	font-size: 20px;
	padding: 6px 24px;
	margin: -4px;
	width:33%;
}

.slider-user-light {
    background-color: #2980B9;
	color:white;
}

.slider-user {
    background-color: #DDDDDD;
	color:#A9A9A9;
}

.slider-handler-light {
    background-color: #008000;
	color:white;
}

.slider-handler {
    background-color: #DDDDDD;
	color:#A9A9A9;
}

.slider-admin-light {
    background-color: #8080c0;
	color:white;
}

.slider-admin {
    background-color: #DDDDDD;
	color:#A9A9A9;
}

#filtermap {
	height: 250px;
	width: 250px;
}

tr.indextr {
    cursor: pointer;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 10px 0px 0px 0px;
    background-color: #ffffff;
    display:inline-block;
}

ul.horizontal li{
    float:left;
    list-style-type: none;
    margin: 0;
    padding: 10px 0px 0px 0px;
    width: 200px;
    background-color: #ffffff;
    display:inline-block;
}

ul.horizontal li.active, ul.horizontal li:hover{
    background-color: #2980B9;
}

ul.horizontal li.active a span, ul.horizontal li:hover a span{
    color: #ffffff;
}

.horizontal-tab {
    display:block;
    width: 100%;
    text-align: center;
    outline: none;
    transition: 0.4s;
}

a.horizontal-tab span {
    width:100%;
    display:inline-block;
}

a.horizontal-tab:hover span {
    background:transparent;
}

ul.vertical {
    float:left;
    list-style-type: none;
    margin: 0;
    padding: 10px 0px 0px 0px;
    width: 200px;
    background-color: #ffffff;
    display:inline-block;
}

ul.vertical li{
    height: 40px;
    transition: 0.4s;
    border-style: solid;
    border-width: 2px;
    border-color: #e0e0e0;
    color: #fff;
}

ul.vertical li.active, ul.vertical li:hover{
    background-color: #2980B9;
}

ul.vertical li.active a span, ul.vertical li:hover a span{
    color: #ffffff;
}

.request-tab {
    display:block;
    padding-top: 5%;
    padding-bottom: 6%;
    width: 100%;
    text-align: center;
    outline: none;
    transition: 0.4s;
}

a.request-tab span {
    display:inline-block;
}

a.request-tab:hover span {
    background:transparent;
}

div.contact-form{
    float:left;
    padding-top:0px !important;
}

.form-style-10{
    width:97%;
    padding:30px;
    margin:40px 40px;
    margin-top:0px;
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
}
.form-style-10 h1{
    background: #2980B9;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
}
.form-style-10 h1 > span{
    display: block;
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
    display: block;
    font: 17px Arial, Helvetica, sans-serif;
    color: #000;
    margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section{
    color: #2980B9;
    margin-bottom: 5px;
	font: 24px Arial, Helvetica, sans-serif;
}
.form-style-10 .section span {
    background: #2980B9;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}
.form-style-10 input[type="button"],
.form-style-10 input[type="submit"]{
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}
.form-style-10 input[type="button"]:hover,
.form-style-10 input[type="submit"]:hover{
    background: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.form-style-10 .privacy-policy{
    float: right;
    width: 250px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #4D4D4D;
    margin-top: 10px;
    text-align: right;
}

 .page-header {
  padding-bottom: 0px;
  border-bottom: 0px solid #fff;
  }
 .clickable-row{
	padding: 1px;
	border-bottom: 2px solid #456789
  }
  .footer {
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color: #3498DB;
  }
  table{
    border-collapse: separate; !important;
  }

  *:not(.navbar) > .container-fluid {
    overflow-y: scroll;
}

  .requestlog {
    margin-left:50px;
    margin-bottom:10px;
}

  .requestcollections {
	color:black;
	background-color:WhiteSmoke;
	border-radius:10px;
	padding-bottom:0px;
}

  .requestcard {
    min-height:300px;
	height:100%;
	width:100%;
	margin-right:20px;
	display:flex;
	overflow-x: hidden;
	display:inline-block;
}

  .floatcontainer {
    float: right;
}
  .inner {
    position:fixed;
}
  .floatcontainer, .inner{
    position: relative;
    width: auto;
    height: 200px;
    background-color: #EFF8FB;
}

  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    max-width: 400%;
    overflow: auto;
    font-size: 14px;
    text-align: left;
    right: -1px;
    left: 0px;
    margin-left: -60px;
    padding-bottom: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.15);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.15);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.15);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
}

.dropdown-content a {
    color: black;
    padding: 6px;
    padding-left: 15px;
    padding-right: 1px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.vertical-sideway {
    -ms-transform: rotate(270deg); /* IE 9 */
	-ms-transform-origin: 50% 50%; /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
	-webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform: rotate(270deg);
	transform-origin: 50% 50%;
	float: left;
	font-size: 56px;
	position: absolute;
	font-weight: 700;
	opacity: 0.7;
	padding-bottom: 150px;
	letter-spacing: -6px;
}

.request-view-pane {
	min-height: 500px;
}

.request-view-tab:not([aria-expanded="true"]) {
	border: 1px solid #ddd !important;
	background-color: #f9f5f5;
	color: #555;
}

.request-view-tab[aria-expanded="true"] {
	color: #000 !important;
}

.request-user-action-tab:not([aria-expanded="true"]) {
	border: 1px solid #ddd;
	background-color: #f9f5f5;
	color: #555;
	border-bottom: 4px solid #3498db;
	padding-bottom: 7px;
	font-weight: bold;
}

.request-user-action-tab[aria-expanded="true"] {
	color: #000 !important;
	border-bottom: 4px solid #3fb8f5 !important;
	padding-bottom: 7px;
	font-weight: bold;
}

.request-handler-action-tab:not([aria-expanded="true"]) {
	border: 1px solid #ddd;
	background-color: #f9f5f5;
	color: #555;
	border-bottom: 4px solid green;
	padding-bottom: 7px;
	font-weight: bold;
}

.request-handler-action-tab[aria-expanded="true"] {
	color: #000 !important;
	border-bottom: 4px solid #349934 !important;
	padding-bottom: 7px;
	font-weight: bold;
}

.request-admin-action-tab:not([aria-expanded="true"]) {
	border: 1px solid #ddd;
	background-color: #f9f5f5;
	color: #555;
	border-bottom: 4px solid #5a136c;
	padding-bottom: 7px;
	font-weight: bold;
}

  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

  body > .container-fluid {
    padding-top: 50px;
  }
  .container .text-muted {
    color: #ffffff;
    margin: 20px 0;
  }

  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-brand {
    letter-spacing: 2px;
  }

  .footer, .navbar-custom .navbar-nav > li > a, .navbar-custom .navbar-brand, .navbar-link {
    color: #ffffff !important;
  }

  .navbar-custom .navbar-nav > li > a {
    font-weight: 500;
  }

  .navbar-custom .navbar-brand {
    font-weight: 700;
  }

  .navbar-custom {
    background-color: #3498DB;
    border-color: #2980B9;
  }

  .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
    background-color: #2980B9;
    border-color: #2980B9;
  }

  .navbar-toggle .icon-bar {
    background-color: white;
}

  .navbar-custom .navbar-nav>.active>a:not(.nohover), .navbar-custom .navbar-nav>.active>a:focus:not(.nohover),
  .navbar-custom .navbar-nav>.active>a:hover:not(.nohover), .navbar-custom .navbar-nav > li > a:hover:not(.nohover),
  .navbar-custom .navbar-brand:hover:not(.nohover), .navbar-custom .navbar-nav>.open>a:not(.nohover),
  .navbar-custom .navbar-nav>.open>a:focus:not(.nohover), .navbar-custom .navbar-nav>.open>a:hover:not(.nohover) {
    background-color: #2980B9;
  }
  .nohover{
	background-color: #3498DB !important;
  }

  .navbar-custom .navbar-toggle, .navbar-custom .navbar-collapse, .navbar-custom .navbar-form {
    border-color: #2980B9;
  }

  .dropdown-menu {
    background-color: #ffffff;
  }

  code {
    font-size: 80%;
  }

  .model-field {
	font-size: 14px;
  }

  .side-bar {
    background-color: #ECF0F1;
    height: 200px;
  }

  @media only screen and (min-width : 768px) {
    body > .container-fluid {
      height: calc(100vh);
    }
    .side-bar {
      height: 100%;
    }
  }
  .modal {
  z-index: 1070;
  }
  .modal-body {
  position: relative;
  padding: 15px;
}

 .modal-confirm {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 10%;
  z-index: 10040;
  vertical-align: middle;
  overflow: auto;
  overflow-y: auto;
  min-width:200px;
  max-width:300px;
  }

@media screen and (min-width: 768px) {
  .modal-confirm {
  position: absolute;
  top: 30%;
  left: 40%;
  right: 100px;
  z-index: 10040;
  vertical-align: middle;
  overflow: auto;
  overflow-y: auto;
  min-width:300px;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 768px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 992px;
  }
}
@media (max-width: 1080px) {
.contact-form{
	width:100% !important;
	margin:0px !important;
	padding:0px !important;
	margin-top:20px !important;
	}
.row{
	margin:0px !important;
}
.dropdown-menu{
	width:100%;
	}
.dropdown-menu > li > a{
	white-space: normal;
	}
}
@media (max-width: 992px) {
h1{
	font-size: 30px;
	}
h2{
	font-size: 24px;
	}
h3{
	font-size: 20px;
	}
body{
	font-size: 12px;
	}
.slider{
	padding: 3px 20px;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 3px;
	}
.slider-lg{
	font-size: 19px;
	padding: 0px 20px;
	margin: 0px -3px;
	width:250px;
}
}
@media (max-width: 885px) {
.slider{
			width:100% !important;
		}
.slider-group > .slider:first-child:not(:last-child){
	border-top-right-radius: 3px;
	border-bottom-left-radius: 0;
}
.slider-group > .slider:not(:first-child):not(:last-child){
	border-radius: 0;
}
.slider-group > .slider:last-child:not(:first-child){
	border-top-right-radius: 0;
	border-bottom-left-radius: 3px;
}
}
@media (max-width: 850px) {
h1{
	font-size: 24px;
	}
h2{
	font-size: 18px;
	}
h3{
	font-size: 16px;
	}
.form-style-10{
	width:100%;
	margin:0px;
	padding-bottom:0px;
	padding-top:20px;
	padding-left:4px;
	padding-right:4px;
	}
.section{
	padding-left:45px;
	}
.btn{
	word-wrap: break-word;
	white-space: normal;
	}

.slider-lg{
	font-size: 17px;
	}
}

@media (max-width: 700px) {
h1{
	font-size: 18px;
	overflow-x:hide;
	}
h2{
	font-size: 16px;
	overflow-x:hide;
	}
h3{
	font-size: 14px;
	overflow-x:hide;
	}
.slider{
	padding: 2px 6px;
	font-size: 10px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-image: none;
	border: 1px solid transparent;
	}
}
@media (max-width: 500px) {
.nav-tabs{
	margin-left:0px;
	margin-right:0px;
	}
.col-xs-12{
	margin-left:0px;
	margin-right:0px;
	padding-left:5px;
	padding-right:2px;
	}
.slider{
	padding: 2px 10px;
	}
}

.stale-form {
	background-color: #f3f0cc;
	border-radius: 12px;
	padding: 10px;
	line-height: 40px;
	border: 1px solid #e0e0e0;
	display: inline-block;
}

.collection-group-error {
	background-color: #ffcab6;
	border-radius: 12px;
	padding: 10px;
	line-height: 40px;
	border: 1px solid #e0e0e0;
	display: inline-block;
}

.collection-group {
	background-color: #daefff;
	border-radius: 12px;
	padding: 10px;
	line-height: 40px;
	border: 1px solid #e0e0e0;
	display: inline-block;
}

.toastbox {
	visibility: hidden;
	min-width: 250px;
	box-shadow: 0 0 12px #999;
	color: #fff;
	text-align: center;
	position: fixed;
	z-index: 1;
	right: 30px;
	top: 60px;
	overflow: hidden;
	margin: 0 0 6px;
	padding: 15px 15px 15px 50px;
	width: 300px;
	border-radius: 3px;
}

.toastbox.info {
	background-color: #00abfd;
}

.toastbox.positive {
	background-color: #51a351;
}

.toastbox.error {
	background-color: #c94e4e;
}

.toastbox.show {
    visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 1s 5s;
   animation: fadein 0.5s, fadeout 1s 5s;
}

@-webkit-keyframes fadein {
    from {top: 60px; opacity: 0;}
    to {top: 60px; opacity: 1;}
}

@keyframes fadein {
    from {top: 60px; opacity: 0;}
    to {top: 60px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 60px; opacity: 1;}
    to {top: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {top: 60px; opacity: 1;}
    to {top: 60px; opacity: 0;}
}

.large-thin-glyphicon-positive {
	font-size: 30px;
	-webkit-text-stroke: 2px #51a351;
}

.large-thin-glyphicon-info {
	font-size: 30px;
	-webkit-text-stroke: 2px #00abfd;
}

.large-thin-glyphicon-error {
	font-size: 30px;
	-webkit-text-stroke: 2px #c94e4e;
}

.toast-glyphicon {
	position: absolute;
	left: 15px;
	text-align: right;
	top: 20%;
}

.textarea-character-count {
  float: right;
  font-size: small;
  color: #777;
}

.textarea-character-count-over {
  font-weight: bold;
  color: #dc3545;
}

.textarea-has-error {
  border-color: #a94442 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}

.user-download .user-download-settings {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px
}

.user-download .user-download-button-container {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    width: 100%;
    max-width: 500px;
}

.user-download .user-download-button-container .btn {
    width: 100%;
}

.help-glyph {
    margin-left: 5px;
    border-radius: 9px;
    color: white;
    padding: 0px 6px;
    font-size: 13px;
}

.copy-to-clipboard {
  cursor: pointer;
  color: #2691d9;
  white-space: nowrap;
}

.copy-to-clipboard:hover {
    color: #1f74ad;
    text-decoration: underline;
}

.wrap-text {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap;          /* Chrome & Safari */
    white-space: -pre-wrap;                 /* Opera 4-6 */
    white-space: -o-pre-wrap;               /* Opera 7 */
    white-space: pre-wrap;                  /* CSS3 */
    word-wrap: break-word;                  /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

.close {
    margin-top: 2px;
}

div.dataTables_wrapper div.dataTables_processing {
    top: 100px;
}