{% load i18n %}

<h3>{% trans "decision_window" %}</h3>
<p>{% trans "decision_window_description" %}</p>
  <table class="table" style="width:100%">
    <tr style=color:black>
      <th>{% trans "collection_name" %}</th>
      <th>{% trans "state_of_processing" %}</th>
      <th>{% trans "collection_decision_arguments" %}</th>
    </tr>
    {% for collection in collections %}
      {% if collection.status == 1 %}
      <tr class="info clickable-row">
      {% elif collection.status == 3 %}
      <tr class="danger clickable-row">
      {% elif collection.status == 4 %}
      <tr class="success clickable-row">
      {% else %}
      <tr>
      {% endif %}
      <td><a href="{{tun_link}}{{collection.address}}" target="_blank">{{collection.result.collectionName}}</a></td>
      {% if collection.status == 1 %}
      <td>{% trans "waiting_for_data_provider" %}</td>
      {% elif collection.status == 3 %}
      <td>{% trans "denied" %}</td>
      {% elif collection.status == 2 %}
      <td>{% trans "partially_accepted" %}</td>
      {% elif collection.status == 4 %}
      <td>{% trans "accepted" %}</td>
      {% elif collection.taxonSecured > 0 %}
      <td>{% trans "Admission_for_sensitive_data" %}</td>
      {% else %}
      <td>{% trans "unknown" %}</td>
      {% endif %}
      <td>{% if collection.decisionExplanation %}<p>{{collection.decisionExplanation}}</p>{% endif %}</td>
    {% endfor %}
  </table>
