{% extends "pyha/base/requestview_base.html" %}
{% load i18n %}

{% block page_content %}
				<div class="tab-content">
					{% if requestInformationChat_list %}
					<div class="request-view-pane tab-pane {% if next == 'information' %} active {% endif %}" role="tabpanel" id="additional_information">
							<h3>{% trans "additional_information_window" %}</h3>
							<p>{% trans "additional_information_window_description" %}</p>
							{% for question in requestInformationChat_list %}
								{% if question.question %}
								<div class="panel panel-default" {% if question.user == user %} style="background-color:#d9edf7;" {% endif %}>
								<div class="panel-body"><p>{{question.date|date:"d.m.Y H:i"}} {{ question.name }} {% if question.target == 'sens' %} ({% trans 'sensitivity' %}) {% elif question.target == 'admin' %} ({% trans 'admin_question' %}) {% else %} ({{ question.result.collectionName }}) {% endif %} {% trans "asked" %}&#10;&#13;{{question.message}}</p></div>
								<form action="{% url 'pyha:information' %}" id="requestform_{{ forloop.counter }}" method="post" style="display:none;padding-top:20px;padding-left:5px;padding-right:5px;">
								<div class="form-group">
									<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
									<input type="hidden" id="next" name="next" value="{{request.path}}?next=information">
									<input type="hidden" id="target" name="target" value="{{question.target}}">
									<textarea style="width:100%;" rows="5" cols="70" id="reason" name="reason" required ></textarea>
									<button type="submit" style="display:none;" onclick="showAnswer('requestform_{{ forloop.counter }}');" id="requestform_submit_{{ forloop.counter }}" name="information" value=2 class="btn btn-default btn-sm">{% trans "send_additional_information" %}</button>
								</div>
								{% csrf_token %}
								</form>
								<label style="margin-left:5px;margin-bottom:5px;" for="requestform_submit_{{ forloop.counter }}" class="btn btn-default btn-sm">{% trans "answer" %}</label>
								</div>
								{% endif %}
								{% if question.question != True %}
								<div class="panel panel-default" {% if question.user == user %} style="background-color:#d9edf7;" {% endif %}>
								<div class="panel-body"><p>{{question.date|date:"d.m.Y H:i"}} {{ question.name }} {% if question.target == 'sens' %} ({% trans 'sensitivity' %}) {% elif question.target == 'admin' %} ({% trans 'admin_question' %}) {% else %} ({{ question.result.collectionName }}) {% endif %} {% trans 'inquiry' %} {% trans "answered" %}&#10;&#13;{{question.message}}</p></div>
								</div>
								{% endif %}
							{% endfor %}
							<span id="information_bottom"></span>
					</div>
					{% endif %}
				</div>
		</div>
	</div>
	<div>
		<input type="hidden" id="setDescriptionURL" name="setDescription" value="{% url 'pyha:set_description_ajax' %}">
		<input type="hidden" id="getDescriptionURL" name="getDescription" value="{% url 'pyha:get_description_ajax' %}">
	</div>
{% endblock %}

{% block end_script %}
	<script>
		$(document).on('click','.initializeContainer',function(e){
			var name ="#initialize";
			e.preventDefault();
			$('#confirm-modal').off()
			$('#confirm-modal').modal({backdrop: 'static', keyboard: false})
				.one('click', '#yes', function(){
					$(name).submit();
			});

		});
		$(document).ready(function(){
			get_request_header();
		});
	</script>
	<script>
		function checkHasDescription(){
			done = true;
		}
		function showAnswer(target) {
			var x = document.getElementById(target);
			if (x.style.display == 'none') {
				x.style.display = 'block';
			}
		}
	</script>
	{% if coordinates %}
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
			initializeMap();
			map.setView([{{coordinates.5}}, {{coordinates.6}}], 7);
			document.getElementById('filters').style.display = 'block';
			map.invalidateSize();
			document.getElementById('filters').style.display = '';
			var bounds = [[{{coordinates.0}}, {{coordinates.2}}], [{{coordinates.1}},{{coordinates.3}}]];
			L.rectangle(bounds, {color: "#ff7800", weight: 1}).addTo(map);
		});
	</script>
	{% endif %}
	{% if next == 'information' %}
	<script>
		$(document).ready(function(){
			document.getElementById('information_bottom').scrollIntoView();
		});
	</script>
	{% endif %}
{% endblock %}
