{% extends "pyha/base/requestview_base.html" %}
{% load i18n %}

{% block end_script %}
	<script>
		$(document).on('click','.initializeContainer',function(e){
			var name ="#initialize";
			e.preventDefault();
			$('#confirm-modal').off()
			$('#confirm-modal').modal({backdrop: 'static', keyboard: false})
				.one('click', '#yes', function(){
					$(name).submit();
			});

		});
		$(document).ready(function(){
			get_request_header();
		});
	</script>
	<script>
		function checkHasDescription(){
			done = true;
		}
		function showAnswer(target) {
			var x = document.getElementById(target);
			if (x.style.display == 'none') {
				x.style.display = 'block';
			}
		}
	</script>
	{% if coordinates %}
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
			initializeMap();
			map.setView([{{coordinates.5}}, {{coordinates.6}}], 7);
			document.getElementById('filters').style.display = 'block';
			map.invalidateSize();
			document.getElementById('filters').style.display = '';
			var bounds = [[{{coordinates.0}}, {{coordinates.2}}], [{{coordinates.1}},{{coordinates.3}}]];
			L.rectangle(bounds, {color: "#ff7800", weight: 1}).addTo(map);
		});
	</script>
	{% endif %}
	{% if next == 'information' %}
	<script>
		$(document).ready(function(){
			document.getElementById('information_bottom').scrollIntoView();
		});
	</script>
	{% endif %}
{% endblock %}
