{% load i18n %}
{% load pyha_tags %}

{% if role == "handler" or role == "admin" %}
  <h1>{% trans "handler_request_from_user" %}
    {{request_owner}},
    {{request_owners_email}}
  </h1>

  <h2>{{userRequest.date|date:"d.m.Y    H:i"}}</h2>
{% else %}
  <div class="page-header" id="request_header">
    <!--  requestheader.html snippet appears here -->
  </div>
{% endif %}

<h2>
  <span style="white-space: nowrap;">
    {% trans "state_of_request" %}
    <span
    {% if userRequest.status == 1 %}
       style="color:#AABBDD;"
    {% elif userRequest.status == 2 %}
       style="color:#BBBB77;"
    {% elif userRequest.status == 3 or userRequest.status == -2 %}
       style="color:#DDBBAA;"
    {% elif userRequest.status == 4 %}
       style="color:#99DD99;"
    {% else %}

    {% endif %}
    >
    {% translateRequestStatus userRequest.status role userRequest.answerstatus userRequest.waitingstatus downloadable %}
    {% if userRequest.status == 6 %}
      <a href="{{request.path}}?next=information" style="font-size:12px;white-space:normal;">{% trans "show_additional_information" %}</a>
    {% endif %}
    </span>
  </span>
</h2>

{% if role == "handler" %}
{% if userRequest.waitingstatus == 1 and userRequest.status == 7 or userRequest.waitingstatus == 1 and userRequest.status == 8 %}
<div class="alert alert-danger" role="alert">
  <p>{% trans "handling_suspended_warning" %}</p>
</div>
{% elif userRequest.frozen %}
<div class="alert alert-danger" role="alert">
  <p>{% trans "frozen_warning" %}{% if requestHandlerChat_list|length > 0 %}
    <a href="{{request.path}}?next=comments">{% trans "show_comments" %}</a>{% endif %}
  </p>
</div>
{% endif %}
{% endif %}

{% if role == "admin" %}
  <form action="{% url 'pyha:freeze' %}" id="requestform" method="post">
  	<div class="form-group stale-form">
  		<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
  		<input type="hidden" id="next" name="next" value="{{request.path}}">
  		{% if userRequest.frozen %}
  		<h4 style="color:red">{% trans "admin_request_is_frozen" %}</h4>
  		<button type="submit" id="submit" name="freeze" class="btn btn-default btn-sm" >{% trans "admin_unfreeze_request" %}</button>
  		<p>{% trans 'admin_unfreeze_request_to_re-enable_access_and_actions_by_users_not_admin'%}</p>
  		{% else %}
  		<h4 style="color:green">{% trans 'admin_request_is_not_frozen'%}</h4>
  		<button type="submit" id="submit" name="freeze" class="btn btn-default btn-sm" >{% trans "admin_freeze_request" %}</button>
  		<p>{% trans 'admin_freeze_request_to_disable_access_and_actions_by_users_not_admin'%}</p>
  		{% endif %}
  	</div>
  	{% csrf_token %}
  </form>
{% endif %}
