{% extends "pyha/base/base.html" %}
{% load i18n %}
{% load pyha_tags %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        {% include "pyha/requestview/requestview_header.html" %}
      </div>

  		<div class="collection-table">
  			{% if collections %}
  			<h2 style="text-align:center;top:0%;">{% trans "restricted" %}</h2>
  			<div>
  			<table class="table">
  				{% for collection in collections %}
  					<tr>
  					<td>{{collection.result.collectionName}} <small>[<a href="{{tun_link}}{{collection.address}}" target="_blank">{% trans 'to_metadata' %}</a>]</small></td>
  					<td>
  					<div class="slider-group" style="text-align:center;">
  						<span class="slider slider-{{role}}{% if collection.status == 1 %}-light{% endif %}">
                {% translateCollectionStatus 1 role collection.address handles %}
              </span>
  						<span class="slider slider-{{role}}{% if collection.status == 4 %}-light{% endif %}">
                {% translateCollectionStatus 4 role collection.address handles %}
              </span>
  						<span class="slider slider-{{role}}{% if collection.status == 3 %}-light{% endif %}">
                {% translateCollectionStatus 3 role collection.address handles %}
              </span>
  					</div>
  					</td>
  				</tr>
  				{% endfor %}
  			</table>
  			</div>
  			{% endif %}
  		</div>

      {% if role == "user" %}
      <div class="user-download">
				{% if userRequest.status == 8 %}
					{% if downloadable %}
						<div style="text-align:center;">
						<a href="{{download}}" type="button" class="btn btn-default btn-lg" style="line-height:20px;width:100%; max-width:500px;"><span class="glyphicon glyphicon-open-file"></span> {% trans 'download' %}</a>
						</div>
					{% else %}
						<h3 style="text-align:center;">{% trans 'download_has_expired' %}</h3>
					{% endif %}
				{% elif userRequest.status == 4  %}
				<div style="text-align:center;">
					<form action="{% url 'pyha:initializeDownload' %}" method="post">
						<button style="width:100%; max-width:500px;" class="btn btn-default btn-lg " style="line-height:20px;width:100%; max-width:500px;">{% trans 'initialize_download' %}</button>
						<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
						<input type="hidden" id="next" name="next" value={{request.path}}>
						{% csrf_token %}
					</form>
				</div>
				{% elif userRequest.status == 7%}
				<h3 style="text-align:center;">{% trans 'you_will_be_emailed_when_ready' %}</h3>
				{% elif userRequest.status == 1 and endable %}
				<div style="text-align:center;">
					<button type="button" class="btn btn-default btn-lg initializeButton initializeContainer" style="line-height:20px;width:100%; max-width:500px;">{% trans 'stop_wait_initialize_download' %}</button>
				</div>
				{% endif %}
				<form class="form-hidden" action="{% url 'pyha:initializeDownload' %}" id="initialize" method="post">
					<div class="form-group">
						<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
						<input type="hidden" id="next" name="next" value={{request.path}}>
						<input type="submit" class="btn" value="submit!" name="psubmit" Style="display: none;">
					{% csrf_token %}
					</div>
				</form>
      </div>
      {% endif %}

      <ul class="nav nav-tabs" role="tablist">
        <li id="change-history-tab" role="presentation" {% if next == "history" %} class="active" {% endif %} >
          <a href="#history" class="request-tab request-view-tab" data-toggle="tab" aria-controls="history" role="tab" {% if next == "history" %} aria-expanded="true" {% endif %}>
            <span>
              {% trans "changes_history" %}
            </span>
          </a>
        </li>
        <li id="contacts-tab" role="presentation" {% if next == "contacts" %} class="active" {% endif %} >
          <a href="#contacts" class="request-tab request-view-tab" data-toggle="tab" aria-controls="contact" role="tab"{% if next == "contacts" %} aria-expanded="true" {% endif %}>
            <span>
              {% trans 'contact_window' %}
            </span>
          </a>
        </li>
        <li id="arguments-tab" role="presentation" {% if next == "arguments" %} class="active" {% endif %} >
          <a href="#arguments" class="request-tab request-view-tab" data-toggle="tab" aria-controls="argument" role="tab"{% if next == "arguments" %} aria-expanded="true" {% endif %}>
            <span>
              {% trans 'argument_window' %}
            </span>
          </a>
        </li>
        <li id="request-tab" role="presentation" {% if next == "request" %} class="active" {% endif %} >
          <a href="#request" class="request-tab request-view-tab" data-toggle="tab" aria-controls="request" role="tab"{% if next == "request" %} aria-expanded="true" {% endif %}>
            <span>
              {% trans 'request_window' %}
            </span>
          </a>
        </li>
        <li id="filters-tab" role="presentation" {% if next == "filters" %} class="active" {% endif %} >
          <a href="#filters" class="request-tab request-view-tab" data-toggle="tab" aria-controls="filters" role="tab"{% if next == "filters" %} aria-expanded="true" {% endif %}>
            <span>
              {% trans 'filter_window' %}
            </span>
          </a>
        </li>
        <li id="decision-tab" role="presentation" {% if next == "decision" %} class="active" {% endif %} >
          <a href="#decision" class="request-tab {% if role == "handler" or role == "admin" %}request-{{role}}-action-tab{% else %}request-view-tab{% endif %}" data-toggle="tab" aria-controls="decision" role="tab"{% if next == "decision" %} aria-expanded="true" {% endif %}>
            <span>
              {% if role == "handler" or role == "admin" %}
              {% trans 'make_decision_window' %}
              {% else %}
              {% trans 'decision_window' %}
              {% endif %}
            </span>
          </a>
        </li>
        {% if role == "handler" or role == "admin" or requestInformationChat_list %}
        <li id="additional_information-tab" role="presentation" {% if next == "information" %} class="active" {% endif %} >
          <a href="#additional_information" class="request-tab request-{{role}}-action-tab" data-toggle="tab" aria-controls="additional_information" role="tab" {% if next == "information" %} aria-expanded="true" {% endif %}>
            <span>
              {% if role == "handler" or role == "admin" %}
              {% trans 'ask_additional_information_window' %}
              {% else %}
              {% if userRequest.status == 6 %}<span class="glyphicon glyphicon-exclamation-sign"></span> {% endif %}{% trans 'additional_information_window' %}
              {% endif %}
            </span>
          </a>
        </li>
        {% endif %}
        {% if role == "handler" or role == "admin" %}
        <li id="handler_comments-tab" role="presentation" {% if next == "comments" %} class="active" {% endif %} >
    			<a href="#handler_comments" class="request-tab request-{{role}}-action-tab" data-toggle="tab" aria-controls="handler_comments" role="tab" {% if next == "comments" %} aria-expanded="true" {% endif %}>
    				<span>
    					{% trans 'col_handler_comments_window' %}
    				</span>
    			</a>
    		</li>
        {% endif %}
        {% if role == "admin" %}
        <li id="admin_communications-tab" role="presentation" {% if next == "communications" %} class="active" {% endif %} >
    			<a href="#admin_communications" class="request-tab request-{{role}}-action-tab" data-toggle="tab" aria-controls="admin_communications" role="tab" {% if next == "communications" %} aria-expanded="true" {% endif %}>
    				<span>
    					{% trans 'admin_communications_window' %}
    				</span>
    			</a>
    		</li>
        {% endif %}
      </ul>

      <div class="tab-content">
        <div class="request-view-pane tab-pane {% if next == 'history' %} active {% endif %}" role="tabpanel" id="history">
          {% include "pyha/requestview/tabs/history.html" %}
        </div>
        <div class="request-view-pane tab-pane {% if next == 'contacts' %} active {% endif %}" role="tabpanel" id="contacts">
          {% include "pyha/requestview/tabs/contacts.html" %}
        </div>
        <div class="request-view-pane tab-pane {% if next == 'arguments' %} active {% endif %}" role="tabpanel" id="arguments">
          {% include "pyha/requestview/tabs/arguments.html" %}
        </div>
        <div class="request-view-pane tab-pane {% if next == 'request' %} active {% endif %}" role="tabpanel" id="request">
          {% include "pyha/requestview/tabs/request.html" %}
        </div>
        <div class="request-view-pane tab-pane {% if next == 'filters' %} active {% endif %}" role="tabpanel" id="filters">
          {% include "pyha/requestview/tabs/filters.html" %}
        </div>
        <div class="request-view-pane tab-pane {% if next == 'decision' %} active {% endif %}" role="tabpanel" id="decision">
          {% if role == "handler" or role == "admin" %}
          {% include "pyha/requestview/tabs/make_decision.html" %}
          {% else %}
          {% include "pyha/requestview/tabs/decision.html" %}
          {% endif %}
        </div>
        <div class="request-view-pane tab-pane {% if next == 'information' %} active {% endif %}" role="tabpanel" id="additional_information">
          {% if role == "handler" or role == "admin" %}
          {% include "pyha/requestview/tabs/ask_information.html" %}
          {% else %}
          {% include "pyha/requestview/tabs/information.html" %}
          {% endif %}
        </div>
        {% if role == "handler" or role == "admin" %}
        <div class="request-view-pane tab-pane {% if next == 'comments' %} active {% endif %}" role="tabpanel" id="handler_comments">
        {% include "pyha/requestview/tabs/comments.html" %}
        </div>
        {% endif %}
        {% if role == "admin" %}
        <div class="request-view-pane tab-pane {% if next == 'communications' %} active {% endif %}" role="tabpanel" id="admin_communications">
        {% include "pyha/requestview/tabs/admin_communications.html" %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- hidden confirm modal -->
<div id="confirm-modal" class="modal fade modal-confirm">
  <div class="modal-content">
    <div class="modal-header">
    </div>
    <div class="modal-body">
      <p>{% trans "are_you_sure_you_want_to_download_only_those_given" %}</p>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-danger" id="yes">{% trans "Yes" %}</button>
      <button type="button" data-dismiss="modal" class="btn btn-outline-secondary">{% trans "back" %}</button>
    </div>
  </div>
</div>

<input type="hidden" id="setDescriptionURL" name="setDescription" value="{% url 'pyha:set_description_ajax' %}">
<input type="hidden" id="getDescriptionURL" name="getDescription" value="{% url 'pyha:get_description_ajax' %}">

{% endblock %}

{% block end_script %}
{% if coordinates %}
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    initializeMap();
    map.setView([{{coordinates.5}}, {{coordinates.6}}], 7);
    document.getElementById('filters').style.display = 'block';
    map.invalidateSize();
    document.getElementById('filters').style.display = '';
    var bounds = [[{{coordinates.0}}, {{coordinates.2}}], [{{coordinates.1}},{{coordinates.3}}]];
    L.rectangle(bounds, {color: "#ff7800", weight: 1}).addTo(map);
  });
</script>
{% endif %}

{% if next == 'decision' %}
<script>
  $(document).ready(function(){
    document.getElementById('decision-tab').scrollIntoView();
  });
</script>
{% elif next == 'information' %}
{% if role == 'admin' or role == 'handler' %}
<script>
  $(document).ready(function(){
    document.getElementById('ask-information-form').scrollIntoView();
  });
</script>
{% else %}
<script>
  $(document).ready(function(){
    document.getElementById('information_bottom').scrollIntoView();
  });
</script>
{% endif %}
{% elif next == 'comments' %}
<script>
  $(document).ready(function(){
    document.getElementById('commentform').scrollIntoView();
  });
</script>
{% elif next == 'communications' %}
<script>
  $(document).ready(function(){
    document.getElementById('admin_communications-tab').scrollIntoView();
  });
</script>
{% endif %}

<script>
  function updateTextareaLimit(textareaId, maxLength) {
    var textElement = document.getElementById(textareaId);
  	var text = textElement.value;
    var newlines = text.split('\n').length - 1;
    var count = text.length + newlines;

    var countElement = document.getElementById(textareaId + '_count');
    countElement.innerHTML = count + '/' + maxLength;

    var textareaErrorClass = 'textarea-has-error';
    var countOverClass = 'textarea-character-count-over';
    if (count > maxLength) {
      textElement.classList.add(textareaErrorClass);
      countElement.classList.add(countOverClass);
    } else {
      textElement.classList.remove(textareaErrorClass);
      countElement.classList.remove(countOverClass);
    }
  }

  function addTextareaLimit(textareaId, maxLength) {
    updateTextareaLimit(textareaId, maxLength);
    var elem = document.getElementById(textareaId);
    elem.onkeyup = function() {
      updateTextareaLimit(textareaId, maxLength);
    }
    elem.onpaste = function() {
      updateTextareaLimit(textareaId, maxLength);
    }
  }

  $(document).ready(function() {
    addTextareaLimit('reason', 5000);
    {% if role == 'handler' or role == 'admin' %}
    addTextareaLimit('decision_reason', 5000);
    addTextareaLimit('commentsForHandlers', 5000);
    {% endif %}
  });
</script>

{% if role == 'handler' or role == 'admin' %}
<script>
function checkSelected() {
  var disabled = true;

  var checkboxes = document.getElementsByClassName('select_collection_checkbox');
  for (var i = 0; i < checkboxes.length; i++) {
    var checkbox = checkboxes[i];
    if (checkbox.checked && !checkbox.disabled) {
      disabled = false;
    }
  }

  document.getElementById('submit_accept_selected').disabled = disabled;
  {% if role == 'admin' %}
  document.getElementById('submit_reset_selected').disabled = disabled;
  {% endif %}
  document.getElementById('submit_refuse_selected').disabled = disabled;
}
$(document).ready(function(){
  checkSelected();
});
</script>
{% endif %}

{% if role == 'admin' %}
<script>
  function refreshCommunicationsEmailByLang() {
    var x = document.getElementById('admin_com_email_lang');
    var strLang = x.options[x.selectedIndex].value;

    if (strLang == 'all'){
      document.getElementById('com_email_header').value = document.getElementById('com_email_header_fi').innerHTML;
      document.getElementById('com_email_content').value = '{%trans "in_other_languages_below"%}\n\n\n\n';
      {% for lang in languages %}
      document.getElementById('com_email_content').value += document.getElementById('com_email_content_{{ lang.code }}').innerHTML;
      document.getElementById('com_email_content').value += '\n\n------------------------------------';
        {% if not forloop.last %}
          document.getElementById('com_email_content').value += '\n\n\n';
        {% endif %}
      {% endfor %}
    } else {
      document.getElementById('com_email_header').value = document.getElementById('com_email_header_'+strLang).innerHTML;
      document.getElementById('com_email_content').value = document.getElementById('com_email_content_'+strLang).innerHTML;
    }

  }
</script>
<script>
  function enableCommunicationsEmail() {
    var x = document.querySelectorAll('[name^=email_id_]');
    var b = false;
    for (i = 0; i < x.length; i++){
      if(x[i].checked){
        b = true;
        break;
      }
    }
    {% if not userRequest.frozen %}
    document.getElementById('submit_email').disabled = !b;
    {% endif %}

  }
</script>
<script>
  $(document).ready(function(){
    refreshCommunicationsEmailByLang();
    enableCommunicationsEmail();
  });
</script>
{% elif role == 'user' %}
<script>
  $(document).on('click','.initializeContainer',function(e){
    var name ="#initialize";
    e.preventDefault();
    $('#confirm-modal').off()
    $('#confirm-modal').modal({backdrop: 'static', keyboard: false})
      .one('click', '#yes', function(){
        $(name).submit();
    });

  });
  $(document).ready(function(){
    get_request_header();
  });
</script>
<script>
  function checkHasDescription(){}
  function showAnswer(target) {
    var x = document.getElementById(target);
    if (x.style.display == 'none') {
      x.style.display = 'block';
    }
  }
</script>
{% endif %}
{% endblock %}
