											{% load i18n %}
												<h3>{% trans "restricted_collections_in_request" %}</h3>
												<button type="button" class="btn btn-default btn-s" data-toggle="collapse" data-target="#sensitiveInfo"><span class="glyphicon glyphicon-info-sign"></span></button>
												<p>{% trans 'given_values_are_not_absolute' %}</p>

												<div id="sensitiveInfo" class="collapse">
													<p>{% trans "sensitivity_info" %}</p>
												</div>

												<p></p>
												<table class="table" style="width:100%">
												<tr style=color:black>

												<th>{% trans "collection_for_user" %}</th>
												<th>{% trans "request_description" %}</th>
												<th>{% trans "sightings_secured_by_data_provider" %}</th>
												<th></th>

												</tr>
												{% for collection in collections %}
												<tr id="taxon{{ collection.address }}" style="border-bottom:2px solid #456789">
													<td>{{collection.result.collectionName}}</td>
													<td>{{collection.result.description}}</td>
													<td>{{collection.allSecured}}</td>
													<td>

														<div class="deleteContainer">
															<button class="removeCollectionButton" id="form{{ collection.id }}" type="button" ><span class="glyphicon glyphicon-trash"></span></button>
																{% trans "Delete_these_sightings" %}
														</div>

													</td>
												</tr>
												{% endfor %}
												</table>
												<ul class="list-inline pull-right">
												<li><span id ="statustextsens">{% trans "you_have_not_accepted_terms" %}</span></li>
												<li id="sensterms"><button type="button" class="btn btn-default" required data-toggle="modal" data-target="#myModalsens">{% trans "terms" %}</button><li>
												<li><button type="button" class="btn btn-default prev-step">{% trans 'previous'%}</button></li>
												<li><button type="button" id ="to_step_summary" class="btn btn-primary next-step">{%trans 'continue'%}</button></li>
												</ul>
