{% load i18n %}
				{% if not collections and not taxon %}
				<h3>{% trans "request_was_empty_and_will_be_closed" %}</h3>
				{% else %}
				<h4>{% trans "collections_in_request" %}</h4>
				<p>{% trans 'given_values_are_not_absolute' %}</p>
						<table class="table" style="width:100%">
							<tr style=color:black>
								<th>{% trans "collection_for_user" %}</th>
								<th>{% trans "request_description" %}</th>
								<th>{% trans "secured_by_data_provider" %}</th>
							</tr>
							{% for collection in collections %}
							<tr>
								<td>{{collection.result.collectionName}} <small>[<a href="{{tun_link}}{{collection.address}}" target="_blank">{% trans 'to_metadata' %}</a>]</small></td>
								<td>{{collection.result.description}}</td>
								<td>{{collection.allSecured}}</td>
							</tr>
							{% endfor %}
						</table>
				{% endif %}
