{% extends "pyha/base.html" %}
{% block content %}
{% load i18n %}

	<div class="container-fluid">
		<div class="col-xs-12">
		  <div class="page-header"> 

			<h1>{% trans "request_from_user" %}
				{{request_owner}},
				{{request_owners_email}}
			</h1>
					
				<h2>{{userRequest.date|date:"d.m.Y    H:i"}}</h2>
			<h2><span style="white-space: nowrap;">(
					<span
					{% if userRequest.status == 1 %}
						 style="color:#AABBDD;"
					{% elif userRequest.status == 2 %}
						 style="color:#BBBB77;"
					{% elif userRequest.status == 3 %}
						 style="color:#DDBBAA;"
					{% elif userRequest.status == 4 %}
						 style="color:#99DD99;"
					{% else %}
						
					{% endif %}
					> 
					{% if userRequest.status == 1 %}
					{% trans "waiting_for_data_provider" %}
					
					{% elif userRequest.status == 2 %}
					{% trans "partially_accepted" %}
					
					{% elif userRequest.status == 3 %}
					{% trans "denied" %}
					
					{% elif userRequest.status == 4 %}
					{% trans "accepted" %}
					
					{% else %}  
					{% trans "unknown" %}
					
					{% endif %}
					
					</span>
					)
				</span></h2>
		  </div>

			<div class="outer">
				<div class="floatcontainer">
					<div class="inner" id="requestLog_list" style="overflow-y: scroll;">
						{% if requestLog_list %}
						<h4>{% trans "Muutoshistoria" %}</h4>
							<table class="inner, table-bordered">
								<tr>
									<th>{% trans "Päiväys" %}</th>
									<th>{% trans "Tekijä" %}</th>
									<th>{% trans "Kuvaus" %}</th>
								</tr>
							{% for requestLog in requestLog_list %}
							<tr>
								<td>{{requestLog.date|date:"d.m.Y    H:i"}}</td>
								<td>{{requestLog.email}}</td>
								{% if requestLog.action == 'VIEW' %}
								<td>{% trans "Katsottu" %}</td>
								{% elif requestLog.action == 'DEL_S' %}
								<td>{% trans "Poistettu sensitiiviset havainnot" %}</td>
								{% elif requestLog.action == 'DEL_C' %}
								<td>{% trans "Poistettu aineistonhaltijan rajaamat havainnot" %}</td>
									{% elif requestLog.action == 'ACC' %}
									<td>{% trans "Ehdot hyväksytty" %}</td>
									{% elif requestLog.action == 'POS' %}
									<td>{% trans "Aineistopyyntö hyväksytty" %}</td>
									{% elif requestLog.action == 'NEG' %}
									<td>{% trans "Aineistopyyntö hylätty" %}</td>
								{% endif %}
								</tr>
							{% endfor %}
							</table>
						{% else %}
							<strong>{% trans "Muutoshistoria on tyhjä" %}.</strong>
						{% endif %}
					</div>
				</div>
			</div>

		  
				<h2>{% trans "request_filters" %}</h2>

				<button class= "btn btn-default" data-toggle="collapse" data-target="#filterlist" id="filterbutton">{% trans "show" %}</button>
				<div id="filterlist" class="collapse">
					{% if filters %}
						<table class = "table" style="width:100%">
							<tr style=color:black>
								<th>{% trans "filter" %}</th>
								<th>{% trans "values" %}</th>	
							</tr>	
							{% for filter in filters %}
							<tr>	
								<td rowspan={{filter.1|length}}>{{ filter.2 }}</td>
								{% for f in filter.1 %}
								<td>{{ f }}</td>
							</tr>
								<tr>
								{% endfor %}
								</tr>
							{% endfor %}
						</table>
					{% else %}
						<strong>{% trans "no_filters" %}.</strong>
					{% endif %}
				</div>
				<br></br>
				<h2>{% trans "request_arguments_for_admin" %}:</h2>
				<p>{{userRequest.reason}}</p>
				<br></br>
				<!-- aineistolista -->
				{% if taxonlist or customlist %}
					{% if role1 %}
								<div class="modal fade" id="myModalsens" tabindex="-1" role="dialog" aria-labelledby="sensiModalLabel">
								  <div class="modal-lg modal-dialog" role="document">
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">{% trans "sensitive_terms" %}</h4>
									  </div>
									  <div class="modal-body">
										{% load static %}
										<object data= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
											<alt>{% trans "If_you_cannot_see_terms_you_can_load_them" %} <a href="{{ static }}pyha/ehdot.pdf">{% trans "here" %}</a></alt>
											<embed src= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
										</object>
									  </div>
									  <div class="modal-footer">
										<input type="checkbox" id ="checkbsens" name="checkb" value="sens" onchange="checksens(); checkForApproval();">
										{% trans "I have read and understood the terms" %}<br>
										<p></p>
										<script>checksens();</script>
										<button type="button" class="btn btn-default" data-dismiss="modal" id=>{% trans "exit" %}</button>
									  </div>
									</div>
								  </div>
								</div>
							{% if userRequest.sensstatus == 0 %}
							<h2>{% trans "User doesn't want sensitive data"%}</h2>
							{% else %}
							<h2>{% trans "User wants sensitive data"%}</h2>
							<h2>{% trans "list_of_collections"%}</h2>
							{% for collection in taxonlist %}
								<p>{{collection.result.collectionName}}<p>
							{% endfor %}
							<table class="table" style="width:100%">
								<tr style=color:black>
								<th>{% trans "state_of_processing" %}</th>
								<th>{% trans "decision_arguments" %}</th>
								</tr>
								{% if userRequest.sensstatus == 1 %}
								<tr class="info clickable-row"
								{% elif userRequest.sensstatus == 3 %}
								<tr class="danger clickable-row"
								{% elif userRequest.sensstatus == 4 %}
								<tr class="success clickable-row"
								{% else %}  
								<tr	
								{% endif %}
								>
								{% if userRequest.sensstatus == 1 %}
								<td>{% trans "waiting_for_data_provider" %}</td>
								{% elif userRequest.sensstatus == 3 %}
								<td>{% trans "denied" %}</td>
								{% elif userRequest.sensstatus == 2 %}
								<td>{% trans "partially_accepted" %}</td>
								{% elif userRequest.sensstatus == 4 %}
								<td>{% trans "accepted" %}</td>
								{% else %}  
								<td>{% trans "unknown" %}</td>	
								{% endif %}
								<td>
									<form action="{% url 'pyha:answer' %}" id="requestform" method="post">
									<div class="form-group">
										<input type="hidden" id="collectionid" name="collectionid" value="sens">
										<input type="hidden" id="next" name="next" value={{request.path}}>
										<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
										<textarea class="form-control" rows="5" cols="700" id="reason" name="reason" required >{% if userRequest.sensDecisionExplanation %}{{userRequest.sensDecisionExplanation}}{% else %}{% endif %}</textarea>
										<button type="submit" id="submit" name="answer" value=1 class="btn btn-default btn-sm">{% trans "accept" %}</button>
										<button type="submit" id="submit" name="answer" value=0 class="btn btn-default btn-sm">{% trans "refuse" %}</button>
									</div>
									{% csrf_token %}
									</form>
								</td>
								</tr>
							</table>
							{% endif %}
					{% endif %}
				<br></br>
					{% if role2 and customlist %}
					<h2>{% trans "secured_collections" %}:</h2>
						<table class="table" style="width:100%">
							<tr style=color:black>
								<th>{% trans "collection_for_admin" %}</th>
								<th>{% trans "request_description" %}</th>
								<th>{% trans "state_of_processing" %}</th>
								<th>{% trans "terms" %}</th>
								<th>{% trans "decision_arguments" %}</th>
							</tr>
							{% for collection in customlist %}
								{% if collection.status == 1 %}
								<tr class="info clickable-row"
								{% elif collection.status == 3 %}
								<tr class="danger clickable-row"
								{% elif collection.status == 4 %}
								<tr class="success clickable-row"
								{% else %}  
								<tr	
								{% endif %}
								>
								<td>{{collection.result.collectionName}}</td>
								<td>{{collection.result.description}}</td>
								
								{% if collection.status == 1 %}
								<td>{% trans "waiting_for_data_provider" %}</td>
								{% elif collection.status == 3 %}
								<td>{% trans "denied" %}</td>
								{% elif collection.status == 2 %}
								<td>{% trans "partially_accepted" %}</td>
								{% elif collection.status == 4 %}
								<td>{% trans "accepted" %}</td>
								{% else %}  
								<td>{% trans "unknown" %}</td>	
								{% endif %}
							<td><button type="button" class="btn btn-default btn-sm" required data-toggle="modal" data-target="#myModal{{ forloop.counter0 }}">{% trans "terms" %}</button></td>
							<td><form action="{% url 'pyha:answer' %}" id="requestform" method="post">
								<div class="form-group">
										<input type="hidden" id="collectionid" name="collectionid" value={{collection.address}}>
										<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
										<input type="hidden" id="next" name="next" value={{request.path}}>
										<textarea class="form-control" rows="5" cols="700" id="reason" name="reason" required >{% if collection.decisionExplanation %}{{collection.decisionExplanation}}{% else %}{% endif %}</textarea>
										<button type="submit" id="submit" name="answer" value=1 class="btn btn-default btn-sm">{% trans "accept" %}</button>
										<button type="submit" id="submit" name="answer" value=0 class="btn btn-default btn-sm">{% trans "refuse" %}</button>
									</div>
									{% csrf_token %}
								</form>
							</td>
								<!-- Modal -->
								<div class="modal fade" id="myModal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  <div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">{% trans "Terms of use of the collections" %}</h4>
									  </div>
									  <div class="modal-body">
										{% load static %}
										<object data= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
											<alt>{% trans "If_you_cannot_see_terms_you_can_load_them" %} <a href="{{ static }}pyha/ehdot.pdf">{% trans "here" %}</a></alt>
											<embed src= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
										</object>
									  </div>
									  <div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal" id=>{% trans "exit" %}</button>
									  </div>
									</div>
								  </div>
								</div>
							</tr>
							{% endfor %}
						</table>
						{% endif %}
						</div>
					{% else %}
						<strong> {% trans "no_collections_for_requests" %}.</strong>
					{% endif %}
		</div>

	  </div>
{% endblock %}

{% block script %}
	<script>
	$(document).ready(function(){
	  $("#filterlist").on("hide.bs.collapse", function(){
		$("#filterbutton").html('Näytä');
	  });
	  $("#filterlist").on("show.bs.collapse", function(){
		$("#filterbutton").html('Piilota');
	  });
	});
	</script>
	
	<!-- näytä kuvauksen muokkaus elementti jos kuvauksen pituus on 0 -->
	<script>
	$(document).ready(function(){
		var descExists = {{ userRequest.description.strip|length }};
		if (descExists == 0) {
			$("#descriptionEdit").show();
		}
	});
	</script>
	
	<!-- oma scripti kuvauksen muokkausnapille show/hide -->
	<script>
	$(document).ready(function(){
	  $("#descriptionEdit").on("hide.bs.collapse", function(){
		$("#descriptionButton").html('<span class="glyphicon glyphicon-pencil"></span>');
	  });
	  $("#descriptionEdit").on("show.bs.collapse", function(){
		$("#descriptionButton").html('Piilota');
	  });
	});
	
	</script>
{% endblock %}

{% block modal %}
{% endblock %}
