{% extends "pyha/base.html" %}
{% block content %}
{% load i18n %}

	<div class="container-fluid">
		<div class="col-xs-12">
		<div class="page-header"> 
			<h1>{% trans "handler_request_from_user" %}
				{{request_owner}},
				{{request_owners_email}}
			</h1>
					
				<h2>{{userRequest.date|date:"d.m.Y    H:i"}}</h2>
			<h2><span style="white-space: nowrap;">(
					<span
					{% if userRequest.status == 1 %}
						 style="color:#AABBDD;"
					{% elif userRequest.status == 2 %}
						 style="color:#BBBB77;"
					{% elif userRequest.status == 3 %}
						 style="color:#DDBBAA;"
					{% elif userRequest.status == 4 %}
						 style="color:#99DD99;"
					{% else %}
						
					{% endif %}
					> 
					{% if userRequest.status == 1 %}
					{% trans "handler_waiting_for_data_provider" %}
					
					{% elif userRequest.status == 2 %}
					{% trans "handler_partially_accepted" %}
					
					{% elif userRequest.status == 3 %}
					{% trans "handler_denied" %}
					
					{% elif userRequest.status == 4 %}
					{% trans "handler_accepted" %}
					
					{% elif userRequest.status == 6 %}
					{% trans "handler_waiting_for_additional_information" %}
					
					{% else %}  
					{% trans "handler_unknown" %}
					
					{% endif %}
					
					</span>
					)
				</span></h2>
		</div>
			<div class="col-xs-12" style="float:left;padding-left:0px;">
				{% if userRequest.status == 1 %}
				<div class="alert alert-info
				{% elif userRequest.status == 2 %}
				<div class="alert alert-warning
				{% elif userRequest.status == 3 %}
				<div class="alert alert-danger
				{% elif userRequest.status == 4 %}
				<div class="alert alert-success
				{% else %}  
				<div class="alert
				{% endif %}
				col-xs-7 requestcard">
					<div class="panel-body col-xs-5" style="display:flex;">
							{% if userRequest.sensstatus == 1 %}
							<div class="alert alert-info"
							{% elif userRequest.sensstatus == 3 %}
							<div class="alert alert-danger"
							{% elif userRequest.sensstatus == 4 %}
							<div class="alert alert-success"
							{% else %}  
							<div class="alert"
							{% endif %}
							style="width:100%;text-align:center;margin:0px;">
							<h1 style="position:relative;top:25%;">{% trans "sensitive" %}</h1>
							{% if userRequest.sensstatus == 1 %}
							<h2 style="position:relative;top:25%;">{% trans "waiting_for_data_provider" %}</h2>
							{% elif userRequest.sensstatus == 3 %}
							<h2 style="position:relative;top:25%;">{% trans "denied" %}</h2>
							{% elif userRequest.sensstatus == 4 %}
							<h2 style="position:relative;top:25%;">{% trans "accepted" %}</h2>
							{% endif %}
							</div>
					</div>
					<div class="panel-body requestcollections col-xs-7" style= "{% if userRequest.sensstatus == 3 %}opacity: 0.5;{% endif %}">
					<table class="table">
						{% for collection in customlist %}
							{% if collection.status == 1 %}
							<tr class="info clickable-row"
							{% elif collection.status == 3 %}
							<tr class="danger clickable-row"
							{% elif collection.status == 4 %}
							<tr class="success clickable-row"
							{% else %}  
							<tr	
							{% endif %}
							>
							<td>{{collection.result.collectionName}}</td>
						</tr>
						{% endfor %}
					</table>
					</div>
				</div>
					<div class="inner requestlog" id="requestLog_list" style="overflow-y: scroll;">
						{% if requestLog_list %}
						<h4>{% trans "handler_changes_history" %}</h4>
							<table class="table-bordered">
								<tr>
									<th>{% trans "handler_log_date" %}</th>
									<th>{% trans "handler_log_maker" %}</th>
									<th>{% trans "handler_log_description" %}</th>
								</tr>
							{% for requestLog in requestLog_list %}
							<tr>
								<td>{{requestLog.date|date:"d.m.Y    H:i"}}</td>
								<td>{{requestLog.name}} ({{requestLog.email}})</td>
								{% if requestLog.action == 'VIEW' %}
								<td>{% trans "handler_log_viewed" %}</td>
								{% elif requestLog.action == 'ACC' %}
								<td>{% trans "handler_log_terms_accepted" %}</td>
								{% elif requestLog.action == 'POS' %}
									{% if requestLog.collection == None %}
									<td>{% trans "handler_log_sensitives_accepted" %}</td>
									{% else %}
									<td>{% trans "handler_log_collection_accepted" %} ({{ requestLog.collection.result.collectionName }}) </td>
									{% endif %}
								{% elif requestLog.action == 'NEG' %}
									{% if requestLog.collection == None %}
									<td>{% trans "handler_log_sensitives_denied" %}</td>
									{% else %}
									<td>{% trans "handler_log_collection_denied" %} ({{ requestLog.collection.result.collectionName }})</td>
									{% endif %}
								{% endif %}
								</tr>
							{% endfor %}
							</table>
						{% else %}
							<strong>{% trans "handler_log_no_history" %}.</strong>
						{% endif %}
					</div>
				</div>
				<ul class="nav nav-tabs" role="tablist">
					<li id="request-tab" role="presentation" class="active" style="background-color:#EFF8FB">
						<a href="#request" class="vertical-tab" data-toggle="tab" aria-controls="contact" role="tab">
							<span>
								{% trans 'handler_request_window' %}
							</span>
						</a>
					</li>
					<li id="sensitive-tab" role="presentation" style="background-color:#EFF8FB">
						<a href="#sensitive" class="vertical-tab" data-toggle="tab" aria-controls="contact" role="tab">
							<span>
								{% trans 'handler_sensitive_window' %}
							</span>
						</a>
					</li>
					<li id="collection-tab" role="presentation" style="background-color:#EFF8FB">
						<a href="#collection" class="vertical-tab" data-toggle="tab" aria-controls="contact" role="tab">
							<span>
								{% trans 'handler_collection_window' %}
							</span>
						</a>
					</li>  
					<li id="arguments-tab" role="presentation" style="background-color:#EFF8FB">
						<a href="#arguments" class="vertical-tab" data-toggle="tab" aria-controls="argument" role="tab">
							<span>
								{% trans 'handler_argument_window' %}
							</span>
						</a>
					</li>
					<li id="filters-tab" role="presentation" style="background-color:#EFF8FB">
						<a href="#filters" class="vertical-tab" data-toggle="tab" aria-controls="argument" role="tab">
							<span>
								{% trans 'handler_filter_window' %}
							</span>
						</a>
					</li>
					<li id="terms-tab" role="presentation" style="background-color:#EFF8FB">
						<a href="#terms" class="vertical-tab" data-toggle="tab" aria-controls="argument" role="tab">
							<span>
								{% trans 'handler_terms_window' %}
							</span>
						</a>
					</li>
					<li id="contacts-tab" role="presentation" style="background-color:#EFF8FB">
						<a href="#contacts" class="vertical-tab" data-toggle="tab" aria-controls="contact" role="tab">
							<span>
								{% trans 'handler_contact_window' %}
							</span>
						</a>
					</li>
					<li id="additional_information-tab" role="presentation" style="background-color:#EFF8FB">
						<a href="#additional_information" class="vertical-tab" data-toggle="tab" aria-controls="contact" role="tab">
							<span>
								{% trans 'handler_additional_information_window' %}
							</span>
						</a>
					</li>
					{% if role1%}
					<li id="handler_comments-tab" role="presentation" style="background-color:#EFF8FB">
						<a href="#handler_comments" class="vertical-tab" data-toggle="tab" aria-controls="contact" role="tab">
							<span>
								{% trans 'handler_comments_window' %}
							</span>
						</a>
					</li>
					{% endif %}
				</ul>
				<div class="tab-content">
						<div class="tab-pane active" role="tabpanel" id="request">
							<!-- aineistolista -->
							{% if taxonlist or customlist %}
								{% if role1 %}
									{% if userRequest.sensstatus == 0 %}
									<h2>{% trans "handler_user_no_sensitive_data"%}</h2>
									{% else %}
									<h2>{% trans "handler_list_of_collections"%}</h2>
									{% for collection in taxonlist %}
										<span>{{collection.result.collectionName}}</span>
									{% endfor %}
									<br></br>
									<table class="table" style="width:100%">
										<tr style=color:black>
										<th>{% trans "handler_state_of_processing" %}</th>
										<th>{% trans "handler_decision_arguments" %}</th>
										</tr>
										{% if userRequest.sensstatus == 1 %}
										<tr class="info clickable-row"
										{% elif userRequest.sensstatus == 3 %}
										<tr class="danger clickable-row"
										{% elif userRequest.sensstatus == 4 %}
										<tr class="success clickable-row"
										{% else %}  
										<tr	
										{% endif %}
										>
										{% if userRequest.sensstatus == 1 %}
										<td>{% trans "handler_waiting_for_data_provider" %}</td>
										{% elif userRequest.sensstatus == 3 %}
										<td>{% trans "handler_denied" %}</td>
										{% elif userRequest.sensstatus == 2 %}
										<td>{% trans "handler_partially_accepted" %}</td>
										{% elif userRequest.sensstatus == 4 %}
										<td>{% trans "handler_accepted" %}</td>
										{% else %}  
										<td>{% trans "handler_unknown" %}</td>	
										{% endif %}
										<td>
											<form action="{% url 'pyha:answer' %}" id="requestform" method="post">
											<div class="form-group">
												<input type="hidden" id="collectionid" name="collectionid" value="sens">
												<input type="hidden" id="next" name="next" value={{request.path}}>
												<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
												<textarea class="form-control" rows="5" cols="700" id="reason" name="reason" required >{% if userRequest.sensDecisionExplanation %}{{userRequest.sensDecisionExplanation}}{% else %}{% endif %}</textarea>
												<button type="submit" id="submit" name="answer" value=1 class="btn btn-default btn-sm">{% trans "handler_accept" %}</button>
												<button type="submit" id="submit" name="answer" value=0 class="btn btn-default btn-sm">{% trans "handler_refuse" %}</button>
											</div>
											{% csrf_token %}
											</form>
										</td>
										</tr>
									</table>
									{% endif %}
								{% endif %}
							<br></br>
								{% if customlist %}
								<h2>{% trans "handler_secured_collections_in_request" %}</h2>
									<table class="table" style="width:100%">
										<tr style=color:black>
											<th>{% trans "handler_collection_name" %}</th>
											<th>{% trans "handler_collection_description" %}</th>
											<th>{% trans "handler_state_of_processing" %}</th>
											<th>{% trans "handler_decision_arguments" %}</th>
										</tr>
										{% for collection in customlist %}
											{% if collection.status == 1 %}
											<tr class="info clickable-row"
											{% elif collection.status == 3 %}
											<tr class="danger clickable-row"
											{% elif collection.status == 4 %}
											<tr class="success clickable-row"
											{% else %}  
											<tr	
											{% endif %}
											>
											<td>{{collection.result.collectionName}}</td>
											<td>{{collection.result.description}}</td>
											
											{% if collection.status == 1 %}
											<td>{% trans "handler_waiting_for_data_provider" %}</td>
											{% elif collection.status == 3 %}
											<td>{% trans "handler_denied" %}</td>
											{% elif collection.status == 2 %}
											<td>{% trans "handler_partially_accepted" %}</td>
											{% elif collection.status == 4 %}
											<td>{% trans "handler_accepted" %}</td>
											{% else %}  
											<td>{% trans "handler_unknown" %}</td>	
											{% endif %}
										<td>
											{% if request.session.user_id in collection.downloadRequestHandler %}
											<form action="{% url 'pyha:answer' %}" id="requestform" method="post">
											<div class="form-group">
													<input type="hidden" id="collectionid" name="collectionid" value={{collection.address}}>
													<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
													<input type="hidden" id="next" name="next" value={{request.path}}>
													<textarea class="form-control" rows="5" cols="700" id="reason" name="reason" required {% if userRequest.status == 3 or userRequest.status == 7 or userRequest.status == 8 %} disabled {% endif %}>{% if collection.decisionExplanation %}{{collection.decisionExplanation}}{% else %}{% endif %}</textarea>
													<button type="submit" id="submit" name="answer" value=1 class="btn btn-default btn-sm"{% if userRequest.status == 3 or userRequest.status == 7 or userRequest.status == 8 %} disabled {% endif %}>{% trans "handler_accept" %}</button>
													<button type="submit" id="submit" name="answer" value=0 class="btn btn-default btn-sm"{% if userRequest.status == 3 or userRequest.status == 7 or userRequest.status == 8 %} disabled {% endif %}>{% trans "handler_refuse" %}</button>
												</div>
												{% csrf_token %}
											</form>
											{% else %}
											{% if collection.decisionExplanation %}{{collection.decisionExplanation}}{% else %}{% endif %}
											{% endif %}
										</td>
										</tr>
										{% endfor %}
									</table>
									{% endif %}
									
								{% else %}
									<strong> {% trans "handler_no_collections_for_requests" %}.</strong>
								{% endif %}
						</div>
						<div class="tab-pane" role="tabpanel" id="sensitive">
							{% if role1 %}
									<div class="modal fade" id="myModalsens" tabindex="-1" role="dialog" aria-labelledby="sensiModalLabel">
									  <div class="modal-lg modal-dialog" role="document">
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">{% trans "handler_sensitive_terms" %}</h4>
										  </div>
										  <div class="modal-body">
											{% load static %}
											<object data= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
												<alt>{% trans "handler_If_you_cannot_see_terms_you_can_load_them" %} <a href="{{ static }}pyha/ehdot.pdf">{% trans "handler_here" %}</a></alt>
												<embed src= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
											</object>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal" id=>{% trans "handler_exit" %}</button>
										  </div>
										</div>
									  </div>
									</div>
								{% if userRequest.sensstatus == 0 %}
								<h2>{% trans "handler_user_no_sensitive_data"%}</h2>
								{% else %}
								<h2>{% trans "handler_list_of_collections"%}</h2>
								{% for collection in taxonlist %}
									<span>{{collection.result.collectionName}}</span>
								{% endfor %}
								<br></br>
								<table class="table" style="width:100%">
									<tr style=color:black>
									<th>{% trans "handler_state_of_processing" %}</th>
									<th>{% trans "handler_decision_arguments" %}</th>
									</tr>
									{% if userRequest.sensstatus == 1 %}
									<tr class="info clickable-row"
									{% elif userRequest.sensstatus == 3 %}
									<tr class="danger clickable-row"
									{% elif userRequest.sensstatus == 4 %}
									<tr class="success clickable-row"
									{% else %}  
									<tr	
									{% endif %}
									>
									{% if userRequest.sensstatus == 1 %}
									<td>{% trans "handler_waiting_for_data_provider" %}</td>
									{% elif userRequest.sensstatus == 3 %}
									<td>{% trans "handler_denied" %}</td>
									{% elif userRequest.sensstatus == 2 %}
									<td>{% trans "handler_partially_accepted" %}</td>
									{% elif userRequest.sensstatus == 4 %}
									<td>{% trans "handler_accepted" %}</td>
									{% else %}  
									<td>{% trans "handler_unknown" %}</td>	
									{% endif %}
									<td>
										<form action="{% url 'pyha:answer' %}" id="requestform" method="post">
										<div class="form-group">
											<input type="hidden" id="collectionid" name="collectionid" value="sens">
											<input type="hidden" id="next" name="next" value={{request.path}}>
											<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
											<textarea class="form-control" rows="5" cols="700" id="reason" name="reason" required >{% if userRequest.sensDecisionExplanation %}{{userRequest.sensDecisionExplanation}}{% else %}{% endif %}</textarea>
											<button type="submit" id="submit" name="answer" value=1 class="btn btn-default btn-sm">{% trans "handler_accept" %}</button>
											<button type="submit" id="submit" name="answer" value=0 class="btn btn-default btn-sm">{% trans "handler_refuse" %}</button>
										</div>
										{% csrf_token %}
										</form>
									</td>
									</tr>
								</table>
								{% endif %}
							{% endif %}
						</div>
						<div class="tab-pane" role="tabpanel" id="collection">
							{% if customlist %}
								<h2>{% trans "handler_secured_collections_in_request" %}</h2>
									<table class="table" style="width:100%">
										<tr style=color:black>
											<th>{% trans "handler_collection_name" %}</th>
											<th>{% trans "handler_collection_description" %}</th>
											<th>{% trans "handler_state_of_processing" %}</th>
											<th>{% trans "handler_decision_arguments" %}</th>
										</tr>
										{% for collection in customlist %}
											{% if collection.status == 1 %}
											<tr class="info clickable-row"
											{% elif collection.status == 3 %}
											<tr class="danger clickable-row"
											{% elif collection.status == 4 %}
											<tr class="success clickable-row"
											{% else %}  
											<tr	
											{% endif %}
											>
											<td>{{collection.result.collectionName}}</td>
											<td>{{collection.result.description}}</td>
											
											{% if collection.status == 1 %}
											<td>{% trans "handler_waiting_for_data_provider" %}</td>
											{% elif collection.status == 3 %}
											<td>{% trans "handler_denied" %}</td>
											{% elif collection.status == 2 %}
											<td>{% trans "handler_partially_accepted" %}</td>
											{% elif collection.status == 4 %}
											<td>{% trans "handler_accepted" %}</td>
											{% else %}  
											<td>{% trans "handler_unknown" %}</td>	
											{% endif %}
										<td>
									{% if request.session.user_id in collection.downloadRequestHandler %}
									<form action="{% url 'pyha:answer' %}" id="requestform" method="post">
									<div class="form-group">
											<input type="hidden" id="collectionid" name="collectionid" value={{collection.address}}>
											<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
											<input type="hidden" id="next" name="next" value={{request.path}}>
											<textarea class="form-control" rows="5" cols="700" id="reason" name="reason" required {% if userRequest.status == 3 or userRequest.status == 7 or userRequest.status == 8 %} disabled {% endif %}>{% if collection.decisionExplanation %}{{collection.decisionExplanation}}{% else %}{% endif %}</textarea>
											<button type="submit" id="submit" name="answer" value=1 class="btn btn-default btn-sm"{% if userRequest.status == 3 or userRequest.status == 7 or userRequest.status == 8 %} disabled {% endif %}>{% trans "handler_accept" %}</button>
											<button type="submit" id="submit" name="answer" value=0 class="btn btn-default btn-sm"{% if userRequest.status == 3 or userRequest.status == 7 or userRequest.status == 8 %} disabled {% endif %}>{% trans "handler_refuse" %}</button>
										</div>
										{% csrf_token %}
									</form>
									{% else %}
									{% if collection.decisionExplanation %}{{collection.decisionExplanation}}{% else %}{% endif %}
									{% endif %}
								</td>
								</tr>
								{% endfor %}
							</table>
							{% endif %}
						</div>
						<div class="tab-pane" role="tabpanel" id="filters">
							<h2>{% trans "handler_request_filters" %}</h2>
								{% if filters %}
									<table class = "table" style="width:50%">
										<tr style=color:black>
											<th>{% trans "handler_filter" %}</th>
											<th>{% trans "handler_values" %}</th>	
										</tr>	
										{% for filter in filters %}
										<tr class="info clickable-row">	
											<td rowspan={{filter.1|length}}>{{ filter.2 }}</td>
											{% for f in filter.1 %}
											<td>{{ f }}</td>
										</tr>
											<tr>
											{% endfor %}
											</tr>
										{% endfor %}
									</table>
								{% else %}
									<strong>{% trans "handler_no_filters" %}.</strong>
								{% endif %}
							<br></br>
							<br></br>
							<br></br>
						</div>
						<div class="tab-pane" role="tabpanel" id="arguments">
							<h2>{% trans "request_arguments" %}</h2>
						<span>
						{% for choice in reasonlist.argument_choices%}
							{% if choice == 'reason_zoning' %}
								{% trans "handler_reason_zoning" %}
							{% elif choice == 'reason_permission' %}
								{% trans "handler_reason_permission" %}
							{% elif choice == 'reason_enviromental' %}
								{% trans "handler_reason_enviromental" %}
							{% elif choice == 'reason_natura' %}
								{% trans "handler_reason_natura" %}
							{% elif choice == 'reason_scientific' %}
								{% trans "handler_reason_scientific" %}
							{% elif choice == 'reason_forest' %}
								{% trans "handler_reason_forest" %}
							{% elif choice == 'reason_other' %}
								{% trans "handler_reason_other" %}
							{% endif %}
						{% endfor %}
						</span>
						<br></br>
							<table class="table" style="width:100%">
						{% for field in reasonlist.fields %}
							{% if field.0 == 'argument_project' %}
								<tr style=color:black><th>{% trans "handler_argument_project" %}</th></tr>
								<tr><td>{{field.1}}</td></tr>
							{% elif field.0 == 'argument_research' %}
								<tr style=color:black><th>{% trans "handler_argument_research" %}</th></tr>
								<tr><td>{{field.1}}</td></tr>
							{% elif field.0 == 'argument_goals' %}
								<tr style=color:black><th>{% trans "handler_argument_goals" %}</th></tr>
								<tr><td>{{field.1}}</td></tr>
							{% elif field.0 == 'argument_planning' %}
								<tr style=color:black><th>{% trans "handler_argument_planning" %}</th></tr>
								<tr><td>{{field.1}}</td></tr>
							{% elif field.0 == 'argument_municipality' %}
								<tr style=color:black><th>{% trans "handler_argument_municipality" %}</th></tr>
								<tr><td>{{field.1}}</td></tr>
							{% elif field.0 == 'argument_natura_areas' %}
								<tr style=color:black><th>{% trans "handler_argument_natura_areas" %}</th></tr>
								<tr><td>{{field.1}}</td></tr>
							{% elif field.0 == 'argument_reason' %}
								<tr style=color:black><th>{% trans "handler_argument_reason" %}</th></tr>
								<tr><td>{{field.1}}</td></tr>
							{% endif %}
						{% endfor %}
							</table>
						</div>
						<div class="tab-pane" role="tabpanel" id="terms">
							{% if customlist %}
								<h2>{% trans "handler_terms" %}</h2>
								<table class="table" style="width:100%">
									<tr style=color:black>
										<th>{% trans "handler_collection_name" %}</th>
										<th>{% trans "handler_terms" %}</th>
									</tr>
									{% if userRequest.sensstatus == 1 %}
									<tr class="info clickable-row"
									{% elif userRequest.sensstatus == 3 %}
									<tr class="danger clickable-row"
									{% elif userRequest.sensstatus == 4 %}
									<tr class="success clickable-row"
									{% endif %}
									>
									<td>{% trans "handler_sensitivity" %}</td>
									<td><button type="button" class="btn btn-default btn-sm" required data-toggle="modal" data-target="#myModalsens">{% trans "handler_terms" %}</button></td>
									</tr>
									{% for collection in customlist %}
										{% if collection.status == 1 %}
										<tr class="info clickable-row"
										{% elif collection.status == 3 %}
										<tr class="danger clickable-row"
										{% elif collection.status == 4 %}
										<tr class="success clickable-row"
										{% elif collection.taxonSecured > 0 %}
											{% if userRequest.sensstatus == 1 %}
											<tr class="info clickable-row"
											{% elif userRequest.sensstatus == 3 %}
											<tr class="danger clickable-row"
											{% elif userRequest.sensstatus == 4 %}
											<tr class="success clickable-row"
											{% endif %}  
										{% else %}  
										<tr	
										{% endif %}
										>
										<td>{{collection.result.collectionName}}</td>
										<td><button type="button" class="btn btn-default btn-sm" required data-toggle="modal" data-target="#myModal{{ forloop.counter0 }}">{% trans "handler_terms" %}</button></td>
										<!-- Modal -->
										<div class="modal fade" id="myModal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
										  <div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
											  <div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">{% trans "handler_terms_of_use_of_the_collections" %}</h4>
											  </div>
											  <div class="modal-body">
												{% load static %}
												<object data= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
													<alt>{% trans "handler_if_you_cannot_see_terms_you_can_load_them" %} <a href="{{ static }}pyha/ehdot.pdf">{% trans "handler_here" %}</a></alt>
													<embed src= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
												</object>
											  </div>
											  <div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal" id=>{% trans "handler_exit" %}</button>
											  </div>
											</div>
										  </div>
										</div>
									{% endfor %}
										<!-- Sens Modal -->
										<div class="modal fade" id="myModalsens" tabindex="-1" role="dialog" aria-labelledby="sensiModalLabel">
										  <div class="modal-lg modal-dialog" role="document">
											<div class="modal-content">
											  <div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">{% trans "handler_sensitive_terms" %}</h4>
											  </div>
											  <div class="modal-body">
												{% load static %}
												<object data= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
													<alt>{% trans "handler_If_you_cannot_see_terms_you_can_load_them" %} <a href="{{ static }}pyha/ehdot.pdf">{% trans "handler_here" %}</a></alt>
													<embed src= "{{ static }}pyha/ehdot.pdf" width="100%" height="700" type='application/pdf'>
												</object>
											  </div>
											  <div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal" id=>{% trans "handler_exit" %}</button>
											  </div>
											</div>
										  </div>
										</div>
								</table>
							
							{% else %}
								<strong> {% trans "no_collections_for_requests" %}.</strong>
							{% endif %}
						</div>
						<div class="tab-pane" role="tabpanel" id="contacts">
							<h2>{% trans "handler_contacts" %}</h2>
							<table class="table" style="width:100%">
								<tr style=color:black>
									<th>{% trans "handler_full_name" %}</th>
									<th>{% trans "handler_street_address" %}</th>
									<th>{% trans "handler_post_office_name" %}</th>
									<th>{% trans "handler_postal_code" %}</th>
									<th>{% trans "handler_country" %}</th>
									<th>{% trans "handler_email" %}</th>
									<th>{% trans "handler_phone_number" %}</th>
									<th>{% trans "handler_corporation/organization_name" %}</th>
									<th>{% trans "handler_corporation_id" %}</th>
								</tr>
									{% for contact in contactlist %}
								<tr class="info clickable-row">
									<td>{{contact.PersonName}}</td>
									<td>{{contact.PersonStreetAddress}}</td>
									<td>{{contact.PersonPostOfficeName}}</td>
									<td>{{contact.PersonPostalCode}}</td>
									<td>{{contact.PersonCountry}}</td>
									<td>{{contact.PersonEmail}}</td>
									<td>{{contact.PersonPhoneNumber}}</td>
									<td>{{contact.PersonOrganizationName}}</td>
									<td>{{contact.PersonCorporationId}}</td>
								</tr>
									{% endfor %}
							</table>
						</div>
						<div class="tab-pane" role="tabpanel" id="additional_information">
							{% if role1 %}
							<h2>{% trans "handler_additional_questions" %}</h2>
							{% for question in requestInformationChat_list %}
								{% if question.question %}
								<div class="panel panel-default">
								<div class="panel-body"><p>{{question.date|date:"d.m.Y H:i"}} {{ question.name }}{% trans "handler_asked" %}&#10;&#13;{{question}}</p></div>
								</div>
								{% endif %}
								{% if question.question != True %}
								<div class="panel panel-default">
								<div class="panel-body"><p>{{question.date|date:"d.m.Y H:i"}} {{ question.name }}{% trans "handler_answered" %}&#10;&#13;{{question}}</p></div>
								</div>
								{% endif %}
							{% endfor %}
							<h2>{% trans "handler_form_to_request_additional_information" %}</h2>
							<form action="{% url 'pyha:answer' %}" id="requestform" method="post">
								<div class="form-group">
									<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
									<input type="hidden" id="next" name="next" value={{request.path}}>
									<textarea class="form-control" rows="5" cols="70" id="reason" name="reason" required >{% if collection.decisionExplanation %}{{collection.decisionExplanation}}{% else %}{% endif %}</textarea>
									<button type="submit" id="submit" name="answer" value=2 class="btn btn-default btn-sm">{% trans "handler_request_additional_information" %}</button>
								</div>
								{% csrf_token %}
							</form>
							{% endif %}
						</div>
						{% if role1%}
						<div class="tab-pane" role="tabpanel" id="handler_comments">
								<div>
									<div>
										<h2>{% trans "handler_official_comment_area" %}</h2>
										{% for requestChat in requestChat_list %}
										<div class="panel panel-default">
										<div class="panel-body"><p>{{requestChat.date|date:"d.m.Y H:i"}} {{ requestChat.name }}{% trans "handler_said" %}&#10;&#13;{{ requestChat }}</p></div>
										</div>
										{% endfor %}
										<form action="{% url 'pyha:comment_sensitive' %}" id="requestform" method="post">
										<div class="form-group">
											<input type="hidden" id="collectionid" name="collectionid" value="sens">
											<input type="hidden" id="next" name="next" value={{request.path}}>
											<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
											<textarea class="form-control" rows="5" cols="700" id="commentsForAuthorities" name="commentsForAuthorities" style="overflow:auto;resize:none" required ></textarea>
											<button type="submit" id="submit" name="answer" value=1 class="btn btn-default btn-sm">{% trans "handler_save" %}</button>
										</div>
										{% csrf_token %}
										</form>
									</div>
								</div>
						</div>
						{% endif %}
				</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script>
	$(document).ready(function(){
	  $("#filterlist").on("hide.bs.collapse", function(){
		$("#filterbutton").html('Näytä');
	  });
	  $("#filterlist").on("show.bs.collapse", function(){
		$("#filterbutton").html('Piilota');
	  });
	});
	</script>
	
	<!-- näytä kuvauksen muokkaus elementti jos kuvauksen pituus on 0 -->
	<script>
	$(document).ready(function(){
		var descExists = {{ userRequest.description.strip|length }};
		if (descExists == 0) {
			$("#descriptionEdit").show();
		}
	});
	</script>
	
	<!-- oma scripti kuvauksen muokkausnapille show/hide -->
	<script>
	$(document).ready(function(){
	  $("#descriptionEdit").on("hide.bs.collapse", function(){
		$("#descriptionButton").html('<span class="glyphicon glyphicon-pencil"></span>');
	  });
	  $("#descriptionEdit").on("show.bs.collapse", function(){
		$("#descriptionButton").html('Piilota');
	  });
	});
	</script>
{% endblock %}

{% block modal %}
{% endblock %}
