{% extends "pyha/base/base.html" %}
{% block content %}
{% load i18n %}

	<div class="container-fluid">
		<div class="col-xs-12">
			<div class="page-header"> 
				<h1>{% trans "handler_request_from_user" %}
					{{request_owner}},
					{{request_owners_email}}
				</h1>
						
					<h2>{{userRequest.date|date:"d.m.Y    H:i"}}</h2>
				<h2><span style="white-space: nowrap;">
						{% trans "handler_state_of_request" %}
						<span
						{% if userRequest.status == 1 %}
							 style="color:#AABBDD;"
						{% elif userRequest.status == 2 %}
							 style="color:#BBBB77;"
						{% elif userRequest.status == 3 %}
							 style="color:#DDBBAA;"
						{% elif userRequest.status == 4 %}
							 style="color:#99DD99;"
						{% else %}
							
						{% endif %}
						> 
						{% if userRequest.status == 1 %}
							{% if userRequest.waitingstatus == 0 %}
							{% trans "handler_waiting_for_others" %}
							{% elif userRequest.waitingstatus == 1 %}
							{% trans "handler_waiting_for_you" %}
							{% endif %}
						{% elif userRequest.status == 2 %}
						{% trans "handler_partially_accepted" %}
						
						{% elif userRequest.status == 3 %}
						{% trans "handler_denied" %}
						
						{% elif userRequest.status == 4 %}
						{% trans "handler_accepted" %}
						
						{% elif userRequest.status == 6 %}
						{% trans "handler_waiting_for_additional_information" %}
						<a href="{{request.path}}?next=information" style="font-size:12px;color:black;text-decoration:none;white-space:normal;">{% trans "handler_show_additional_information" %}</a>
						{% elif userRequest.status == 7 %}
						{% trans "handler_waiting_for_download" %} 
						
						{% elif userRequest.status == 8 %}
						{% trans "handler_ready_for_download" %}
						
						{% else %}  
						{% trans "handler_unknown" %}
						
						{% endif %}
						
						</span>
					</span></h2>
			</div>
			<div style="padding-left:0px;">
				<div>
					<div class="col-xs-12">
						{% if collections %}
						<h2 style="text-align:center;top:0%;">{% trans "handler_restricted" %}</h2>
						<div style= "{% if userRequest.sensStatus == 3%}opacity: 0.5;{% endif %}">
						<table class="table">
							{% for collection in collections %}
								<tr>
								<td>{{collection.result.collectionName}}</td>
								<td>
								<div class="slider-group" style="text-align:center;">
									<span class="slider slider-accepted{% if collection.status == 1 %}-light{% elif collection.customSecured == 0 and userRequest.sensStatus == 1 %}-light{% endif %}">
											{% if collection.address in handles %}
												{% trans "handler_waiting_for_you" %}
											{% else %}
												{% trans "handler_waiting_for_others" %}
											{% endif %}</span>
									<span class="slider slider-accepted{% if collection.status == 4 %}-light{% elif collection.customSecured == 0 and userRequest.sensStatus == 4 %}-light{% endif %}">{% trans "accepted" %}</span>
									<span class="slider slider-accepted{% if collection.status == 3 %}-light{% endif %}">{% trans "denied" %}</span>
								</div>
								</td>
							</tr>
							{% endfor %}
						</table>
						</div>
						{% endif %}
					</div>
			</div>
				<ul class="nav nav-tabs" role="tablist">
					<li id="change-history-tab" role="presentation" {% if next == "history" %} class="active" {% endif %} >
						<a href="#history" class="request-tab request-view-tab" data-toggle="tab" aria-controls="history" role="tab" {% if next == "history" %} aria-expanded="true" {% endif %}>
							<span>
								{% trans "handler_changes_history" %}
							</span>
						</a>
					</li>
					<li id="contacts-tab" role="presentation" {% if next == "contacts" %} class="active" {% endif %} >
						<a href="#contacts" class="request-tab request-view-tab" data-toggle="tab" aria-controls="contacts" role="tab" {% if next == "contacts" %} aria-expanded="true" {% endif %}>
							<span>
								{% trans 'handler_contact_window' %}
							</span>
						</a>
					</li>
					<li id="arguments-tab" role="presentation" {% if next == "arguments" %} class="active" {% endif %} >
						<a href="#arguments" class="request-tab request-view-tab" data-toggle="tab" aria-controls="arguments" role="tab" {% if next == "arguments" %} aria-expanded="true" {% endif %}>
							<span>
								{% trans 'handler_argument_window' %}
							</span>
						</a>
					</li>
					<li id="request-tab" role="presentation" {% if next == "request" %} class="active" {% endif %} >
						<a href="#request" class="request-tab request-view-tab" data-toggle="tab" aria-controls="request" role="tab" {% if next == "request" %} aria-expanded="true" {% endif %}>
							<span>
								{% trans 'handler_request_window' %}
							</span>
						</a>
					</li>
					<li id="filters-tab" role="presentation" {% if next == "filters" %} class="active" {% endif %} >
						<a href="#filters" class="request-tab request-view-tab" data-toggle="tab" aria-controls="filters" role="tab" {% if next == "filters" %} aria-expanded="true" {% endif %}>
							<span>
								{% trans 'handler_filter_window' %}
							</span>
						</a>
					</li>
					<li id="terms-tab" role="presentation" {% if next == "terms" %} class="active" {% endif %} >
						<a href="#terms" class="request-tab request-view-tab" data-toggle="tab" aria-controls="terms" role="tab" {% if next == "terms" %} aria-expanded="true" {% endif %}>
							<span>
								{% trans 'handler_terms_window' %}
							</span>
						</a>
					</li>
					<li id="decision-tab" role="presentation" {% if next == "decision" %} class="active" {% endif %} >
						<a href="#decision" class="request-tab request-handler-action-tab" data-toggle="tab" aria-controls="decision" role="tab" {% if next == "decision" %} aria-expanded="true" {% endif %}>
							<span>
								{% trans 'handler_decision_window' %}
							</span>
						</a>
					</li>
					<li id="additional_information-tab" role="presentation" {% if next == "information" %} class="active" {% endif %} >
						<a href="#additional_information" class="request-tab request-handler-action-tab" data-toggle="tab" aria-controls="additional_information" role="tab" {% if next == "information" %} aria-expanded="true" {% endif %}>
							<span>
								{% if userRequest.sensStatus == 1 and information %}<span class="glyphicon glyphicon-exclamation-sign"></span> {% endif %}{% trans 'handler_additional_information_window' %}
							</span>
						</a>
					</li>
					{% if role2 %}
					<li id="handler_comments-tab" role="presentation" {% if next == "comments" %} class="active" {% endif %} >
						<a href="#handler_comments" class="request-tab request-handler-action-tab" data-toggle="tab" aria-controls="handler_comments" role="tab" {% if next == "comments" %} aria-expanded="true" {% endif %}>
							<span>
								{% trans 'col_handler_comments_window' %}
							</span>
						</a>
					</li>
					{% endif %}
				</ul>
				<div class="tab-content">
					<div class="request-view-pane tab-pane {% if next == 'request' %} active {% endif %}" role="tabpanel" id="request">
						<h3>{% trans "handler_collections_in_request" %}</h3>
						{% if taxon %}
						<p>{% trans "Collections including sightings secured by data provider are marked with symbol"%} <span class="glyphicon glyphicon-eye-open" style="color:red;"></span></p>
						<p>{% trans 'given_values_are_not_absolute' %}</p>
						{% endif %}
							<table class="table" style="width:100%">
								<tr style=color:black>
									<th>{% trans "handler_collection_name" %}</th>
									<th></th>
									<th>{% trans "handler_collection_description" %}</th>
									<th>{% trans "handler_secured_by_data_provider" %}</th>
									<th>{% trans "handler_state_of_processing" %}</th>
								</tr>
							{% for collection in collections %}
								{% if collection.status == 1 %}
								<tr class="info clickable-row">
								{% elif collection.status == 3 %}
								<tr class="danger clickable-row">
								{% elif collection.status == 4 %}
								<tr class="success clickable-row">
								{% elif collection.taxonSecured > 0 %}
									{% if userRequest.sensStatus == 1 %}
									<tr class="info clickable-row">
									{% elif userRequest.sensStatus == 3 %}
									<tr class="danger clickable-row">
									{% elif userRequest.sensStatus == 4 %}
									<tr class="success clickable-row">
									{% endif %}  
								{% else %}  
								<tr>
								{% endif %}
								<td>{{collection.result.collectionName}}</td>
								<td><span class="glyphicon glyphicon-eye-open" style="color:red;"></span></td>
								<td>{{collection.result.description}}</td>
								<td>{{collection.allSecured}}</td>
								
								{% if collection.status == 1 %}
									{% if collection.address in handles %}
									<td>{% trans "handler_waiting_for_you" %}</td>
									{% else %}
									<td>{% trans "handler_waiting_for_others" %}</td>
									{% endif %}
								{% elif collection.status == 3 %}
								<td>{% trans "denied" %}</td>
								{% elif collection.status == 2 %}
								<td>{% trans "partially_accepted" %}</td>
								{% elif collection.status == 4 %}
								<td>{% trans "accepted" %}</td>
								{% elif collection.taxonSecured > 0 %}
								<td>{% trans "Admission_for_sensitive_data" %}</td>
								{% else %}  
								<td>{% trans "unknown" %}</td>
								{% endif %}
							{% endfor %}
						</table>
					</div>
					<div class="request-view-pane tab-pane {% if next == 'filters' %} active {% endif %}" role="tabpanel" id="filters">
						<h3>{% trans "handler_request_filters" %} </h3> <a style="padding-left:8px;" {% if role1 %}href="{{ official_filter_link }}" target="_blank">{% trans "handler_show_in_officials_portal" %}{% else %}href="{{ filter_link }}">{% trans "handler_show_in_portal" %}{% endif %}</a>
							{% if filters %}
								<table class = "table" style="width:100%">
									<tr style=color:black>
										<th>{% trans "handler_filter" %}</th>
										<th>{% trans "handler_values" %}</th>	
									</tr>	
									{% for filter in filters %}
									<tr>	
										<td rowspan={{filter.1|length}}>{{ filter.2 }}</td>
										{% for f in filter.1 %}
										<td>{{ f }}</td>
									</tr>
										<tr>
										{% endfor %}
										</tr>
									{% endfor %}
								</table>
								{% if coordinates %}
								<div id="filtermap"></div>
								{% endif %}
							{% else %}
								<strong>{% trans "handler_no_filters" %}.</strong>
							{% endif %}
					</div>
					<div class="request-view-pane tab-pane {% if next == 'arguments' %} active {% endif %}" role="tabpanel" id="arguments">
						<h3>{% trans "request_arguments" %}</h3>
					<table class="table" style="width:100%">
					<tr style=color:black><th>{% trans "handler_argument_choices" %}</th></tr>
					<tr><td>
					{% for choice in reasonlist.argument_choices%}
						{% if choice == 'reason_zoning' %}
							<p>{% trans "handler_reason_zoning" %}{% if not forloop.last %},{% endif %}</p>
						{% elif choice == 'reason_permission' %}
							<p>{% trans "handler_reason_permission" %}{% if not forloop.last %},{% endif %}</p>
						{% elif choice == 'reason_enviromental' %}
							<p>{% trans "handler_reason_enviromental" %}{% if not forloop.last %},{% endif %}</p>
						{% elif choice == 'reason_natura' %}
							<p>{% trans "handler_reason_natura" %}{% if not forloop.last %},{% endif %}</p>
						{% elif choice == 'reason_scientific' %}
							<p>{% trans "handler_reason_scientific" %}{% if not forloop.last %},{% endif %}</p>
						{% elif choice == 'reason_forest' %}
							<p>{% trans "handler_reason_forest" %}{% if not forloop.last %},{% endif %}</p>
						{% elif choice == 'reason_other' %}
							<p>{% trans "handler_reason_other" %}{% if not forloop.last %},{% endif %}</p>
						{% endif %}
					{% endfor %}
					</td></tr>
					{% for field in reasonlist.fields %}
						{% if field.0 == 'argument_project' %}
							<tr style=color:black><th>{% trans "handler_argument_project" %}</th></tr>
							<tr><td><p>{{field.1}}</p></td></tr>
						{% elif field.0 == 'argument_research' %}
							<tr style=color:black><th>{% trans "handler_argument_research" %}</th></tr>
							<tr><td><p>{{field.1}}</p></td></tr>
						{% elif field.0 == 'argument_goals' %}
							<tr style=color:black><th>{% trans "handler_argument_goals" %}</th></tr>
							<tr><td><p>{{field.1}}</p></td></tr>
						{% elif field.0 == 'argument_planning' %}
							<tr style=color:black><th>{% trans "handler_argument_planning" %}</th></tr>
							<tr><td><p>{{field.1}}</p></td></tr>
						{% elif field.0 == 'argument_municipality' %}
							<tr style=color:black><th>{% trans "handler_argument_municipality" %}</th></tr>
							<tr><td><p>{{field.1}}</p></td></tr>
						{% elif field.0 == 'argument_natura_areas' %}
							<tr style=color:black><th>{% trans "handler_argument_natura_areas" %}</th></tr>
							<tr><td><p>{{field.1}}</p></td></tr>
						{% elif field.0 == 'argument_reason' %}
							<tr style=color:black><th>{% trans "handler_argument_reason" %}</th></tr>
							<tr><td><p>{{field.1}}</p></td></tr>
						{% endif %}
					{% endfor %}
						</table>
					</div>
					<div class="request-view-pane tab-pane {% if next == 'terms' %} active {% endif %}" role="tabpanel" id="terms">
							<h3>{% trans "handler_terms" %}</h3>
							<table class="table" style="width:100%">
								<tr>
									<td>{% trans "Collection terms" %}</td>
									<td><button type="button" class="btn btn-default btn-sm" required data-toggle="modal" data-target="#myModalsens">{% trans "terms" %}</button></td>
									</tr>
										<!-- Sens Modal -->
										<div class="modal fade" id="myModalsens" tabindex="-1" role="dialog" aria-labelledby="sensiModalLabel">
										  <div class="modal-lg modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">{% trans "sensitive_and_other_terms" %}</h4>
												<form action="{% url 'pyha:newpdf' %}" onsubmit="this.source.value=document.getElementById('sens-content').outerHTML" method="post">
													<button type="submit" class="btn btn-default btn-sm">{% trans "as_pdf" %}</button>
													<input type="hidden" name="source" />
													{% csrf_token %}
												</form>
												</div>
												<div id="sens-content" class="modal-body">
												<div style="float:left;">
												<svg xmlns="http://www.w3.org/2000/svg"
													width="60" height="160" version="1.1" baseProfile="full"
													style="width: 60px; height: 160px; display: block;">
													<g transform="rotate(270)">
														<text textLength="160" fill="#777777" font-weight="700" font-size="50px" style="font-family: Arial, Helvetica, sans-serif;">
															<tspan x="-160" dy="50" >LAJI.FI</tspan>
														</text>
													   </g>
												  </svg>
												</div>
												<div style="margin-left:120px;margin-top:50px;">
													{% include sensitivity_terms %}
													<div style="margin-left:30px">
													<ul>
														<li><p class="model-field">{% trans 'contact_name' %} {{contactlist.0.personName}}</p></li>
														<ul>
														<li><p class="model-field">{% trans 'contact_street_address' %} {{contactlist.0.personStreetAddress}}</p></li>
														<li><p class="model-field">{% trans 'contact_postal' %} {{contactlist.0.personPostalCode}}</p></li>
														<li><p class="model-field">{% trans 'contact_post_office' %} {{contactlist.0.personPostOfficeName}}</p></li>
														<li><p class="model-field">{% trans 'contact_country' %} {{contactlist.0.personCountry}}</p></li>
														<li><p class="model-field">{% trans 'contact_email' %} {{contactlist.0.personEmail}}</p></li>
														<li><p class="model-field">{% trans 'contact_phone_number' %} {{contactlist.0.personPhoneNumber}}</p></li>
														{% if contactlist.0.personOrganizationName != "" %}
														<li><p class="model-field">{% trans 'contact_corporation' %} {{contactlist.0.personOrganizationName}}</p></li>
														{% endif %}
														{% if contactlist.0.personCorporationId != "" %}
														<li><p class="model-field">{% trans 'contact_corporation_id' %} {{contactlist.0.personCorporationId}}</p></li>
														{% endif %}
														</ul>
													</ul>
														{% for contact in contactlist|slice:"1:" %}
													<p style="width:100%;height:12px;"></p>
													<ul>
														<li><p class="model-field">{% trans 'additional_contact_name' %} {{contact.personName}}</p></li>
														<ul>
														<li><p class="model-field">{% trans 'contact_street_address' %} {{contact.personStreetAddress}}</p></li>
														<li><p class="model-field">{% trans 'contact_postal' %} {{contact.personPostalCode}}</p></li>
														<li><p class="model-field">{% trans 'contact_post_office' %} {{contact.personPostOfficeName}}</p></li>
														<li><p class="model-field">{% trans 'contact_country' %} {{contact.personCountry}}</p></li>
														<li><p class="model-field">{% trans 'contact_email' %} {{contact.personEmail}}</p></li>
														<li><p class="model-field">{% trans 'contact_phone_number' %} {{contact.personPhoneNumber}}</p></li>
														{% if contact.personOrganizationName != "" %}
														<li><p class="model-field">{% trans 'contact_corporation' %} {{contact.personOrganizationName}}</p></li>
														{% endif %}
														{% if contact.personCorporationId != "" %}
														<li><p class="model-field">{% trans 'contact_corporation_id' %} {{contact.personCorporationId}}</p></li>
														{% endif %}
														</ul>
													</ul>
														{% endfor %}
													</div>
												</div>
											  </div>
											  <div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal" id=>{% trans "exit" %}</button>
											  </div>
											</div>
										  </div>
										</div>
							</table>
					</div>
					<div class="request-view-pane tab-pane {% if next == 'contacts' %} active {% endif %}" role="tabpanel" id="contacts">
						<h3>{% trans "handler_contacts" %}</h3>
						<table class="table" style="width:100%">
							<tr style=color:black>
								<th>{% trans "handler_full_name" %}</th>
								<th>{% trans "handler_street_address" %}</th>
								<th>{% trans "handler_postal_code" %}</th>
								<th>{% trans "handler_post_office_name" %}</th>
								<th>{% trans "handler_country" %}</th>
								<th>{% trans "handler_email" %}</th>
								<th>{% trans "handler_phone_number" %}</th>
								<th>{% trans "handler_corporation/organization_name" %}</th>
								<th>{% trans "handler_corporation_id" %}</th>
							</tr>
								{% for contact in contactlist %}
							<tr>
								<td>{{contact.personName}}</td>
								<td>{{contact.personStreetAddress}}</td>
								<td>{{contact.personPostalCode}}</td>
								<td>{{contact.personPostOfficeName}}</td>
								<td>{{contact.personCountry}}</td>
								<td>{{contact.personEmail}}</td>
								<td>{{contact.personPhoneNumber}}</td>
								<td>{{contact.personOrganizationName}}</td>
								<td>{{contact.personCorporationId}}</td>
							</tr>
								{% endfor %}
						</table>
					</div>
					<div class="request-view-pane tab-pane {% if next == 'decision' %} active {% endif %}" role="tabpanel" id="decision">
						{% if collections %}
						<h3>{% trans "handler_secured_collection_decicions" %}</h3>
						<table class="table" style="width:100%">
							<tr style=color:black>
								<th>{% trans "handler_collection_name" %}</th>
								<th>{% trans "handler_collection_description" %}</th>
								<th>{% trans "handler_state_of_processing" %}</th>
								<th>{% trans "handler_decision_arguments" %}</th>
							</tr>
							{% for collection in collections %}
								{% if collection.status == 1 %}
								<tr class="info clickable-row">
								{% elif collection.status == 3 %}
								<tr class="danger clickable-row">
								{% elif collection.status == 4 %}
								<tr class="success clickable-row">
								{% else %}  
								<tr>
								{% endif %}
									<td>{{collection.result.collectionName}}</td>
									<td>{{collection.result.description}}</td>
									
									{% if collection.status == 1 %}
										{% if collection.address in handles %}
										<td>{% trans "handler_waiting_for_you" %}</td>
										{% else %}
										<td>{% trans "handler_waiting_for_others" %}</td>
										{% endif %}
									{% elif collection.status == 3 %}
									<td>{% trans "handler_denied" %}</td>
									{% elif collection.status == 2 %}
									<td>{% trans "handler_partially_accepted" %}</td>
									{% elif collection.status == 4 %}
									<td>{% trans "handler_accepted" %}</td>
									{% else %}  
									<td>{% trans "handler_unknown" %}</td>	
									{% endif %}
									<td>
										{% if collection.address in handles %}
										<form action="{% url 'pyha:answer' %}" id="requestform" method="post">
											<div class="form-group">
												<input type="hidden" id="collectionid" name="collectionid" value={{collection.address}}>
												<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
												<input type="hidden" id="next" name="next" value="{{request.path}}?next=decision">
												<textarea class="form-control" rows="5" cols="700" id="reason" name="reason" {% if userRequest.status == 3 or userRequest.status == 7 or userRequest.status == 8 %} disabled {% endif %}>{% if collection.decisionExplanation %}{{collection.decisionExplanation}}{% else %}{% endif %}</textarea>
												<button type="submit" id="submit" name="answer" value=1 class="btn btn-default btn-sm"{% if userRequest.status == 3 or userRequest.status == 7 or userRequest.status == 8 %} disabled {% endif %}>{% trans "handler_accept" %}</button>
												<button type="submit" id="submit" name="answer" value=0 class="btn btn-default btn-sm"{% if userRequest.status == 3 or userRequest.status == 7 or userRequest.status == 8 %} disabled {% endif %}>{% trans "handler_refuse" %}</button>
											</div>
											{% csrf_token %}
										</form>
										{% else %}
										{% if collection.decisionExplanation %}{{collection.decisionExplanation}}{% else %}{% endif %}
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</table>
						{% endif %}
					</div>
					<div class="request-view-pane tab-pane {% if next == 'information' %} active {% endif %}" role="tabpanel" id="additional_information">
						<h3>{% trans "handler_additional_questions" %}</h3>
						{% for question in requestInformationChat_list %}
							{% if question.question %}
							<div class="panel panel-default" {% if question.user == user %} style="background-color:#d9edf7;" {% endif %}>
							<div class="panel-body"><p>{{question.date|date:"d.m.Y H:i"}} {{ question.name }} {% if question.target == 'sens' %} ({% trans 'sensitivity' %}) {% elif question.target == 'admin' %} ({% trans 'admin_question' %}) {% else %} ({{ question.result.collectionName }}) {% endif %} {% trans "handler_asked" %}&#10;&#13;{{question.message}}}</p></div>
							</div>
							{% endif %}
							{% if question.question != True %}
							<div class="panel panel-default" {% if question.user == user %} style="background-color:#d9edf7;" {% endif %}>
							<div class="panel-body"><p>{{question.date|date:"d.m.Y H:i"}} {{ question.name }} {% trans 'inquiry' %} {% if question.target == 'sens' %} ({% trans 'sensitivity' %}) {% elif question.target == 'admin' %} ({% trans 'admin_question' %}) {% else %} ({{ question.result.collectionName }}) {% endif %}{% trans "handler_answered" %}&#10;&#13;{{question.message}}}</p></div>
							</div>
							{% endif %}
						{% endfor %}
						{% if role2 %}
						<h3>{% trans "handler_form_to_request_additional_information" %}</h3>
						<form action="{% url 'pyha:answer' %}" id="requestform" method="post">
							<div class="form-group">
								<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
								<input type="hidden" id="next" name="next" value="{{request.path}}?next=information">
								<span>{% trans 'ask_as_handler_of'%}</span>
								<select id="target" name="target">
								{% for collection in collections %}
									{% if collection.address in handles %}
									<option value="{{collection.address}}">{{collection.result.collectionName}}</option>
									{% endif %}
								{% endfor %}
								</select>
								<textarea class="form-control" rows="5" cols="70" id="reason" name="reason" required {% if userRequest.status == 3 or userRequest.status == 7 or userRequest.status == 8 %} disabled {% endif %}>{% if collection.decisionExplanation %}{{collection.decisionExplanation}}{% else %}{% endif %}</textarea>
								<button type="submit" id="submit" name="answer" value=2 class="btn btn-default btn-sm" {% if userRequest.status == 3 or userRequest.status == 7 or userRequest.status == 8 %} disabled {% endif %}>{% trans "handler_request_additional_information" %}</button>
							</div>
							{% csrf_token %}
						</form>
						{% else %}
						<h4>{% trans "collection_free_of_sensitive_data" %}</h4>
						{% endif %}
					</div>
					{% if role2 %}
					<div class="request-view-pane tab-pane {% if next == 'comments' %} active {% endif %}" role="tabpanel" id="handler_comments">
						<div>
							<div>
								<h3>{% trans "col_handler_comment_area" %}</h3>
								<span>{% trans "this_section_is_only_visible_to_collection_handlers_not_request_owner" %}</hspan>
								{% for requestHandlerChat in requestHandlerChat_list %}
								<div class="panel panel-default">
								<div class="panel-body" {% if requestChat.user == user %} style="background-color:#d9edf7;" {% endif %}><p>{{requestHandlerChat.date|date:"d.m.Y H:i"}} {{ requestHandlerChat.name }}  {% if question.target == 'admin' %} ({% trans 'admin_question' %}) {% else %} ({{ requestHandlerChat.result.collectionName }}) {% endif %} {% trans "col_handler_said" %}&#10;&#13;{{requestHandlerChat.message}}</p></div>
								</div>
								{% endfor %}
								<form action="{% url 'pyha:comment_handler' %}" id="commentform" method="post">
								<div class="form-group">
									<input type="hidden" id="collectionid" name="collectionid" value="sens">
									<input type="hidden" id="next" name="next" value="{{request.path}}?next=comments">
									<input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
									<span>{% trans 'talk_as_handler_of' %}</span>
									<select id="target" name="target">
									{% for collection in collections %}
										{% if collection.address in handles %}
										<option value="{{collection.address}}">{{collection.result.collectionName}}</option>
										{% endif %}
									{% endfor %}
									</select>
									<textarea class="form-control" rows="5" cols="700" id="commentsForHandlers" name="commentsForHandlers" style="overflow:auto;resize:none" required ></textarea>
									<button type="submit" id="submit" name="answer" value=1 class="btn btn-default btn-sm">{% trans "handler_save" %}</button>
								</div>
								{% csrf_token %}
								</form>
							</div>
						</div>
					</div>
					{% endif %}
					<div class="request-view-pane tab-pane {% if next == 'history' %} active {% endif %}" role="tabpanel" id="history">
						{% if requestLog_list %}
						<h3>{% trans "handler_changes_history" %}</h3>
						<table class="table" style="width:100%">
							<tr>
								<th>{% trans "handler_log_date" %}</th>
								<th>{% trans "handler_log_maker" %}</th>
								<th>{% trans "handler_log_role" %}</th>
								<th>{% trans "handler_log_description" %}</th>
							</tr>
							{% for requestLog in requestLog_list %}
							<tr>
								<td>{{requestLog.date|date:"d.m.Y    H:i"}}</td>
								<td>{{requestLog.name}} ({{requestLog.email}})</td>
								{% if requestLog.role == 'admin' %}
								<td>{% trans "handler_log_admin" %}</td>
								{% elif requestLog.role == 'handler' %}
								<td>{% trans "handler_log_handler" %}</td>
								{% elif requestLog.role == 'MA.admin' %}
								<td>{% trans "handler_log_admin" %}</td>
								{% elif requestLog.role == 'MA.sensitiveInformationApprovalRequestHandler' %}
								<td>{% trans "handler_log_sensitive_data_handler" %}</td>
								{% elif requestLog.role == 'MA.downloadRequestHandler' %}
								<td>{% trans "handler_log_collection_provider" %}</td>
								{% elif requestLog.role == 'MA.sensitiveInformationApprovalRequestHandler and MA.downloadRequestHandler' %}
								<td>{% trans "handler_log_sensitive_and_collections_handler" %}</td>
								{% elif requestLog.role == 'user' and userRequest.user == request.session.user_id %}
								<td>{{requestLog.name}}</td>
								{% else %}
								<td>{% trans "user" %}</td>
								{% endif %}
								{% if requestLog.action == 'VIEW' %}
								<td>{% trans "handler_log_viewed" %}</td>
								{% elif requestLog.action == 'ACC' %}
								<td>{% trans "handler_log_terms_accepted" %}</td>
								{% elif requestLog.action == 'POS' %}
									{% if requestLog.collection == None %}
									<td>{% trans "handler_log_sensitives_accepted" %}</td>
									{% else %}
									<td>{% trans "handler_log_collection_accepted" %} ({{ requestLog.collection.result.collectionName }}) </td>
									{% endif %}
								{% elif requestLog.action == 'RESET' %}
									{% if requestLog.collection == None %}
									<td>{% trans "handler_log_sensitives_reset" %}</td>
									{% else %}
									<td>{% trans "handler_log_collection_reset" %} ({{ requestLog.collection.result.collectionName }})</td>
									{% endif %}
								{% elif requestLog.action == 'NEG' %}
									{% if requestLog.collection == None %}
									<td>{% trans "handler_log_sensitives_denied" %}</td>
									{% else %}
									<td>{% trans "handler_log_collection_denied" %} ({{ requestLog.collection.result.collectionName }})</td>
									{% endif %}
								{% endif %}
							</tr>
							{% endfor %}
						</table>
						{% else %}
						<strong>{% trans "log_no_history" %}.</strong>
						{% endif %}
					</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block end_script %}
	{% if coordinates %}
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();   
			initializeMap();
			map.setView([{{coordinates.5}}, {{coordinates.6}}], 7);
			document.getElementById('filters').style.display = 'block';
			map.invalidateSize();
			document.getElementById('filters').style.display = '';
			var bounds = [[{{coordinates.0}}, {{coordinates.2}}], [{{coordinates.1}},{{coordinates.3}}]];
			L.rectangle(bounds, {color: "#ff7800", weight: 1}).addTo(map);
		});
	</script>
	{% endif %}
	<script>
		function showDecline() {
			var x = document.getElementById('sensitive_refuse_form');
			if (x.style.display == 'none') {
				x.style.display = 'block';
			}
		}
	</script>
	{% if next == 'information' %}
	<script>
		$(document).ready(function(){
			document.getElementById('additional_information').scrollIntoView();
			document.getElementById('requestform').scrollIntoView();
		});
	</script>
	{% endif %}
{% endblock %}

{% block modal %}
{% endblock %}
