{% load i18n %}

<h1>{% trans "handler_request_from_user" %}
  {{request_owner}},
  {{request_owners_email}}
</h1>

<h2>{{userRequest.date|date:"d.m.Y    H:i"}}</h2>

<h2>
  <span style="white-space: nowrap;">
    {% trans "handler_state_of_request" %}
    <span
    {% if userRequest.status == 1 %}
       style="color:#AABBDD;"
    {% elif userRequest.status == 2 %}
       style="color:#BBBB77;"
    {% elif userRequest.status == 3 %}
       style="color:#DDBBAA;"
    {% elif userRequest.status == 4 %}
       style="color:#99DD99;"
    {% else %}

    {% endif %}
    >
    {% if userRequest.status == 1 %}
      {% if userRequest.waitingstatus == 0 %}
      {% trans "handler_waiting_for_others" %}
      {% elif userRequest.waitingstatus == 1 %}
      {% trans "handler_waiting_for_you" %}
      {% endif %}

    {% elif userRequest.status == 2 %}
    {% trans "handler_partially_accepted" %}

    {% elif userRequest.status == 3 %}
    {% trans "handler_denied" %}

    {% elif userRequest.status == 4 %}
    {% trans "handler_accepted" %}

    {% elif userRequest.status == 6 %}
    {% trans "handler_waiting_for_additional_information" %}
    <a href="{{request.path}}?next=information" style="font-size:12px;white-space:normal;">{% trans "handler_show_additional_information" %}</a>
    
    {% elif userRequest.status == 7 %}
    {% trans "handler_waiting_for_download" %}

    {% elif userRequest.status == 8 %}
      {% if downloadable %}
        {% trans "handler_ready_for_download" %}
      {% else %}
        {% trans "handler_download_has_expired" %}
      {% endif %}

    {% else %}
    {% trans "handler_unknown" %}

    {% endif %}

    </span>
  </span>
</h2>
