{% load i18n %}

{% if handler_groups %}
<form action="{% url 'pyha:refresh_collections_cache' %}" id="refreshform" method="post">
  <h3 id="communications_header">
    {% trans "admin_communications_window" %}
    <input type="hidden" id="next" name="next" value="{{request.path}}?next=communications">
    <button type="submit" id="submit_refresh" name="send" value=1 class="btn btn-default btn-sm">{% trans "admin_refresh_collections_cache" %}</button>
    {% csrf_token %}
  </h3>
  <p>{% trans "admin_communications_window_description" %}</p>
</form>
  {% if com_last_automated_send_email %}
    <div class="form-group stale-form">
      <h>{% trans "admin_automated_emails_sent_last_time" %}: {{ com_last_automated_send_email|date:"d.m.Y    H:i"}}</h>
    </div>
  {% endif %}
<form action="{% url 'pyha:send_email' %}" id="requestform" method="post">
  <table id="communications_table" class="table" style="width:100%;">
    <tr>
      <th>{% trans "admin_communications_collections" %}</th>
      <th style="text-align:right;">{% trans "admin_communications_handlers" %}</th>
      <th>{% trans "admin_communications_state" %}</th>
      <th>{% trans "admin_send_email" %}</th>
      <th>{% trans "admin_communications_email" %}</th>
    </tr>
    {% for group in handler_groups %}
      {% if group.handlers.0.id == 'None' %}
        <tr>
          <td colspan=2 style="vertical-align: middle;">
            <table class="collection-group-error" style="width:100%">
              <tr>
                <td style="border-bottom:0; width:100%">
                {% for collection in group.collections %}
                  <p style="white-space: nowrap;"><a href="{{tun_link}}{{collection.id}}" target="_blank">{{ collection.collectionName }}</a></p>
                {% endfor %}
                </td>
                <td style="border-bottom:0;">
                {% for handler in group.handlers %}
                  <p style="white-space: nowrap;">{% trans 'admin_name_is_none' %}</p>
                {% endfor %}
                </td>
              </tr>
            </table>
          </td>
          <td style="vertical-align: middle; line-height: 40px;">
            <p style="margin-bottom: 16px; color:red;">{% trans "admin_collections_missing_handler" %}</p>
          </td>
          <td></td>
          {% if forloop.first %}
          <td rowspan="{{handler_groups|length}}"  style="border:0px; border-top: 1px solid #ddd; border-left: 1px solid #ddd;">
              <div class="form-group">
                <input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
                <input type="hidden" id="next" name="next" value="{{request.path}}?next=communications">
                <table style="width:100%;">
                <tr>
                  <td style="border:0px;">{% trans "email_sender" %}</td>
                  <td style="width:100%; border:0px;"><input type="text" id="com_email_sender" name="com_email_sender" value="{{ com_email_template.sender }}" style="width:100%;padding:6px 12px;"></td>
                </tr>
                <tr>
                  <td style="border:0px;">{% trans "email_header" %}</td>
                  <td style="width:100%; border:0px;"><input type="text" id="com_email_header" name="com_email_header" value="{{ com_email_template.header }}" style="width:100%;padding:6px 12px;"></td>
                </tr>
                </table>
                <textarea class="form-control" rows="15" cols="70" id="com_email_content" name="com_email_content">{{ com_email_template.content }}</textarea>
                <button type="submit" id="submit_email" name="send" value=1 class="btn btn-default btn-sm">{% trans "admin_send" %}</button>
              </div>
          </td>
          {% endif %}
        </tr>
      {% else %}
        <tr>
          <td colspan=2 style="vertical-align: middle;">
            <table class="collection-group" style="width:100%">
              <tr>
                <td style="border-bottom:0; width:100%">
                {% for collection in group.collections %}
                  <p style="white-space: nowrap;"><a href="{{tun_link}}{{collection.id}}" target="_blank">{{ collection.collectionName }}</a></p>
                {% endfor %}
                </td>
                <td style="border-bottom:0;">
                {% for handler in group.handlers %}
                  <p style="white-space: nowrap; text-align:right;">[{{ handler.id }}] {{ handler.name }} ({{ handler.email }})</p>
                {% endfor %}
                </td>
              </tr>
            </table>
          </td>
          <td style="vertical-align: middle; line-height: 40px;">
            {% for handler in group.handlers %}
              {% if handler.mailed %}
                <p style="margin-bottom: 10px;">{% trans "emailed" %}</p>
              {% else %}
                <p style="margin-bottom: 10px;">{% trans "not_emailed" %}</p>
              {% endif %}
            {% endfor %}
              <div style="margin-bottom: 16px;"></div>
          </td>
          <td style="vertical-align: middle; line-height: 40px;">
            {% for handler in group.handlers %}
              <p style="white-space: nowrap;"><input {% if handler.mailed %} disabled {% endif %} onChange="enableCommunicationsEmail()" type="checkbox" name="email_id_{{ handler.id }}" value="{{ handler.email }}" style="margin-top: 0px; margin-left: 15px; vertical-align: middle;"></p>
            {% endfor %}
              <div style="margin-bottom: 16px;"></div>
          </td>
          {% if forloop.first %}
          <td rowspan="{{handler_groups|length}}"  style="border:0px; border-top: 1px solid #ddd; border-left: 1px solid #ddd;">
              <div class="form-group">
                <input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
                <input type="hidden" id="next" name="next" value="{{request.path}}?next=communications">
                <table style="width:100%;">
                <tr>
                  <td style="border:0px;">{% trans "email_sender" %}</td>
                  <td style="width:100%; border:0px;"><input type="text" id="com_email_sender" name="com_email_sender" value="{{ com_email_template.sender }}" style="width:100%;padding:6px 12px;"></td>
                </tr>
                <tr>
                  <td style="border:0px;">{% trans "email_header" %}</td>
                  <td style="width:100%; border:0px;"><input type="text" id="com_email_header" name="com_email_header" value="{{ com_email_template.header }}" style="width:100%;padding:6px 12px;"></td>
                </tr>
                </table>
                <textarea class="form-control" rows="15" cols="70" id="com_email_content" name="com_email_content">{{ com_email_template.content }}</textarea>
                <button type="submit" id="submit_email" name="send" value=1 class="btn btn-default btn-sm">{% trans "admin_send" %}</button>
              </div>
          </td>
          {% endif %}
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  {% csrf_token %}
</form>
{% else %}
<h3>{% trans "admin_communications_window" %}</h3>
<p>{% trans "admin_communications_window_description" %}</p>
<strong>{% trans "no_communications" %}</strong>
{% endif %}
