{% load i18n %}

<h3>{% trans "contact_window" %}</h3>
<p>{% trans "contact_window_description" %}</p>
<table class="table" style="width:100%">
  <tr style=color:black>
    <th>{% trans "full_name" %}</th>
    <th>{% trans "street_address" %}</th>
    <th>{% trans "postal_code" %}</th>
    <th>{% trans "post_office_name" %}</th>
    <th>{% trans "country" %}</th>
    <th>{% trans "email" %}</th>
    <th>{% trans "phone_number" %}</th>
    <th>{% trans "corporation/organization_name" %}</th>
    <th>{% trans "corporation_id" %}</th>
  </tr>
    {% for contact in contactlist %}
  <tr>
    <td>{{contact.personName}}</td>
    <td>{{contact.personStreetAddress}}</td>
    <td>{{contact.personPostalCode}}</td>
    <td>{{contact.personPostOfficeName}}</td>
    <td>{{contact.personCountry}}</td>
    <td>{{contact.personEmail}}</td>
    <td>{{contact.personPhoneNumber}}</td>
    <td>{{contact.personOrganizationName}}</td>
    <td>{{contact.personCorporationId}}</td>
  </tr>
    {% endfor %}
</table>

<button type="button" class="btn btn-default btn-sm" required data-toggle="modal" data-target="#myModalsens">{% trans "terms" %}</button>
<div class="modal fade" id="myModalsens" tabindex="-1" role="dialog" aria-labelledby="sensiModalLabel">
  <div class="modal-lg modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans "sensitive_and_other_terms" %}</h4>
        <form action="{% url 'pyha:newpdf' %}" onsubmit="this.source.value=document.getElementById('sens-content').outerHTML" method="post">
          <button type="submit" class="btn btn-default btn-sm">{% trans "as_pdf" %}</button>
          <input type="hidden" name="source" />
          {% csrf_token %}
        </form>
      </div>
      <div id="sens-content" class="modal-body">
        <div style="float:left;">
        <svg xmlns="http://www.w3.org/2000/svg"
          width="60" height="160" version="1.1" baseProfile="full"
          style="width: 60px; height: 160px; display: block;">
          <g transform="rotate(270)">
            <text textLength="160" fill="#777777" font-weight="700" font-size="50px" style="font-family: Arial, Helvetica, sans-serif;">
              <tspan x="-160" dy="50" >LAJI.FI</tspan>
            </text>
             </g>
          </svg>
        </div>
        <div style="margin-left:120px;margin-top:50px;">
          {% include sensitivity_terms %}
          <div style="margin-left:30px">
          <ul>
            <li><p class="model-field">{% trans 'contact_name' %} {{contactlist.0.personName}}</p></li>
            <ul>
            <li><p class="model-field">{% trans 'contact_street_address' %} {{contactlist.0.personStreetAddress}}</p></li>
            <li><p class="model-field">{% trans 'contact_postal' %} {{contactlist.0.personPostalCode}}</p></li>
            <li><p class="model-field">{% trans 'contact_post_office' %} {{contactlist.0.personPostOfficeName}}</p></li>
            <li><p class="model-field">{% trans 'contact_country' %} {{contactlist.0.personCountry}}</p></li>
            <li><p class="model-field">{% trans 'contact_email' %} {{contactlist.0.personEmail}}</p></li>
            <li><p class="model-field">{% trans 'contact_phone_number' %} {{contactlist.0.personPhoneNumber}}</p></li>
            {% if contactlist.0.personOrganizationName != "" %}
            <li><p class="model-field">{% trans 'contact_corporation' %} {{contactlist.0.personOrganizationName}}</p></li>
            {% endif %}
            {% if contactlist.0.personCorporationId != "" %}
            <li><p class="model-field">{% trans 'contact_corporation_id' %} {{contactlist.0.personCorporationId}}</p></li>
            {% endif %}
            </ul>
          </ul>
            {% for contact in contactlist|slice:"1:" %}
          <p style="width:100%;height:12px;"></p>
          <ul>
            <li><p class="model-field">{% trans 'additional_contact_name' %} {{contact.personName}}</p></li>
            <ul>
            <li><p class="model-field">{% trans 'contact_street_address' %} {{contact.personStreetAddress}}</p></li>
            <li><p class="model-field">{% trans 'contact_postal' %} {{contact.personPostalCode}}</p></li>
            <li><p class="model-field">{% trans 'contact_post_office' %} {{contact.personPostOfficeName}}</p></li>
            <li><p class="model-field">{% trans 'contact_country' %} {{contact.personCountry}}</p></li>
            <li><p class="model-field">{% trans 'contact_email' %} {{contact.personEmail}}</p></li>
            <li><p class="model-field">{% trans 'contact_phone_number' %} {{contact.personPhoneNumber}}</p></li>
            {% if contact.personOrganizationName != "" %}
            <li><p class="model-field">{% trans 'contact_corporation' %} {{contact.personOrganizationName}}</p></li>
            {% endif %}
            {% if contact.personCorporationId != "" %}
            <li><p class="model-field">{% trans 'contact_corporation_id' %} {{contact.personCorporationId}}</p></li>
            {% endif %}
            </ul>
          </ul>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id=>{% trans "exit" %}</button>
      </div>
    </div>
  </div>
</div>
