{% load i18n %}
{% load pyha_tags %}

<h3>{% trans "make_decision_window" %}</h3>
<p>{% trans "make_decision_window_description" %}</p>
{% if collections %}
{% with own_collection_count=own_collections|length|stringformat:"s" %}
<form action="{% url 'pyha:group_answer' %}" id="requestform" method="post">
  <table class="table" style="width:100%">
    <tr style=color:black>
      <th>{% trans "collection_name" %}</th>
      <th></th>
      <th>{% trans "collection_description" %}</th>
      <th>{% trans "state_of_processing" %}</th>
      <th>{% trans "decision_arguments" %}</th>
      <th>{% trans "select" %}</th>
      <th>{% trans "make_decision" %}</th>
    </tr>
    {% with own_collection_slice=":"|add:own_collection_count %}
    {% for collection in collections|slice:":" %}
      {% if collection.status == 1 %}
      <tr class="info clickable-row">
      {% elif collection.status == 3 %}
      <tr class="danger clickable-row">
      {% elif collection.status == 4 %}
      <tr class="success clickable-row">
      {% else %}
      <tr>
      {% endif %}
        <td>{{collection.result.collectionName}}</td>
        <td><small>[<a href="{{tun_link}}{{collection.address}}" target="_blank">{% trans 'to_metadata' %}</a>]</small></td>
        <td>{{collection.result.description}}</td>
        <td>{% translateCollectionStatus collection.status role collection.address own_collections %}</td>
        <td>{% if collection.decisionExplanation %}<p>{{collection.decisionExplanation}}</p>{% else %}{% endif %}</td>
        <td>
          {% if role == "admin" or collection.address in own_collections %}
          <p style="text-align: center;"><input {% if frozen or collection.status != 1 %} disabled {% endif %} onChange="" type="checkbox" name="collection_id_{{ collection.id }}" value="{{ collection.address }}" style="vertical-align: middle;"></p>
          {% else %}
          <p style="text-align: center;">{% trans "handler_not_handling" %}</p>
          {% endif %}
        </td>
        {% if forloop.first %}
          <td rowspan="{{collections|length}}" style="background-color:white; border-bottom:0px;">
            <h5>{% trans "decision_arguments" %}</h5>
            <span>{% trans "select_checksboxes_to_apply_this_decision_to" %}</span>
            <div class="form-group">
              <input type="hidden" id="requestid" name="requestid" value={{userRequest.id}}>
              <input type="hidden" id="next" name="next" value="{{request.path}}?next=decision">
              <textarea class="form-control" rows="5" cols="700" id="reason" name="reason"></textarea>
              <p style="margin:2px;">{% trans "arguments_will_be_applied_to_all_selected" %}</p>
              <button type="submit" id="submit" name="answer" value=1 class="btn btn-success btn-sm" {% if userRequest.frozen %} disabled {% endif %}>{% trans "accept" %}</button>
              {% if role == "admin" %}
              <button type="submit" id="submit" name="answer" value=3 class="btn btn-default btn-sm" {% if userRequest.frozen %} disabled {% endif %}>{% trans "reset" %}</button>
              {% endif %}
              <button type="submit" id="submit" name="answer" value=0 class="btn btn-danger btn-sm" {% if userRequest.frozen %} disabled {% endif %}>{% trans "refuse" %}</button>
            </div>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    {% endwith %}
  </table>
  {% csrf_token %}
</form>
{% endwith %}
{% endif %}
