{% load i18n %}
{% load pyha_tags %}

<h3>{% trans "request_window" %}</h3>
<p>{% trans "request_window_description" %}</p>
<p>{% if role != "user" %}{% trans 'given_values_are_not_absolute_handler' %}{% else %}{% trans 'given_values_are_not_absolute_user' %}{% endif %}</p>
<table class="table" style="width:100%">
  <tr style=color:black>
    <th>{% trans "collection_name" %}</th>
    <th></th>
    <th>{% trans "collection_description" %}</th>
    <th>{% trans "collection_quality_description" %}</th>
    <th>{% trans "collection_terms" %}</th>
    <th>{% trans "collection_counts" %}</th>
    <!--th>{% trans "secured_by_quarantine" %}<small><a class="normaltooltip"> [?]<span class="normaltooltiptext">{% trans 'secured_by_quarantine_explanation'%}</span></a></small></th>
    <th>{% trans "secured_by_sensitivity" %}<small><a class="normaltooltip"> [?]<span class="normaltooltiptext">{% trans 'secured_by_sensitivity_explanation'%}</span></a></small></th>
    <th>{% trans "secured_by_data_provider" %}<small><a class="normaltooltip"> [?]<span class="normaltooltiptext">{% trans 'secured_by_dataprovider_explanation'%}</span></a></small></th-->
    <th>{% trans "state_of_processing" %}</th>
  </tr>
  {% for collection in collections %}
    {% if collection.status == 1 %}
    <tr class="info clickable-row">
    {% elif collection.status == 3 %}
    <tr class="danger clickable-row">
    {% elif collection.status == 4 %}
    <tr class="success clickable-row">
    {% else %}
    <tr>
    {% endif %}
    <td>{{collection.result.collectionName}}</td>
    <td><small>[<a href="{{tun_link}}{{collection.address}}" target="_blank">{% trans 'to_metadata' %}</a>]</small></td>
    <td>{{collection.result.description}}</td>
    <td>{{collection.result.qualityDescription}}</td>
    <td>{{collection.result.collectionTerms}}</td>
    <td>
      {% for count in collection.counts %}
      {{ count.label }}: {% collectionCount count.count role %}<br>
      {% endfor %}
    </td>
    <!--td>{{collection.quarantineSecured}}</td>
    <td>{{collection.taxonSecured}}</td>
    <td>{{collection.customSecured}}</td-->
    <td>{% translateCollectionStatus collection.status role collection.address handles %}</td>
  {% endfor %}
</table>
