											{% load i18n %}
											{% load pyha_tags %}
												<h3>{% trans "restricted_collections_in_request" %}</h3>
												<p>{% trans 'given_values_are_not_absolute' %}</p>
												<p>{% trans "sensitivity_info" %}</p>

												<p></p>
												<table class="table" style="width:100%">
												<tr style=color:black>

												<th>{% trans "collection_name" %}</th>
												<th>{% trans "collection_description" %}</th>
												<th>{% trans "collection_quality_description" %}</th>
												<th>{% trans "collection_terms" %}</th>
												<th>{% trans "collection_count" %}</th>
												<!--th>{% trans "secured_by_quarantine" %}<small><a class="normaltooltip"> [?]<span class="normaltooltiptext">{% trans 'secured_by_quarantine_explanation'%}</span></a></small></th>
												<th>{% trans "secured_by_sensitivity" %}<small><a class="normaltooltip"> [?]<span class="normaltooltiptext">{% trans 'secured_by_sensitivity_explanation'%}</span></a></small></th>
												<th>{% trans "secured_by_data_provider" %}<small><a class="normaltooltip"> [?]<span class="normaltooltiptext">{% trans 'secured_by_dataprovider_explanation'%}</span></a></small></th-->
												<th></th>

												</tr>
												{% for collection in collections %}
												<tr id="taxon{{ collection.address }}" style="border-bottom:2px solid #456789">
													<td>{{collection.result.collectionName}} <small>[<a href="{{tun_link}}{{collection.address}}" target="_blank">{% trans 'to_metadata' %}</a>]</small></td>
													<td>{{collection.result.description}}</td>
													<td>{{collection.result.qualityDescription}}</td>
													<td>{{collection.result.collectionTerms}}</td>
    											<td style="white-space: pre">{% collectionCounts collection.counts role %}</td>
													<!--td>{{collection.quarantineSecured}}</td>
													<td>{{collection.taxonSecured}}</td>
													<td>{{collection.customSecured}}</td-->
													<td>

														<div class="deleteContainer">
															<button class="removeCollectionButton" id="form{{ collection.id }}" type="button" ><span class="glyphicon glyphicon-trash"></span></button>
																{% trans "Delete_these_sightings" %}
														</div>

													</td>
												</tr>
												{% endfor %}
												</table>
												<ul class="list-inline pull-right">
												<li><span id ="statustextsens">{% trans "you_have_not_accepted_terms" %}</span></li>
												<li id="sensterms"><button type="button" class="btn btn-default" required data-toggle="modal" data-target="#myModalsens">{% trans "terms" %}</button><li>
												<li><button type="button" class="btn btn-default prev-step">{% trans 'previous'%}</button></li>
												<li><button type="button" id ="to_step_summary" class="btn btn-primary next-step" disabled="true">{%trans 'continue'%}</button></li>
												</ul>
